*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:active {outline: none;}
a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active {outline: none;}
button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

// a:focus, button:focus {
//   outline: 1px solid var(--color-brown);
//   outline-offset: 3px;
// }

html {
  font-size: getVw($fs, 19.2px);
  @media (max-width: ($breakpoint - 1px)) {
    font-size: getVw($fs, 12.8px);
  }
  @media (max-width: ($breakpoint-t - 1px)) {
    font-size: getVw($fs, 10.24px);
  }
  @media (max-width: ($breakpoint-m)) {
    font-size: getVw($fs, 7.68px);
  }
  @media (max-width: ($breakpoint-s - 1px)) {
    font-size: getVw($fs, 5.76px);
  }
  @media (max-width: ($breakpoint-xs)) {
    font-size: getVw($fs, 3.75px);
  }
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  min-width: 100vw;
  overflow-x: hidden;
  
  @include f-main();
  color: var(--color-black);
  @include fsl(16px, 130%);
  background: var(--color-white);

  // @include styled-scrollbar;
  // @include scrollbar-hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

ul,
ol {
  list-style: none;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

address {
  font-style: normal;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

picture {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-shrink: 0;
}

button {
  color: var(--color-black);
}

.wrapper {
  // @media (max-width: ($breakpoint - 1px)) {
  //   overflow-x: hidden;
  // }
}

.container {
  padding: 0 #{$col-pad-d};
  @media (max-width: ($breakpoint - 1px)) {
    padding: 0 #{$col-pad-m};
  }
}

.no-transition * {
  transition: none !important;
}