@function getVw($px, $width) {
  @return $px / $width * 1vw;
}

// @function getRem($px) {
//   @return unquote('#{$px / $fs}rem');
// }

@function getStatic($px, $width) {
  $percent: $width / 19.2px;
  @return $px * $percent;
}

@keyframes loop {
  0% { 
    transform: scaleY(1); 
    transform-origin: bottom center; 
  }
  35% { 
    transform: scaleY(0); 
    transform-origin: bottom center; 
  }
  65% { 
    transform: scaleY(0); 
    transform-origin: top center; 
  }
  100% { 
    transform: scaleY(1); 
    transform-origin: top center; 
  }
}
