.only-mobile {
  @media (min-width: $breakpoint) {
    display: none !important;
  }
}

.only-desktop {
  @media (max-width: ($breakpoint - 1px)) {
    display: none !important;
  }
}

.relative {
  position: relative;
}

.no-flex {
  flex-shrink: 0;
}

.txt-white {
  color: var(--color-white);
}

.txt-nowrap {
  white-space: nowrap;
}

.width-fit {
  width: fit-content;
}

.mt10 {
  margin-top: 10px;
}

.mb60 {
  margin-bottom: 60px;
}
