.only-mobile {
  @media (min-width: $breakpoint) {
    display: none !important;
  }
}

.only-desktop {
  @media (max-width: ($breakpoint - 1px)) {
    display: none !important;
  }
}

.relative {
  position: relative;
}

.txt-white {
  color: var(--color-white);
}

.width-fit {
  width: fit-content;
}

.mt10 {
  margin-top: 10px;
}