.button {

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  background: transparent;

  padding: getRem(12px) getRem(45px);

  @include fsl(14px);
  font-weight: 600;
  line-height: 17px;

  &--clean {
    cursor: pointer;
    border: none;
    background: transparent;
  }

  &--brown {
    background: var(--color-brown);
    color: var(--color-white);

    transition: $transition;

    &:hover {
      background: var(--color-black);
    }
  }

  &--brown-border {
    border: 1px solid var(--color-brown);
    padding: getRem(15px) getRem(38px);
    font-weight: 400;
    
    transition: $transition;

    &:hover {
      background: var(--color-brown);
      color: var(--color-white);
    }

    @media (min-width: $breakpoint) {
      @include fsl(16px, 120%);
    }
  }
}

.slider-control {
  width: getRem(44px);
  height: getRem(44px);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color-brown);
  border-radius: 50%;

  transition: $transition;

  svg path {
    transition: $transition;
  }

  &:hover {
    border-color: var(--color-black);

    svg path {
      stroke: var(--color-black);
    }
  }
}
