.review-card {
  width: calc(#{$col-part-d} * 4 - #{$col-gap});
  padding: getRem(50px);
  background: var(--color-white);

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: getRem(20px);
  }

  &__name {
    margin-right: getRem(10px);

    @include fsl(20px, 130%);
    font-weight: 600;

  }

  &__grade {
    display: flex;
    align-items: center;
  }

  &__star {
    &.active path {
      fill: var(--color-brown);
    }
  }

  &__txt {
    @include fsl(20px, 160%);
    margin: getRem(20px) 0;
  }
}

.catalog-card {
  $comp: &;

  background: #FAFAFA;
  padding: getRem(30px);

  height: 100%;
  width: calc(#{$col-part-d} * 3 - #{$col-gap});

  position: relative;
  display: flex;
  flex-direction: column;

  // &:hover {
  //   #{$comp}__btn {
  //     // position: relative;
  //     display: block;
  //     opacity: 1;
  //     pointer-events: all;
  //   }
  // }

  &__top {
    position: relative;
    // min-height: getRem(265px);
  }

  &__labels {
    position: absolute;
    top: 0;
    left: 0;

    &-item {
      color: var(--color-white);
      width: fit-content;
      padding: getRem(4px) getRem(8px);

      @include fsl(14px, 120%);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &:not(:first-child) {
        margin-top: getRem(6px);
      }

      &.label-black {
        background: var(--color-black);
      }
      &.label-brown {
        background: var(--color-brown);
      }
    }
  }

  &__fav {
    position: absolute;
    top: 0;
    right: 0;

    &.active path {
      fill: var(--color-black);
    }
  }

  &__bottom{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__brand {
    @include fsl(16px, 130%);
    color: var(--color-brown);
  }
  &__title {
    @include fsl(20px, 140%);
    min-height: getRem(56px);
    margin-top: getRem(5px)
  }
  &__info {
    margin-top: getRem(14px);
  }
  &__country {
    display: flex;
    align-items: center;

    @include fsl(16px, 130%);
    font-weight: 600;

    margin-bottom: getRem(5px);
  }
  &__txt {
    @include fsl(16px, 130%);
  }
  &__strong {
    display: flex;
    align-items: center;

    .point {
      width: getRem(10px);
      height: getRem(10px);
      border-radius: 50%;
      background: var(--color-black);
      opacity: .2;
      margin-left: getRem(10px);

      &.active {
        opacity: 1;
      }

      &:nth-child(1) {
        margin-left: getRem(12px);
      }
    }
  }

  &__price {
    margin-top: getRem(30px);

    .current {
      @include fsl(20px, 120%);
      font-weight: 600;
    }
    .old {
      @include fsl(18px, 120%);
      text-decoration: line-through;
      color: var(--color-grey);
      margin-left: getRem(15px);
    }
  }

  &__btn {
    margin-top: getRem(15px);
    width: 100%;

    // position: absolute;
    // display: none;
    // opacity: 0;
    // pointer-events: none;

    // bottom: 0;

    white-space: nowrap;

    transition: $transition;
  }


  &--small {
    padding: getRem(20px) getRem(15px);
    height: auto;

    #{$comp}__brand {
      color: var(--color-black);
      @include fsl(14px, 130%);
    }
    #{$comp}__title {
      margin-top: getRem(6px);
      @include fsl(16px, 140%);
      min-height: unset;
    }
    #{$comp}__info {
      margin-top: getRem(20px);
    }
    #{$comp}__price {
      margin-top: 0;

      .current {
        @include fsl(18px, 100%);
      }
    }
    #{$comp}__btn {
      margin-top: getRem(14px);
      @include fsl(14px, 100%);
      font-weight: 600;
      padding: getRem(10px);
    }
  }
}

.recommend-card {
  width: calc(#{$col-part-d} * 4 - #{$col-gap});
  background: var(--color-white);
  padding: getRem(40px);

  &__ttl {
    margin-top: getRem(30px);
    @include fsl(24px, 140%);
    font-weight: 600;
  }

  &__txt {
    margin-top: getRem(12px);
    @include fsl(18px, 160%);
  }
}

.articles-card {
  $comp: &;

  width: calc(#{$col-part-d} * 4 - #{$col-gap});
  display: flex;
  flex-direction: column;
  height: auto;

  &:not(:last-child) {
    margin-right: #{$col-gap};
  }

  &__top {
    position: relative;
    padding-bottom: getRem(15px);
    border-bottom: 1px solid var(--color-black-rgba-1);

    .catalog-card__labels {
      top: getRem(30px);
      left: getRem(30px);
    }
  }

  &__img {
    object-fit: cover;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    &-row {
      display: flex;
      justify-content: space-between;

      margin-top: getRem(30px);
    }
  }

  &__ttl {
    margin: getRem(15px) 0;

    font-family: 'Berlingske Serif';
    @include fsl(30px, 130%);
  }

  &__txt {
    @include fsl(18px, 160%);

    @include cropText(3);
  }

  &__info {
    display: flex;

    &-col {
      @include fsl(16px, 150%);
      color: var(--color-grey);
      position: relative;

      &:nth-child(1) {
        padding-right: getRem(15px);

        &::after {
          content: '';
          position: absolute;
          top: 20%;
          right: 0;
          width: 1px;
          height: getRem(11px);
          background: var(--color-grey);
        }
      }
      &:nth-child(2) {
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding-left: getRem(14px);
      }
    }
  }


  &--big {
    display: flex;

    #{$comp}__top, #{$comp}__img {
      width: calc(#{$col-part-d} * 6 - #{$col-gap});
    }

    #{$comp}__top {
      padding-bottom: 0;
    }

    #{$comp}__bottom {
      width: calc(#{$col-part-d} * 6);
      padding: getRem(60px) 0 getRem(60px) calc(#{$col-part-d});
    }

    #{$comp}__ttl {
      @include fsl(48px, 130%);
    }
    #{$comp}__txt {
      @include fsl(20px, 160%);
    }


    &-revert {
      flex-direction: row-reverse;

      #{$comp}__bottom {
        padding: getRem(60px) calc(#{$col-part-d}) getRem(60px) 0;
      }
    }
  }
}