.review-card {
  
  padding: getRem(25px) getRem(20px);
  background: var(--color-white);

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    padding: getRem(50px);
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: getRem(8px);

    @media (min-width: $breakpoint) {
      margin-bottom: getRem(20px);
    }
  }

  &__name {
    margin-right: getRem(8px);

    @include fsl(18px, 130%);
    font-weight: 600;

    @media (min-width: $breakpoint) {
      margin-right: getRem(10px);
      @include fsl(20px, 130%);
    }
  }

  &__grade {
    display: flex;
    align-items: center;
  }

  &__star {
    &.active path {
      fill: var(--color-brown);
    }
  }

  &__txt {
    @include fsl(16px, 170%);
    margin: getRem(8px) 0 getRem(6px);

    @media (min-width: $breakpoint) {
      @include fsl(20px, 160%);
      margin: getRem(20px) 0;
    }
  }

  &__btn {
    @include fsl(16px, 130%);
    font-weight: 600;
  }
}

.catalog-card {
  $comp: &;

  background: var(--background-grey-extra-2);
  padding: getRem(15px);

  height: 100%;
  width: getRem(186px);

  position: relative;
  display: flex;
  flex-direction: column;

  transition: $transition;

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 3 - #{$col-gap});
    padding: getRem(30px) 0 getRem(15px);
  }

  &.in-cart {
    .catalog-card__btn {
      background: var(--color-black);
    }
    .added-to-cart {
      opacity: 1;
    }
  }

  @media (min-width: $breakpoint) {
    &:hover, &:focus {
      z-index: 10;
      filter: drop-shadow(0px getRem(4px) getRem(4px) rgba(0, 0, 0, 0.25));

      #{$comp}__btn-container {
        transform: translateY(getRem(63px));
      }
    }
  }

  &__top {
    position: relative;
    z-index: 1;
    background: var(--background-grey-extra-2);

    @media (min-width: $breakpoint) {
      padding: 0 getRem(30px);
    }
  }

  &__labels {
    position: absolute;
    top: 0;

    @media (min-width: $breakpoint) {
      left: getRem(30px);
    }

    &-item {
      color: var(--color-white);
      width: fit-content;
      padding: getRem(4px);

      @include fsl(14px, 100%);
      font-weight: 600;
      
      text-transform: uppercase;

      @media (min-width: $breakpoint) {
        letter-spacing: 0.1em;
        padding: getRem(4px) getRem(8px);
      }

      &:not(:first-child) {
        margin-top: getRem(6px);
      }

      &.label-black {
        background: var(--color-black);
      }
      &.label-brown {
        background: var(--color-brown);
      }
      &.label-red {
        background: var(--color-red);
      }
    }
  }

  &__fav {
    position: absolute;
    top: 0;
    right: 0;

    @media (min-width: $breakpoint) {
      right: getRem(30px);
    }

    svg {
      width: getRem(20px);
      height: getRem(20px);

      @media (min-width: $breakpoint) {
        width: getRem(24px);
      height: getRem(24px);
      }
    }

    path {
      transition: $transition;
    }

    &.active path {
      fill: var(--color-black);
    }
  }

  &__bottom {
    position: relative;
    z-index: 1;
    padding-bottom: getRem(15px);
    background: var(--background-grey-extra-2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (min-width: $breakpoint) {
      padding: 0 getRem(30px) getRem(15px);
    }
  }
  &__brand {
    @include fsl(14px, 130%);
    color: var(--color-brown);

    @media (min-width: $breakpoint) {
      @include fsl(16px, 130%);
    }
  }
  &__title {
    @include fsl(16px, 130%);
    margin-top: getRem(4px);

    @media (min-width: $breakpoint) {
      @include fsl(20px, 140%);
      margin-top: getRem(5px);
      min-height: getRem(56px);
    }
  }
  &__info {
    margin-top: getRem(8px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      height: getRem(105px);
    }

    @media (min-width: $breakpoint) {
      margin-top: getRem(14px);
    }
  }
  &__country {
    display: flex;
    align-items: center;

    @include fsl(14px, 130%);
    font-weight: 600;

    margin-bottom: getRem(5px);

    @media (min-width: $breakpoint) {
      @include fsl(16px, 130%);
    }
  }
  &__txt {
    @include fsl(16px, 130%);
  }
  &__strong {
    display: flex;
    align-items: center;
    flex: none;

    .point {
      width: getRem(8px);
      height: getRem(8px);
      border-radius: 50%;
      background: var(--color-black);
      opacity: .2;
      margin-left: getRem(8px);
      flex: none;

      @media (min-width: $breakpoint) {
        width: getRem(10px);
        height: getRem(10px);
        margin-left: getRem(10px);
      }

      &.active {
        opacity: 1;
      }

      &:nth-child(1) {
        margin-left: getRem(10px);

        @media (min-width: $breakpoint) {
          margin-left: getRem(12px);
        }
      }
    }
  }

  &__price {
    margin-top: getRem(12px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $breakpoint) {
      margin-top: getRem(30px);
    }

    .current {
      // font-family: 'Montserrat';

      @include fsl(15px, 120%);
      font-weight: 600;
      white-space: nowrap;

      @media (min-width: $breakpoint) {
        @include fsl(20px, 120%);
      }
    }
    .old {
      // font-family: 'Montserrat';

      @include fsl(14px, 120%);
      text-decoration: line-through;
      color: var(--color-grey);
      margin-left: getRem(10px);
      white-space: nowrap;

      @media (min-width: $breakpoint) {
        @include fsl(18px, 120%);
        margin-left: getRem(15px);
      }
    }
  }

  &__btn {
    // margin-top: getRem(15px);
    width: 100%;
    white-space: nowrap;

    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(10px);
    }

    @media (min-width: $breakpoint) {
      height: getRem(48px);
    }

    &-container {
      transition: $transition;

      @media (min-width: $breakpoint) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        background: var(--background-grey-extra-2);

        padding: 0 getRem(30px) getRem(30px);
      }
    }
  }


  &--small {
    // width: calc(#{$col-part-d} + #{$col-width-d});
    width: 100%;
    padding: getRem(20px) getRem(15px);
    height: auto;

    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(180px);
      flex: none;

      &:not(:last-child) {
        margin-right: getRem(15px);
      }
    }

    #{$comp}__bottom {
      padding: 0;
    }
    #{$comp}__brand {
      @include fsl(14px, 130%);
    }
    #{$comp}__title {
      margin-top: getRem(6px);
      @include fsl(16px, 140%);
      min-height: unset;
    }
    #{$comp}__info {
      margin-top: getRem(20px);

      @media (max-width: ($breakpoint - 1px)) {
        height: auto;
      }
    }
    #{$comp}__price {
      margin-top: 0;

      .current {
        @include fsl(18px, 100%);
      }
    }
    #{$comp}__btn {
      margin-top: getRem(14px);
      @include fsl(14px, 100%);
      font-weight: 600;
      padding: getRem(10px);
    }
  }
}

.recommend-card {
  width: calc(#{$col-part-d} * 4 - #{$col-gap});
  background: var(--color-white);
  padding: getRem(40px);

  &__ttl {
    margin-top: getRem(30px);
    @include fsl(24px, 140%);
    font-weight: 600;
  }

  &__txt {
    margin-top: getRem(12px);
    @include fsl(18px, 160%);
  }
}

.articles-card {
  $comp: &;

  
  display: flex;
  flex-direction: column;
  height: auto;

  @media (max-width: ($breakpoint - 1px)) {
    &:not(:last-child) {
      margin-bottom: getRem(30px);
    }
  }

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
  }

  &:hover {
    .two-cols-block__link {
      color: var(--color-brown);
    }
    .articles-card__img {
      transform: scale(1.1);
    }
  }

  // &:not(:last-child) {
  //   margin-right: #{$col-gap};
  // }

  &__top {
    position: relative;

    @media (min-width: $breakpoint) {
      height: getRem(274px);
      padding-bottom: getRem(15px);
      border-bottom: 1px solid var(--color-black-rgba-1);
    }

    .catalog-card__labels {
      top: getRem(20px);
      left: getRem(20px);
      z-index: 1;

      @media (min-width: $breakpoint) {
        top: getRem(30px);
        left: getRem(30px);
      }
    }
  }

  &__top-img {
    overflow: hidden;
    height: getRem(200px);

    @media (min-width: $breakpoint) {
      height: 100%;
    }
  }
  &__img {
    object-fit: cover;
    transition: $transition;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    &-row {
      display: flex;
      justify-content: space-between;

      margin-top: getRem(8px);
      @media (min-width: $breakpoint) {
        margin-top: getRem(30px);
      }

      .two-cols-block__link {
        @media (max-width: ($breakpoint - 1px)) {
          @include fsl(13px, 150%);
          padding-bottom: 0;
        }
      }
    }
  }

  &__ttl {
    margin: getRem(8px) 0 getRem(6px);
    font-family: 'Berlingske Serif';

    @media (min-width: $breakpoint) {
      margin: getRem(15px) 0;
    }
  }

  &__txt {
    @include fsl(14px, 170%);

    @include cropText(3);

    @media (min-width: $breakpoint) {
      @include fsl(18px, 160%);
    }
  }

  &__info {
    display: flex;

    &-col {
      @include fsl(13px, 150%);
      color: var(--color-grey);
      position: relative;

      @media (min-width: $breakpoint) {
        @include fsl(16px, 150%);
      }

      &:nth-child(1) {
        padding-right: getRem(10px);

        @media (min-width: $breakpoint) {
          padding-right: getRem(15px);
        }

        &::after {
          content: '';
          position: absolute;
          top: 20%;
          right: 0;
          width: 1px;
          height: getRem(10px);
          background: var(--color-grey);

          @media (min-width: $breakpoint) {
            height: getRem(11px);
          }
        }
      }
      &:nth-child(2) {
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding-left: getRem(9px);

        @media (min-width: $breakpoint) {
          padding-left: getRem(14px);
        }
      }
    }
  }


  &--big {
    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }

    &:hover {
      .two-cols-block__link {
        color: var(--color-brown);
      }
      .articles-card__img {
        transform: scale(1.1);
      }
    }

    #{$comp}__top, #{$comp}__img {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 6 - #{$col-gap});
      }
    }

    #{$comp}__top {
      padding-bottom: 0;
      height: 100%;
    }

    #{$comp}__bottom {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 6);
        padding: getRem(60px) 0 getRem(60px) calc(#{$col-part-d});
      }
    }

    #{$comp}__ttl {
      @include fsl(24px, 130%);

      @media (min-width: $breakpoint) {
        @include fsl(48px, 130%);
      }
    }
    #{$comp}__txt {
      @include fsl(14px, 160%);

      @media (min-width: $breakpoint) {
        @include fsl(20px, 160%);
      }
    }


    &-revert {
      @media (min-width: $breakpoint) {
        flex-direction: row-reverse;

        #{$comp}__bottom {
          padding: getRem(60px) calc(#{$col-part-d}) getRem(60px) 0;
        }
      }
    }
  }
}

.added-to-cart {
  width: getRem(30px);
  height: getRem(26px);
  opacity: 0;
  transition: $transition;
}
