.footer {
  background: var(--color-background-grey);
  padding: getRem(70px) 0 getRem(64px) 0;

  &__top {
    display: flex;
    justify-content: space-between;

    padding-bottom: getRem(30px);
    border-bottom: 1px solid var(--color-border-grey);

    &-col {
      // display: flex;
      // flex-direction: column;

      // &:not(:last-child) {
      //   margin-right: getRem(100px);
      // }

      &:last-child {
        padding: 0 getRem(80px) 0 getRem(110px);
      }
    }

    &-ttl {
      @include fsl(16px, 130%);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      margin-bottom: getRem(18px);
    }

    &-link {
      display: block;
      @include fsl(16px, 150%);
      color: var(--color-black-extra);
      transition: $transition;

      &:not(:last-child) {
        margin-bottom: getRem(12px);
      }
      
    }

    a.footer__top-link:hover {
      color: var(--color-brown);
    }
  }

  &__bottom {

    display: flex;
    justify-content: space-between;

    padding-top: getRem(33px);

    &-col {

      &:nth-child(1) {
        display: flex;
      }

      &:nth-child(2) {
        margin-right: calc(#{$col-part-d});
      }

    }

    &-links {
      @include fsl(15px, 130%);
      transition: $transition;

      &:hover {
        color: var(--color-brown);
      }

      &:not(:last-child) {
        margin-bottom: getRem(8px);
      }

      &-col {
        display: flex;
        flex-direction: column;
        margin: 0 getRem(45px);
      }
    }

    .plus18 {
      display: flex;
      @include fsl(14px, 150%);
      color: var(--color-grey);

      img {
        width: getRem(40px);
        height: getRem(40px);
        margin-right: getRem(10px);
      }
    }
  }

  &__corp {
    @include fsl(14px, 140%);
    font-weight: 600;
    color: var(--color-grey);
  }
}

.icon-circle {
  border: 1px solid var(--color-border-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  width: getRem(45px);
  height: getRem(45px);
  padding: getRem(12px);
}

.footer__authors {
  white-space: nowrap;
  color: var(--color-grey);
  @include fsl(14px, 140%);

  a {
    color: var(--color-black);
  }

  &:not(:first-child) {
    margin-top: getRem(8px);
  }
}

.footer__socials {
  display: flex;
  margin-top: getRem(20px);

  .icon-circle:not(:last-child) {
    margin-right: getRem(8px);
  }
}
