.footer {
  background: var(--color-background-grey);
  padding: getRem(70px) 0 getRem(64px) 0;

  @media (min-width: $breakpoint) {
    padding: getRem(60px) 0
  }

  &__top {
    display: flex;
    justify-content: space-between;

    padding-bottom: getRem(30px);
    border-bottom: 1px solid var(--color-border-grey);

    &-col {
      // display: flex;
      // flex-direction: column;

      // &:not(:last-child) {
      //   margin-right: getRem(100px);
      // }

      &:last-child {
        padding: 0 getRem(80px) 0 getRem(110px);
      }
    }

    &-ttl {
      @include fsl(16px, 130%);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      margin-bottom: getRem(18px);
    }

    &-link {
      display: block;
      @include fsl(16px, 150%);
      color: var(--color-black-extra);
      transition: $transition;

      &:not(:last-child) {
        margin-bottom: getRem(10px);

        @media (min-width: $breakpoint) {
          margin-bottom: getRem(12px);
        }
      }
      
    }

    a.footer__top-link:hover {
      color: var(--color-brown);
    }
  }

  &__bottom {

    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }

    @media (min-width: $breakpoint) {
      padding-top: getRem(33px);
    }

    &-col {

      &:nth-child(1) {
        display: flex;
        flex: none;

        @media (max-width: ($breakpoint - 1px)) {
          padding: getRem(20px) 0;
          border-top: 1px solid #DADADA;
          border-bottom: 1px solid #DADADA;
        }
      }

      &:nth-child(2) {
        width: 100%;
        margin-right: calc(#{$col-part-d});
        display: flex;

        @media (max-width: ($breakpoint - 1px)) {
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: space-between;
          max-height: getRem(150px);
          padding-top: getRem(20px);
        }
      }

    }

    &-links {
      @include fsl(14px, 130%);
      transition: $transition;

      @media (min-width: $breakpoint) {
        @include fsl(15px, 130%);
      }

      &:hover {
        color: var(--color-brown);
      }

      &:not(:last-child) {
        margin-bottom: getRem(8px);
      }

      &-col {
        display: flex;
        flex-direction: column;
        // width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
        width: 60%;

        @media (min-width: $breakpoint) {
          margin: 0 getRem(45px);
          width: auto;
          padding-right: 0;
        }
      }
    }

    .plus18 {
      display: flex;
      @include fsl(14px, 150%);
      color: var(--color-grey);

      img {
        width: getRem(40px);
        height: getRem(40px);
        margin-right: getRem(10px);
      }
    }
  }

  &__corp {
    @include fsl(14px, 140%);
    color: var(--color-grey);

    // width: calc(#{$col-part-m} * 3);
    

    @media (max-width: ($breakpoint)) {
      margin-top: getRem(12px);
      white-space: nowrap;

      width: 50%;
    }

    @media (min-width: $breakpoint) {
      margin-top: getRem(8px);
    }
  }

  &__contacts {
    display: flex;
    padding-bottom: getRem(20px);
    border-bottom: 1px solid #DADADA;

    &-col {
      // width: calc(#{$col-part-m} * 2);
      width: 50%;
      flex: none;
   }

    & > .footer__top-link {
      padding-right: $col-gap-m;
    }
  }

  &__spoilers {
    padding: getRem(20px) 0;

    &-top:not(:first-child) {
      margin-top: getRem(15px);
    }

    .js-badger-accordion-header {
      @include fsl(16px, 130%);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.-ba-is-active {
        .footer__spoilers-arrows {
          transform: rotate(180deg);
        }
      }
    }

    &-arrows {
      transition: $transition;
      // width: getRem(8px);
      // height: getRem(4px);
    }

    .js-badger-accordion-panel-inner {
      padding-top: getRem(10px);
    }
  }
}

.icon-circle {
  border: 1px solid var(--color-border-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  width: getRem(30px);
  height: getRem(30px);

  @media (min-width: $breakpoint) {
    width: getRem(45px);
    height: getRem(45px);
    padding: getRem(12px);
  }
}

.footer__authors {
  color: var(--color-grey);
  @include fsl(14px, 140%);

  @media (min-width: $breakpoint) {
    white-space: nowrap;
  }

  &-col {
    width: 40%;
    padding-right: $col-gap-m;
    @media (min-width: $breakpoint) {
      margin: 0 0 0 auto;
      width: auto;
      padding-right: 0;
    }
  }

  a {
    color: var(--color-black);
  }

  &:not(:first-child) {
    margin-top: getRem(8px);
  }
}

.footer__socials {
  display: flex;
  margin-top: getRem(20px);

  .icon-circle:not(:last-child) {
    margin-right: getRem(8px);
  }
}
