.checkbox {
  $comp: &;

  display: flex;
  flex-wrap: wrap;

  &__label {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    cursor: pointer;

    user-select: none;

  }

  &__input {
    position: absolute;
    left: 0;

    visibility: hidden;

    &:checked {
      ~#{$comp}__box {
        // border-color: var(--color-blue);

        #{$comp}__svg {
          opacity: 1;
        }
      }
    }
  }

  &__box {
    margin-right: getRem(10px);

    width: getRem(20px);
    height: getRem(20px);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    // transition: $transition;
    border: 1px solid var(--color-brown);
  }

  &__svg {
    opacity: 0;
    width: getRem(20px);
    height: getRem(20px);
    flex: none;
    // transition: $transition;
  }
}


.subscription-form {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: getRem(30px);
  

  @media (min-width: $breakpoint) {
    padding-left: calc(#{$col-part-d} * 6);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
  }

  &__input {
    padding: getRem(11px) getRem(20px);
    background: #303030;
    border: none;

    color: var(--color-grey);

    @include fsl(16px, 160%);

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap});
    }
  }

  &__button {
    margin-top: getRem(20px);

    @media (min-width: $breakpoint) {
      margin-top: 0;
      width: calc(#{$col-part-d} * 3 - #{$col-gap});
    }
  }

  &__checkbox {
    width: 100%;
    margin-top: getRem(33px);
    display: flex;

    .checkbox__label {
      align-items: flex-start;
      padding-top: getRem(5px);
    }

    .checkbox__caption {
      @include fsl(16px, 160%);
      color: var(--color-grey);

      @media (max-width: ($breakpoint - 1px)) {
        width: 90%;
      }

      a {
        color: var(--color-brown);
        transition: $transition;

        &:hover {
          color: var(--color-white);
        }
      }
    }
  }
}


.category-search {
  display: flex;
  align-items: center;
  width: calc(#{$col-part-d} * 3 - #{$col-gap});
  padding-bottom: getRem(5px);
  border-bottom: 1px solid var(--color-black-rgba-1);

  &__input {
    border: none;
    width: calc(100% - 17px);
    color: var(--color-grey);
    @include fsl(14px, 120%);
  }

  &.mob {
    width: 100%;
    margin-top: getRem(80px);
  }
}

.form {

  &__label {
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: getRem(20px);
  }

  &__field-name {
    @include fsl(16px, 160%);
    margin-bottom: getRem(8px);

    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;
    padding: getRem(10px) getRem(20px);
    border: 1px solid var(--color-border-grey);
    border-radius: 2px;

    @include fsl(16px, 160%);
    color: var(--color-grey);

    transition: $transition;

    &:hover, &:focus {
      border: 1px solid var(--color-black);
    }
  }

  &__textarea {
    width: 100%;
    height: getRem(140px);
    padding: getRem(10px) getRem(20px);
    border: 1px solid var(--color-border-grey);
    border-radius: 2px;
    resize: none;

    @include fsl(16px, 160%);
    color: var(--color-grey);
  }

  &__btn {
    margin-top: getRem(30px);
    width: 100%;
  }

  &-error {
    display: block;
    width: 100%;
    order: 1;

    &.active {
      @include fsl(16px);
      color: var(--color-brown);
      margin-top: getRem(8px);
    }
  }
}

.booking-popup-form {

  &__ttl {
    margin-bottom: getRem(16px);
  }

  sup {
    color: var(--color-brown);
    height: 50%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .form__label {
      width: calc(50% - 10px);
    }
  }

  &__datepicker {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-right: getRem(20px);
    border: 1px solid var(--color-border-grey);
    border-radius: 2px;

    transition: $transition;

    input {
      width: 100%;
      padding: getRem(10px) getRem(20px);
      border: none;
      @include fsl(16px, 160%);
      color: var(--color-grey);
    }

    .calendar-svg {
      width: getRem(20px);
      height: getRem(20px);

      path {
        transition: $transition;
      }
    }

    &:hover, &:focus {
      border: 1px solid var(--color-black);

      .calendar-svg path {
        fill: var(--color-black);
      }
    }
  }

  &__btn {
    width: 100%;
  }

  &__note {
    margin-top: getRem(20px);
    @include fsl(14px, 160%);
    color: var(--color-grey);

    @media (min-width: $breakpoint) {
      margin-top: getRem(30px);
      @include fsl(16px, 160%);
    }

    a {
      color: var(--color-grey);
      border-bottom: 1px solid var(--color-grey);
    }
  }
}

.select {
  position: absolute;
  left: 0;
  z-index: 60;
  width: 95%;
  background: var(--color-white);
  padding: getRem(22px) getRem(20px) getRem(20px);
  box-shadow: 0px getRem(5px) getRem(10px) rgba(86, 86, 86, 0.06);

  opacity: 0;
  pointer-events: none;

  transition: $transition;
  transform: translateY(-100%);

  &__option {
    @include fsl(16px, 160%);
    margin: getRem(6px) 0;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: var(--color-brown);
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-input {
    background: var(--color-white);
    position: relative;
    z-index: 65;

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      padding-right: getRem(20px);
      border: 1px solid var(--color-border-grey);
      border-radius: 2px;

      transition: $transition;

      input {
        width: 100%;
        padding: getRem(10px) getRem(20px);
        border: none;
        @include fsl(16px, 160%);
        color: var(--color-grey);
      }

      svg {
        width: getRem(10px);
        height: getRem(7px);

        transition: $transition;

        path {
          stroke: var(--color-grey);
          transition: $transition;
        }
      }

      &:hover {
        border: 1px solid var(--color-black);
  
        svg path {
          stroke: var(--color-black);
        }
      }
    }
  }
  &-label {
    overflow: hidden;
    position: relative;

    display: block;
    margin-bottom: getRem(20px);

    &.active {
      overflow: visible;

      .select {
        transform: none;
        opacity: 1;
        pointer-events: all;
      }

      .select-input__row svg {
        transform: rotate(180deg);
      }
    }
  }
}

.datepicker-dropdown {
  right: getRem(20px);
  left: getRem(20px) !important;
  z-index: 70;

  @media (min-width: $breakpoint) {
    left: getRem(50px) !important;
    right: getRem(50px);
  }
  @media (max-width: ($breakpoint - 1px)) {
    position: fixed;
    bottom: getRem(145px);
    top: auto !important;
  }
}

.datepicker-picker {
  width: 100%;
  padding: getRem(20px);

  .days {
    width: 100%;
  }
}

.datepicker-controls {
  margin-bottom: getRem(20px);

  .button {
    @include fsl(14px);
    font-weight: 600;
  }
}

.datepicker-grid {
  // width: calc(#{$col-part-d} * 2 + #{$col-pad-d} - getRem(100px));
  // width: getRem(366px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;

  &.months, &.years, &.decades {
    grid-template-columns: repeat(4, 1fr);
    row-gap: getRem(36px);
    padding: getRem(27px) 0 getRem(20px);
  }
}

.days-of-week {
  border-bottom: 1px solid var(--color-border-grey);
  color: var(--color-grey);
  margin:0 getRem(10px) getRem(10px);
  padding-bottom: getRem(7px);
  justify-content: space-between;

  span.dow {
    flex: none;
  }
}

.datepicker-cell {
  @include fsl(14px);

  &.day {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(37px);
    height: getRem(37px);
    line-height: unset;
  
    &:not(.disabled):not(.selected):not(.focused):hover {
      border: 1px solid var(--color-grey);
      background: var(--color-white);

      transition: $transition;
    }
  }
  &.month, &.year, &.decade {
    width: getRem(72px);
    border-radius: getRem(60px);
    height: getRem(37px) !important;
    line-height: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.disabled):not(.selected):not(.focused):hover {
      border: 1px solid var(--color-grey);
      background: var(--color-white);

      transition: $transition;
    }
  }
}

.datepicker-cell.selected, .datepicker-cell.selected:hover, .datepicker-cell.today:not(.selected), .datepicker-cell.focused:not(.selected) {
  background: var(--color-brown);
  color: var(--color-white);
  font-weight: 600;
}

.datepicker-arrow {
  width: getRem(7px);
  height: getRem(12px);

  &.next {
    transform: rotate(180deg);
  }
  &:hover path {
    stroke: var(--color-black-rgba-5);

    transition: $transition;
  }
}

.datepicker-cell.year.disabled {
  display: none;
}

.product-body-consult {
  padding: getRem(50px) getRem(20px);
  margin: 0 -$col-gap-m;
  background: var(--background-grey-extra-2);

  @media (min-width: $breakpoint) {
    padding: getRem(50px);
    margin: 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
  }
  .form__label {
    width: 100%;
    @media (min-width: $breakpoint) {
      width: calc(50% - #{getRem(10px)});
    }
  }
  .button {
    width: 100%;
    white-space: nowrap;
    @media (min-width: $breakpoint) {
      width: calc(50% - #{getRem(10px)});
    }
  }
  .checkbox {
    display: flex;
    margin-top: getRem(30px);
  }
  .checkbox__label {
    align-items: flex-start;
    padding-top: getRem(5px);
  }
  .form__input {
    &:focus, &:hover {
      border-color: var(--color-grey);
    }
  }
  .checkbox__caption {
    @include fsl(16px, 140%);
    color: var(--color-grey);

    @media (max-width: ($breakpoint - 1px)) {
      width: 80%;
    }

    a {
      color: var(--color-brown);
      transition: $transition;

      &:hover {
        color: var(--color-black);
      }
    }
  }
}

.cart-form-label {
  @media (min-width: $breakpoint) {
    position: relative;
    align-items: center;

    .form-error.active {
      position: absolute;
      right: calc(-70% - #{getRem(14px)});
      max-width: getRem(335px);
      margin-top: getRem(30px);
    }
  }
}
