.checkbox {
  $comp: &;

  &__label {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    cursor: pointer;

    // &:hover {
    //   #{$comp}__box {
    //     border-color: var(--color-blue);
    //   }
    // }
  }

  &__input {
    position: absolute;
    left: 0;

    visibility: hidden;

    &:checked {
      ~#{$comp}__box {
        border-color: var(--color-blue);

        #{$comp}__svg {
          opacity: 1;
        }
      }
    }
  }

  &__box {
    margin-right: getRem(10px);

    width: getRem(20px);
    height: getRem(20px);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    // transition: $transition;
    border: 1px solid var(--color-brown);
  }

  &__svg {
    opacity: 0;
    // transition: $transition;
  }
}


.subscription-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: getRem(30px);
  padding-left: calc(#{$col-part-d} * 6);

  &__input {
    width: calc(#{$col-part-d} * 3 - #{$col-gap});
    padding: getRem(11px) getRem(20px);
    background: #303030;
    border: none;

    @include fsl(16px, 160%);
  }

  &__button {
    width: calc(#{$col-part-d} * 3 - #{$col-gap});
  }

  &__checkbox {
    width: 100%;
    margin-top: getRem(33px);
    display: flex;
    align-items: center;

    .checkbox__caption {
      @include fsl(16px, 160%);
      color: var(--color-grey);

      a {
        color: var(--color-brown);
      }
    }
  }
}


.category-search {
  display: flex;
  align-items: center;
  width: calc(#{$col-part-d} * 3 - #{$col-gap});
  padding-bottom: getRem(5px);
  border-bottom: 1px solid var(--color-black-rgba-1);

  &__input {
    border: none;
    width: calc(100% - 17px);
    color: var(--color-grey);
    @include fsl(14px, 120%);
  }
}

.form {

  &__label {
    display: block;
    margin-bottom: getRem(20px);
  }

  &__field-name {
    @include fsl(16px, 160%);
    margin-bottom: getRem(8px);
  }

  &__input {
    width: 100%;
    padding: getRem(10px) getRem(20px);
    border: 1px solid var(--color-border-grey);
    border-radius: 2px;

    @include fsl(16px, 160%);
    color: var(--color-grey);
  }

  &__textarea {
    width: 100%;
    height: getRem(140px);
    padding: getRem(10px) getRem(20px);
    border: 1px solid var(--color-border-grey);
    border-radius: 2px;
    resize: none;

    @include fsl(16px, 160%);
    color: var(--color-grey);
  }

  &__btn {
    margin-top: getRem(30px);
    width: 100%;
  }
}

.booking-popup-form {

  &__ttl {
    margin-bottom: getRem(16px);
  }

  sup {
    color: var(--color-brown);
  }

  &__row {
    display: flex;
    justify-content: space-between;

    .form__label {
      width: calc(50% - 10px);
    }
  }

  &__btn {
    width: 100%;
  }

  &__note {
    margin-top: getRem(30px);
    @include fsl(16px, 160%);
    color: var(--color-grey);

    a {
      color: var(--color-grey);
      border-bottom: 1px solid var(--color-grey);
    }
  }
}

// .datepicker.active {
//   z-index: 200;
// }

.datepicker-picker {
  padding: getRem(20px);
}

.datepicker-controls {
  margin-bottom: getRem(20px);
}

.datepicker-grid {
  // width: calc(#{$col-part-d} * 2 + #{$col-pad-d} - getRem(100px));
  width: getRem(366px);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;

  &.months, &.years {
    grid-template-columns: repeat(4, 1fr);
    row-gap: getRem(36px);
    padding: getRem(27px) 0 getRem(20px);
  }
}

.days-of-week {
  border-bottom: 1px solid var(--color-border-grey);
  color: var(--color-grey);
  margin:0 getRem(10px) getRem(10px);
  justify-content: space-between;

  span.dow {
    flex: none;
  }
}

.datepicker-cell {
  @include fsl(14px);

  &.day {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: getRem(37px);
    height: getRem(37px);
    line-height: unset;
  
    &:not(.disabled):not(.selected):not(.focused):hover {
      border: 1px solid var(--color-grey);
      background: var(--color-white);

      transition: $transition;
    }
  }
  &.month, &.year {
    width: getRem(72px);
    border-radius: getRem(60px);
    height: getRem(37px) !important;
    line-height: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.disabled):not(.selected):not(.focused):hover {
      border: 1px solid var(--color-grey);
      background: var(--color-white);

      transition: $transition;
    }
  }
}

.datepicker-cell.selected, .datepicker-cell.selected:hover, .datepicker-cell.today:not(.selected), .datepicker-cell.focused:not(.selected) {
  background: var(--color-brown);
  color: var(--color-white);
  font-weight: 600;
}

.datepicker-arrow {
  width: getRem(7px);
  height: getRem(12px);

  &.next {
    transform: rotate(180deg);
  }
  &:hover path {
    stroke: var(--color-black-rgba-5);

    transition: $transition;
  }
}