.header {
  $comp: &;

  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background: var(--color-white);

  transition: $transition;

  &__top {
    padding: getRem(14px) 0 getRem(15px) 0;
    border-bottom: 1px solid var(--color-border-grey);

    transition: $transition;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-links {
      @include fsl(14px);
      line-height: 17px;

      a:not(:first-child) {
        margin-left: getRem(55px);
      }

      .tel {
        @include fsl(14px);
        line-height: 17px;

        transition: $transition;

        &:hover {
          color: var(--color-brown);
        }
      }
    }

    &-social svg {
      width: getRem(20px);
      height: getRem(11px);
    }
  }

  &__address {
    @include fsl(14px);
    line-height: 17px;
  }

  &__bottom {
    padding: getRem(12px) 0;

    &-inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }

  &__logo {
    display: flex;

    &-svg {
      width: getRem(157px);
      height: getRem(56px);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    padding-right: getRem(35px);

    &-item {
      font-weight: 600;
      @include fsl(14px);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      white-space: nowrap;

      transition: $transition;

      &:not(:first-child) {
        margin-left: getRem(50px);
      }

      &:hover {
        color: var(--color-brown);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-icon {

      svg {
        width: getRem(24px);
        height: getRem(24px);

        path {
          transition: $transition;
        }
      }

      &:first-child {
        margin-right: getRem(35px);
      }

      &:hover {
        svg path {
          stroke: var(--color-brown);
        }
      } 

      &.count {
        position: relative;

        .count-num {
          position: absolute;
          top: -25%;
          right: -30%;

          display: flex;
          align-items: center;
          justify-content: center;

          @include fsl(11px);
          font-weight: 600;
          color: var(--color-white);

          background: var(--color-black);
          border-radius: 50%;

          width: getRem(19px);
          height: getRem(19px);

          transition: $transition;
        }

        &:hover .count-num {
          background: var(--color-brown);
        }
      }
    }

    .button {
      margin-left: getRem(55px);
    }
  }

  &--short {
    transform: translateY(getRem(-47px));

    #{$comp}__top {
      transform: translateY(-100%);
    }
  }
}

.header-body {
  border-bottom: 1px solid var(--color-border-grey);
  background: var(--color-white);
}

.header-modals {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;

  &__item {
    position: absolute;
    bottom: 0;

    width: 100%;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-border-grey);

    padding: getRem(60px) 0;

    transform: translateY(0);
    transition: $transition;

    pointer-events: none;

    &.active {
      transform: translateY(100%);
      pointer-events: all;
      z-index: 5;
    }

    .container {
      display: flex;
    }
  }

  &__col {
    width: calc(#{$col-part-d} * 3);
    padding-right: $col-gap;
  }

  &__big-ttl {
    display: block;
    font-family: $ff-titles;
    @include fsl(26px, 130%);

    margin: getRem(15px) 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__small-ttl {
    display: block;
    @include fsl(18px, 160%);

    margin: getRem(10px) 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }


  &-small {
    $comp: &;

    position: absolute;
    bottom: 0;    

    transition: $transition;

    border: 1px solid var(--color-border-grey);
    border-top: none;
    background: var(--color-white);

    &__ttl {
      @include fsl(20px, 140%);
      font-weight: 600;
    }
    &__txt {
      @include fsl(16px, 150%);
      margin: getRem(6px) 0 getRem(22px);
    }
    .product-list {
      padding: 0 getRem(30px) getRem(16px);
      overflow-y: scroll;
      max-height: getRem(450px);

      scrollbar-width: getRem(4px);

      &::-webkit-scrollbar {
        width: getRem(4px);
        background-color: var(--background-grey-extra-2);
      }
      &::-webkit-scrollbar-track {
        background-color: var(--background-grey-extra-2);
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-black);
      }

      &__card {
        width: 100%;
        padding: getRem(20px) 0;
        border-bottom: 1px solid var(--color-black-rgba-1);

        display: flex;
        justify-content: space-between;

        &:first-child {
          padding-top: 0;
        }
      }
      &__img {
        width: getRem(100px);
        display: flex;
        flex: none;
      }
      &__info {
        width: 100%;
        padding: 0 getRem(18px);

        .card-product__add {
          margin-top: getRem(14px);
        }
      }
      &__brand {
        @include fsl(14px, 130%);
        color: var(--color-brown);
        margin-bottom: getRem(4px);
      }
      &__ttl {
        @include fsl(18px, 140%);
      }
      &__col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex: none;
        text-align: right;

        .catalog-card__price {
          margin-top: 0;

          .current {
            @include fsl(16px, 140%);
          }
          .old {
            @include fsl(16px, 140%);
          }
        }
      }
      &__del {
        @include fsl(16px, 140%);
        color: var(--color-grey);
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: getRem(20px) getRem(30px);
      border-top: 1px solid var(--color-black-rgba-1);

      button {
        width: getRem(320px);
      }
    }
    &__fav-count {
      @include fsl(16px, 140%);
    }
    &__cart-count {
      display: flex;
      flex-direction: column;

      .txt {
        @include fsl(16px, 140%);
        color: var(--color-grey);
        margin-bottom: getRem(6px);
      }
      .price {
        @include fsl(20px, 120%);
        font-weight: 600;
      }
    }

    &[data-fav-modal] {
      right: calc(#{$col-part-d} * 2 + (#{$col-width-d} / 2) + #{$col-pad-d});
    }
    &[data-cart-modal] {
      right: calc(#{$col-part-d} * 2 + #{$col-pad-d});
    }

    &.empty {
      width: getRem(510px);
      padding: getRem(30px) getRem(30px) getRem(35px);

      button {
        width: getRem(320px);
      }
    }
    &.not-empty {
      width: getRem(602px);

      #{$comp}__ttl {
        padding: getRem(30px) getRem(30px) getRem(16px);
      }
    }

    &.active {
      transform: translateY(100%);
      z-index: 5;
    }
  }
}