.header {
  $comp: &;

  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background: var(--color-white);
  border-bottom: 1px solid var(--color-border-grey);

  transition: $transition;

  &__top {
    padding: getRem(14px) 0 getRem(15px) 0;
    border-bottom: 1px solid var(--color-border-grey);

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-links {
      @include fsl(14px);
      line-height: 17px;

      a:not(:first-child) {
        margin-left: getRem(55px);
      }
    }

    &-social svg {
      width: getRem(20px);
      height: getRem(11px);
    }
  }

  &__address {
    @include fsl(14px);
    line-height: 17px;
  }

  &__bottom {
    padding: getRem(12px) 0;

    &-inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }

  &__logo {
    display: flex;

    &-svg {
      width: getRem(157px);
      height: getRem(56px);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    padding-right: getRem(35px);

    &-item {
      font-weight: 600;
      @include fsl(14px);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      white-space: nowrap;

      &:not(:first-child) {
        margin-left: getRem(50px);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-icon {

      svg {
        width: getRem(24px);
        height: getRem(24px);
      }

      &:first-child {
        margin-right: getRem(35px);
      }
    }

    .button {
      margin-left: getRem(55px);
    }
  }

  &--short {
    #{$comp}__top {
      display: none;
    }
  }
}