.modal-open {
  overflow: hidden;
}

.modals-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 120;
  pointer-events: none;

  transition: $transition;

  &.active {
    pointer-events: all;
    background: var(--color-black-rgba-5);
  }
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  overflow-y: scroll;
  transition: $transition;

  @include scrollbar-hidden;

  &.active {
    transform: none;
  }

  &__close {
    position: relative;

    width: getRem(18px);
    height: getRem(18px);

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: getRem(15px);
      background: var(--color-black);

      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: getRem(15px);
      background: var(--color-black);

      transform: rotate(-45deg);
    }
  }

  &--right {
    transform: translateX(200%);
    width: calc(#{$col-part-d} * 2 + #{$col-pad-d});
    height: 100vh;
    background: var(--color-white);
  }
}

.booking-popup {
  &__wrapper {
    padding: getRem(180px) getRem(50px) getRem(150px);
  }
  .modal__close {
    position: absolute;
    top: getRem(30px);
    right: getRem(30px);
  }
}

.review-popup {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    padding: getRem(20px) getRem(30px) getRem(20px) getRem(50px);
    border-bottom: 1px solid var(--color-black-rgba-1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: none;
  }
  &__ttl {
  }
  &__body {
    height: 100%;
    overflow-y: scroll;
    @include styled-scrollbar;

    padding: getRem(60px) getRem(50px);

    &-txt {
      @include fsl(18px, 170%);
      color: #464646;
    }
  }
  &__bottom {
    padding: getRem(30px);
    border-top: 1px solid var(--color-black-rgba-1);

    display: flex;
    flex-direction: column;

    flex: none;

    &-count {
      @include fsl(16px, 170%);
      color: var(--color-grey);
      text-align: center;
      margin-bottom: getRem(15px);
    }
  }
}

.filters-popup {

  &__body {
    // @include styled-scrollbar;
  }
  
  &-item {

    padding: getRem(30px) 0;
    border-bottom: 1px solid var(--color-black-rgba-1);

    &:first-child {
      padding-top: 0;
    }

    &__ttl {
      @include fsl(14px, 130%);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      margin-bottom: getRem(16px);
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: getRem(-12px);

      .category-filter-btn {
        margin-top: getRem(12px);

        &.active {
          color: var(--color-white);
          background: var(--color-brown);
          border-color: var(--color-brown);

          .category-filter-btn__cross::after, .category-filter-btn__cross::before {
            background: var(--color-white);
          }

          .point.active {
            background: var(--color-white);
          }
        }
      }
    }
  }
}

.filter-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__input {
    display: block;
    width: calc(50% - #{getRem(10px)});
  }

  &__slider {
    width: 100%;
    margin-top: getRem(18px);
    height: getRem(4px);

    .noUi-handle {
      width: getRem(20px);
      height: getRem(20px);
      border-radius: 50%;
      background: var(--color-black);
      border: none;
      box-shadow: none;
      cursor: grab;

      &::after, &::before {
        display: none;
      }
    }
    .noUi-connect {
      background: var(--color-black);
    }
  }
}

.category-filter-btn {
  .catalog-card__strong .point {
    margin-left: getRem(6px);

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}
