.modal-open {
  overflow: hidden;
  height: auto;
}

.modals-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 120;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: $transition;

  &.active {
    pointer-events: all;
    background: var(--color-black-rgba-5);
  }

  &.fade {
    background: var(--color-white);
  }

  &.plug {
    background: var(--color-light-grey);
  }
}

.modal {
  position: absolute;
  z-index: 150;
  overflow-y: scroll;
  background: var(--color-white);
  transition: $transition;

  @include scrollbar-hidden;

  &.active {
    transform: none;
    pointer-events: all;
  }

  &__close {
    position: relative;

    // width: getRem(18px);
    // height: getRem(18px);

    width: 18px;
    height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: getRem(15px);
      background: var(--color-black);

      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: getRem(15px);
      background: var(--color-black);

      transform: rotate(-45deg);
    }
  }

  &--right {
    width: 100vw;
    transform: translateX(200%);
    
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    // background: var(--color-white);
    pointer-events: none;

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 2 + #{$col-pad-d});
    }
  }

  &--center {
    transform: scale(0);
    width: calc(100vw - #{$col-pad-m});
    max-height: 70vh;
    padding: getRem(15px) getRem(20px) getRem(20px);

    pointer-events: none;

    @media (min-width: $breakpoint) {
      width: getRem(600px);
      padding: getRem(30px) getRem(50px) getRem(50px);
    }
  }
}

.booking-popup {

  @media (max-width: ($breakpoint - 1px)) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__wrapper {
    padding: getRem(30px) getRem(20px);

    @media (max-width: ($breakpoint - 1px)) {
      overflow-y: auto;
      height: 100%;

      @include styled-scrollbar;
    }
    @media (min-width: $breakpoint) {
      padding: getRem(180px) getRem(50px) getRem(150px);
    }
  }

  .modal__close {
    @media (min-width: $breakpoint) {
      position: absolute;
      top: getRem(30px);
      right: getRem(30px);
    }
  }

  .cart-stage-form__note {
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(20px);
    }
  }

  .review-popup__bottom {
    @media (max-width: ($breakpoint - 1px)) {
      button:not(:first-child) {
        margin-top: getRem(12px);
      }
    }
  }
}

.review-popup {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    padding: getRem(14px) $col-pad-m;
    border-bottom: 1px solid var(--color-black-rgba-1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: none;

    @media (min-width: $breakpoint) {
      padding: getRem(20px) getRem(30px) getRem(20px) getRem(50px);
    }
  }
  &__ttl {
  }
  &__body {
    height: 100%;
    overflow-y: scroll;
    @include styled-scrollbar;

    padding: getRem(30px) $col-pad-m;

    @media (min-width: $breakpoint) {
      padding: getRem(60px) getRem(50px);
    }

    &-txt {
      @include fsl(16px, 170%);
      color: #464646;

      @media (min-width: $breakpoint) {
        @include fsl(18px, 170%);
      }
    }
  }
  &__bottom {
    padding: getRem(14px) $col-pad-m getRem(20px);
    border-top: 1px solid var(--color-black-rgba-1);

    display: flex;
    flex-direction: column;

    flex: none;

    @media (min-width: $breakpoint) {
      padding: getRem(30px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      .button {
        padding: getRem(15px);
      }
    }

    &-count {
      @include fsl(16px, 170%);
      color: var(--color-grey);
      text-align: center;
      margin-bottom: getRem(15px);

      @media (min-width: $breakpoint) {
        margin-bottom: getRem(12px);
      }
    }

    &-btn {
      height: getRem(48px);
      @media (min-width: $breakpoint) {
        height: getRem(50px);
      }
    }
    &-btn2 {
      margin-top: getRem(12px);
      height: getRem(48px);
      @media (min-width: $breakpoint) {
        margin-top: getRem(15px);
        height: getRem(50px);
      }
    }
  }
}

.filters-popup {

  &__top {
    @media (max-width: ($breakpoint - 1px)) {
      position: relative;
      z-index: 5;

      padding: 0;
      border-bottom: none;
    }

    &-inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: relative;
      z-index: 5;

      @media (max-width: ($breakpoint - 1px)) {
        padding: getRem(14px) $col-pad-m;
        border-bottom: 1px solid var(--color-black-rgba-1);
        background: var(--color-white);
      }
    }
  }

  &__active-filters {
    display: none;

    @media (max-width: ($breakpoint - 1px)) {
      display: flex;
      flex-wrap: wrap;
      overflow-x: auto;
      @include scrollbar-hidden;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      padding: getRem(10px) getRem(20px) 0 getRem(20px);

      background: var(--color-white);
      box-shadow: 0px 4px 4px 1px rgba(203, 203, 203, 0.14);

      transition: $transition;
    }

    &.active {
      @media (max-width: ($breakpoint - 1px)) {
        transform: translateY(100%);
      }
    }

    .category-filter-btn {
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: getRem(10px);
      }
    }
  }

  &__body {
    overflow-x: hidden;
    padding: getRem(25px) getRem(20px);

    @media (min-width: $breakpoint) {
      padding: getRem(30px) getRem(50px);
    }
  }
  
  &-item {

    padding: getRem(30px) 0;
    border-bottom: 1px solid var(--color-black-rgba-1);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &__ttl {
      @include fsl(14px, 130%);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: getRem(16px);

      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        display: flex;
        align-items: center;
      }

      .tooltip {
        text-transform: none;

        &__txt {
          max-width: getRem(300px);

          @media (max-width: ($breakpoint - 1px)) {
            left: getRem(-80px);
            right: auto;

            &::after {
              left: 27%;
            }
          }
        }
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: getRem(-12px);

      .category-filter-btn {
        margin-top: getRem(12px);
        position: relative;

        &.active {
          color: var(--color-white);
          background: var(--color-brown);
          border-color: var(--color-brown);

          .category-filter-btn__count {
            // display: none;
            opacity: 0;
          }
          .category-filter-btn__cross {
            // display: block;
            opacity: 1;
            pointer-events: all;
          }

          .category-filter-btn__cross::after, .category-filter-btn__cross::before {
            background: var(--color-white);
          }

          .point.active {
            background: var(--color-white);
          }
        }
      }
    }
  }

  .review-popup__bottom {
    button:not(:last-child) {
      margin-bottom: getRem(12px);
    }
  }
}

.filter-btn-more {
  @include fsl(14px, 130%);
  font-weight: 600;
  color: var(--color-brown);
}

.filter-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__input {
    display: flex;
    width: calc(50% - #{getRem(10px)});
    padding: getRem(10px) getRem(20px);
    border: 1px solid var(--color-border-grey);
    border-radius: 2px;

    span {
      margin-right: getRem(12px);
      @include fsl(16px, 160%);
    }

    input {
      border: none;
      width: 100%;
      @include fsl(16px, 160%);
      color: var(--color-grey);
    }
  }

  &__slider {
    width: 100%;
    margin-top: getRem(18px);
    height: getRem(4px);

    .noUi-handle {
      width: getRem(20px);
      height: getRem(20px);
      border-radius: 50%;
      background: var(--color-black);
      border: none;
      box-shadow: none;
      cursor: grab;

      &::after, &::before {
        display: none;
      }
    }
    .noUi-connect {
      background: var(--color-black);
    }
  }
}

.filter-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  @include fsl(16px, 120%);

  .checkbox__box {
    border-color: var(--color-border-grey);
  }
  
  .count {
    color: var(--color-grey);
    margin-left: getRem(6px);
  }

  &:not(:last-child) {
    margin-bottom: getRem(12px);
  }
}

.category-filter-btn {
  .catalog-card__strong .point {
    margin-left: getRem(6px);

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.filter-producers {
  &__back {
    display: flex;

      svg {
      // width: getRem(9px);
      // height: getRem(18px);

      path {
        stroke: var(--color-black);
      }
    }
  }
  &__ttl {
    @include fsl(16px, 160%);
    margin-bottom: getRem(8px);
  }
  &__input {
    width: 100%;
    padding: getRem(10px) getRem(20px);
    margin-bottom: getRem(26px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: getRem(2px);
    background: var(--background-grey-extra-2);

    input {
      width: 100%;
      border: none;
      background: transparent;
      @include fsl(16px, 160%);
    }
    button {
      display: flex;
    }
  }
}

.filter-drops-modal {
  position: absolute;
  bottom: 0;
  background: var(--color-white);
  z-index: 11;
  padding: getRem(22px) getRem(30px) getRem(30px);
  border: 1px solid var(--color-border-grey);
  border-top: none;

  display: flex;
  flex-direction: column;

  transition: $transition;

  &.active {
    transform: translateY(100%);
  }

  .filter-checkboxes {
    overflow-y: auto;
    @include styled-scrollbar;
  }

  &[data-price-filter] {
    width: getRem(400px);
    left: getRem(150px);

    .filter-range {
      padding-bottom: getRem(30px);
    }
  }
  &[data-producer-filter] {
    width: getRem(380px);
    max-height: getRem(415px);
    left: getRem(240px);
  }
  &[data-country-filter] {
    width: getRem(400px);
    max-height: getRem(415px);
    left: getRem(430px);
  }
  &[data-strong-filter] {
    width: getRem(340px);
    left: getRem(540px);
  }
  &[data-duration-filter] {
    width: getRem(300px);
    max-height: getRem(415px);
    left: getRem(680px);
  }
  &[data-format-filter] {
    width: getRem(400px);
    max-height: getRem(415px);
    left: getRem(860px);
  }
  &[data-sorting-filter] {
    width: getRem(300px);
    right: 0;
  }
}

.sorting-filter {
  $comp: &;

  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      input {
        border: 1px solid var(--color-black);
      }
      #{$comp}__txt {
        color: var(--color-black-rgba-7)
      }
    }

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      width: getRem(20px);
      height: getRem(20px);
      border-radius: 50%;
      border: 1px solid var(--color-border-grey);

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      transition: $transition;

      &::before {
        content: '';
        position: absolute;
        width: getRem(12px);
        height: getRem(12px);
        border-radius: 50%;
        transition: $transition;
      }

      &:checked {
        border: 1px solid var(--color-black);

        &::before {
          content: '';
          position: absolute;
          width: getRem(12px);
          height: getRem(12px);
          border-radius: 50%;
          background: var(--color-black);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: getRem(14px);
    }
  }

  &__txt {
    @include fsl(16px, 100%);
    margin-left: getRem(12px);
    display: flex;
    transition: $transition;
  }
}

.in-cart-popup {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: getRem(13px);
    border-bottom: 1px solid var(--color-border-grey);

    @media (min-width: $breakpoint) {
      padding-bottom: getRem(30px);
    }
  }

  &__ttl {
    @include fsl(20px, 130%);

    @media (min-width: $breakpoint) {
      @include fsl(30px, 130%);
    }
  }

  &-card {
    display: flex;
    margin: getRem(43px) 0 getRem(30px);

    @media (min-width: $breakpoint) {
      margin: getRem(30px) 0 getRem(45px);
    }

    &__img {
      width: getRem(77px);
      height: getRem(77px);
      flex: none;
    }
    &__info {
      padding: 0 getRem(12px);

      @media (min-width: $breakpoint) {
        padding: 0 getRem(30px);
      }

      &-list {
        margin-top: getRem(8px);
        @include fsl(14px, 140%);

        @media (min-width: $breakpoint) {
          margin-top: getRem(4px);
          @include fsl(16px, 160%);
        }
      }
    }
    &__ttl {
      @include fsl(18px, 140%);

      @media (min-width: $breakpoint) {
        @include fsl(20px, 140%);
      }
    }
    .catalog-card__price {
      margin-top: getRem(15px);
      @media (min-width: $breakpoint) {
        margin-top: getRem(4px);
      }

      .current {
        @media (max-width: ($breakpoint - 1px)) {
          @include fsl(20px, 130%);
        }
      }
    }
  }

  .button {  
    padding-top: getRem(12px);
    padding-bottom: getRem(12px);

    @media (min-width: $breakpoint) {
      padding-top: getRem(15px);
      padding-bottom: getRem(15px);
    }

    &:last-child {
      margin-top: getRem(12px);

      @media (min-width: $breakpoint) {
        margin-top: getRem(15px);
      }
    }
  }

  .delete-product-txt {
    @include fsl(16px, 170%);
    margin: getRem(30px) 0 getRem(20px);
    
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: getRem(30px);
      border-bottom: 1px solid var(--color-border-grey);
    }
    @media (min-width: $breakpoint) {
      margin: getRem(30px) 0 getRem(15px);
      @include fsl(18px, 160%);
    }
  }
  .delete-product-btn {
    width: 100%;

    @media (min-width: $breakpoint) {
      width: getRem(200px);
    }
  }
}

.certificate-popup-txt {
  @include fsl(18px, 160%);
  margin-bottom: getRem(20px);
}

.success-popup {

  .review-popup__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__icon {
    width: getRem(50px);
    height: getRem(50px);
  }

  &__ttl {
    margin: getRem(45px) 0 getRem(15px);
  }

  &__txt {

    @include fsl(18px, 170%);

    @media (min-width: $breakpoint) {
      @include fsl(20px, 160%);
    }
  }

  &__txt-small {
    @include fsl(14px, 170%);
    color: var(--color-grey);
    margin-top: getRem(20px);

    @media (min-width: $breakpoint) {
      @include fsl(18px, 170%);
      margin-top: getRem(30px);
    }
  }

  .modal__close {
    position: absolute;
    top: getRem(30px);
    right: getRem(30px);
  }
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu {

  &__wrapper {
    padding: getRem(105px) $col-pad-m getRem(67px);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include fsl(18px, 160%);

    &-arrow, a {
      width: 50%;
    }
    &-arrow {
      display: flex;
      justify-content: flex-end;
    }

    svg {
      path {
        stroke: var(--color-black);
      }
    }

    &:not(:last-child) {
      margin-bottom: getRem(15px);
    }
  }

  &__contacts {
    margin: getRem(30px) 0;
    padding: getRem(30px) 0;
    border-top: 1px solid var(--color-black-rgba-1);
    border-bottom: 1px solid var(--color-black-rgba-1);

    .footer__top-link {
      margin-bottom: getRem(15px);

      &:first-child {
        font-weight: 600;
      }
    }

    .icon-circle {
      width: getRem(40px);
      height: getRem(40px);

      .tg-circle-ico, .wa-circle-ico {
        width: getRem(20.5px);
        height: getRem(20.5px);
      }
      .vk-circle-ico {
        width: getRem(20px);
        height: getRem(12px);
      }
    }
  }

  .footer__bottom-links-col {
    width: 100%;

    a {
      color: var(--color-grey);
    } 
  }

  &-item {
    z-index: 151;

    &__wrapper {
      padding: getRem(80px) $col-pad-m;
    }

    &__back {
      @include fsl(16px, 140%);
      color: var(--color-brown);

      margin-bottom: getRem(45px);

      display: flex;
      align-items: center;

      svg {
        width: getRem(15px);
        height: getRem(8px);
        margin-right: getRem(6px);
      }
    }
    &__ttl {
      @include fsl(24px, 130%);
      font-family: $ff-titles;

      display: block;
      margin-bottom: getRem(20px);
    }
    &__link {
      @include fsl(18px, 160%);
      display: block;

      &:not(:last-child) {
        margin-bottom: getRem(15px);
      }
    }
    &__bottom {
      margin-top: getRem(30px);
      padding-top: getRem(30px);
      border-top: 1px solid var(--color-black-rgba-1);
    }
  }
}

.plug-popup {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: getRem(60px) getRem(20px);

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 6 - #{$col-gap});
    padding: getRem(78px) getRem(96px);
  }

  &__age {
    @include fsl(26px, 130%);
    border: 1px solid var(--color-black);
    border-radius: 50%;

    width: getRem(70px);
    height: getRem(70px);

    margin-bottom: getRem(40px);

    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $breakpoint) {
      @include fsl(30px, 130%);
      width: getRem(80px);
      height: getRem(80px);

      margin-bottom: getRem(45px);
    }
  }

  &__ttl {
    margin-bottom: getRem(15px);
  }

  &__txt {
    margin-bottom: getRem(30px);
    @include fsl(14px, 170%);

    @media (min-width: $breakpoint) {
      margin-bottom: getRem(45px);
      @include fsl(18px, 170%);
    }
  }
}

.cookie {
  position: fixed;
  z-index: 11;
  
  left: $col-pad-m;
  right: $col-pad-m;
  bottom: getRem(80px);

  padding: getRem(20px);
  background: var(--color-white);
  box-shadow: 0px 3px 10px rgba(86, 86, 86, 0.06);

  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $breakpoint) {
    width: getRem(762px);

    left: calc(50% - #{getRem(381px)});
    right: calc(50% - #{getRem(381px)});
    bottom: getRem(30px);

    padding: getRem(30px);

    flex-direction: row;
  }

  &.active {
    display: flex;
  }
  
  &__txt {
    @include fsl(16px, 140%);
    color: var(--color-grey);

    @media (max-width: ($breakpoint - 1px)) {
      text-align: center;
      margin-bottom: getRem(15px);
    }
  }

  .button {
    @media (min-width: $breakpoint) {
      margin-left: getRem(93px);
    }
  }
}

.delivery-popup-ttl {
  margin-bottom: getRem(12px);

  @media (min-width: $breakpoint) {
    margin-bottom: getRem(20px);
  }
}

.delivery-popup-block {

  .delivery-row-icons {
    margin-top: getRem(30px);
  }

  &:not(:last-child) {
    margin-bottom: getRem(30px);
  
    @media (min-width: $breakpoint) {
      margin-bottom: getRem(50px);
    }
  }
}
