.rules-block {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  width: calc(#{$col-part-d} * 6 - #{$col-gap});
  margin: 0 0 0 auto;
}

.rules-spoiler {

  &__button {
    display: flex;
    align-items: center;
    text-align: left;

    cursor: pointer;

    padding: getRem(30px) 0 getRem(30px);
    border-top: 1px solid rgba(255, 255, 255, .1);

    &.-ba-is-active {
      .rules-spoiler__arrow svg {
        transform: rotate(180deg);
      }
    }
  }

  &__num {
    @include fsl(20px, 150%);
    color: var(--color-grey);

    width: calc(#{$col-part-d});
    padding-right: #{$col-gap};

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__ttl {
    font-family: $ff-titles;
    @include fsl(30px, 150%);
    color: var(--color-white);
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
  }
  &__arrow {
    width: calc(#{$col-part-d});
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      width: getRem(16px);
      height: getRem(8px);

      transition: $transition;
    }

    path {
      stroke: var(--color-white);
    }
  }

  &__drop {

    &-inner {
      @include fsl(18px, 170%);
      color: var(--grey-medium-txt);
      padding: 0 0 getRem(30px) calc(#{$col-part-d});

      box-sizing: border-box;
    }
  }
}

.badger-accordion__panel {
  max-height: 75vh;
  overflow: hidden;
}

.badger-accordion__panel.-ba-is-hidden {
  max-height: 0 !important;
  visibility: hidden;
}

.badger-accordion--initialized .badger-accordion__panel {
  transition: all ease-in-out .5s;
}