.section {
  padding: getRem(150px) 0;

  &--first {
    margin-top: getRem(128px);
  }

  &--bottom {
    padding-bottom: getRem(150px);
  }

  &--top {
    padding-top: getRem(150px);
  }

  &--pb120 {
    padding-bottom: getRem(120px);
  }

  &--main-page {
    padding-top: getRem(90px);
  }

  &--black {
    background: var(--color-black);
  }

  &--grey {
    background: var(--color-light-grey);
  }

  &--grey-extra {
    background: var(--background-grey-extra);
  }
}


.vine-section-bg {
  background: url(assets/images/vine-main-bg.jpg) no-repeat center;
}