.section {
  padding: getRem(60px) 0;

  @media (min-width: $breakpoint) {
    padding: getRem(150px) 0;
  }

  &--first {
    margin-top: getRem(60px);

    @media (min-width: $breakpoint) {
      margin-top: getRem(128px);
    }
  }

  &--bottom {
    padding-bottom: getRem(60px);

    @media (min-width: $breakpoint) {
      padding-bottom: getRem(150px);
    }
  }

  &--top {
    padding-top: getRem(60px);

    @media (min-width: $breakpoint) {
      padding-top: getRem(150px);
    }
  }

  &--pb120 {
    padding-bottom: getRem(60px);

    @media (min-width: $breakpoint) {
      padding-bottom: getRem(120px);
    }
  }

  &--main-page {
    padding-top: getRem(120px);
    padding-bottom: getRem(132px);

    @media (min-width: $breakpoint) {
      padding-top: getRem(218px);
    }
  }

  &--black {
    background: var(--color-black);
  }

  &--grey {
    background: var(--color-light-grey);
  }

  &--grey-extra {
    background: var(--background-grey-extra);
  }
}

.vine-section-bg {
  background: url(assets/images/vine-main-bg-mob2.jpg) no-repeat center;
  background-size: 100%;

  @media (min-width: $breakpoint-m) {
    background-image: url(assets/images/vine-main-bg2.jpg);
    background-size: 100%;
  }
}
