.section {
  padding: getRem(150px) 0;

  &--first {
    margin-top: getRem(134px);
  }

  &--bottom {
    padding-bottom: getRem(150px);
  }

  &--top {
    padding-top: getRem(150px);
  }

  &--black {
    background: var(--color-black);
  }

  &--grey {
    background: var(--color-light-grey);
  }
}