.controls-out {
  position: relative;

  &__container {
    position: absolute;
    top: 50%;
    left: getRem(-74px);
    right: getRem(-74px);

    display: flex;
    justify-content: space-between;
  }

  &.shop-slider {
    .controls-out__container {
      top: 45%;
    }
  }
}

.sliders-pagination {
  margin-top: getRem(15px);

  @media (min-width: $breakpoint) {
    margin-top: getRem(20px);
  }

  .swiper-pagination-bullet {
    width: getRem(30px);
    height: getRem(2px);
    background: #CECECE;
    border-radius: 5px;

    &.swiper-pagination-bullet-active {
      background: var(--color-brown);
    }
  }
}

.restaurant-slider {
  display: flex;
  margin-top: getRem(45px);

  @media (min-width: $breakpoint) {
    margin-top: getRem(150px);
  }

  &__col {
    width: calc(#{$col-part-d});

    display: flex;
    align-items: center;

    &:nth-child(3) {
      justify-content: flex-end;
    }
  }

  &__container {
    overflow: hidden;

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 10 - #{$col-gap});
    }
  }
}

.shop-slider {
  margin-top: getRem(20px);
  z-index: 1;

  @media (min-width: $breakpoint) {
    margin-top: getRem(45px);
  }

  &__row {
    display: flex;
  }

  .swiper-container {
    overflow: hidden;

    margin: 0 calc(#{$col-pad-m} * (-1));
    padding-left: $col-pad-m;

    @media (min-width: $breakpoint) {
      padding: 0 getRem(10px) getRem(72px) getRem(10px);
      margin: 0 getRem(-10px) getRem(-72px) getRem(-10px);
    }
  }
  .swiper-slide {
    // width: calc(#{$col-part-m} * 3);
    width: auto;
    height: auto;

    // @media (min-width: $breakpoint) {
    //   width: calc(#{$col-part-m} * 3);
    // }
    // @media (min-width: $breakpoint-m) {
    //   width: calc(#{$col-part-t} * 3);
    // }

    @media (min-width: $breakpoint) {
      width: auto;
    }
  }

  &__col {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      margin-left: getRem(-74px);
      button {
        margin-right: getRem(30px);
      }
    }
    &:nth-child(3) {
      margin-right: getRem(-74px);
      button {
        margin-left: getRem(30px);
      }
    }
  }

  .swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.reviews-section__slider {
  display: flex;

  .swiper-container {
    // width: 100%;
    height: fit-content;
    overflow: hidden;

    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 -$col-pad-m;
      padding-left: $col-pad-m;
    }
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 8 - #{$col-gap});
      overflow: hidden;
    }
  }

  &-slide {
    width: auto;
  }
}

.categories-slider {
  .swiper-container {
    overflow: hidden;

    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 -$col-pad-m;
      padding-left: $col-pad-m;
    }
  }
  .swiper-slide { 

    @media (min-width: $breakpoint) {
      width: fit-content;
    }

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-t} * 3 - #{$col-gap-m});
      
      .shop-page-head__card {
        width: 100%;
      }
      .shop-page-head__card-img {
        height: getRem(326px);
      }
    }

    @media (max-width: ($breakpoint-m - 1px)) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});

      .shop-page-head__card {
        width: 100%;
      }
      .shop-page-head__card-img {
        height: getRem(326px);
      }
    }
  }
}

.recommend-slider {
  .swiper-container {
    overflow: hidden;
  }

  .swiper-slide {
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
  }
}