extends ../layouts/master

include ../components/buttons

block content
  section.error-section.section--first
    //- .container
    .error-section__ttl 404
    .error-section__subttl страница не найдена

    +brown-button-link.error-section__btn
      |Главная