extends ../layouts/master

include ../components/buttons
include ../components/cards
include ../components/block-titles

block content

  section.section.section--first
    .container

  include ../components/sections/reviews-section

  include ../components/sections/subscribe-section