extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--first
    .container
      +breadcrumbs(page = 'Справочная информация')

      .articles-detail

        .articles-detail__top(data-aos='fade-up')

          .articles-detail__info.articles-card__info
            .articles-card__info-col 20.04.2021
            .articles-card__info-col 5 мин

          h1.articles-detail__ttl.h1.title-font Как выбрать сигару

        p(data-aos='fade-up') А началось все с открытия Колумбом Америки, когда вместе с другими «чудесами» были привезены в Испанию в 1493 году листья табака. И что только с ними не делали.

        .articles-detail__img(data-aos='fade-up')
          +picture.articles-detail__img-inner(file='article-1')

        p(data-aos='fade-up') А началось все с открытия Колумбом Америки, когда вместе с другими «чудесами» были привезены в Испанию в 1493 году листья табака. И что только с ними не делали.

        p(data-aos='fade-up') И размачивали, прикладывая к ранам, и нюхали, и заваривали. Первым же «официально зарегистрированным» европейским курильщиком был сподвижник Колумба дон Родриго де Херес. За эту привычку «пить дым» он был строго наказан Святой Инквизицией — 7 лет «каменного мешка». Но табакокурение уже начало свое шествие по Европе и дальше по всему свету.

        h2.h4(data-aos='fade-up') Как выбрать сигару

        ul.list-style(data-aos='fade-up')
          li началось все с открытия Колумбом Америки
          li размачивали, прикладывая к ранам, и нюхали, и заваривали
          li первым же «официально зарегистрированным» европейским
          li началось все с открытия Колумбом Америки

        h2.h4(data-aos='fade-up') Что нужно учесть

        p(data-aos='fade-up') А началось все с открытия Колумбом Америки, когда вместе с другими «чудесами» были привезены в Испанию в 1493 году листья табака. И что только с ними не делали. И размачивали, прикладывая к ранам, и нюхали, и заваривали. Первым же «официально зарегистрированным» европейским курильщиком был сподвижник Колумба дон Родриго де Херес.

        blockquote(data-aos='fade-up') И что только с ними не делали. #[br] И размачивали, прикладывая к ранам, #[br] и нюхали, и заваривали

        p(data-aos='fade-up') А началось все с открытия Колумбом Америки, когда вместе с другими «чудесами» были привезены в Испанию в 1493 году листья табака. И что только с ними не делали. И размачивали, прикладывая к ранам, и нюхали, и заваривали. Первым же «официально зарегистрированным» европейским курильщиком был сподвижник Колумба дон Родриго де Херес.

        h2.h4(data-aos='fade-up') Как выбрать сигару

        ul.list-num(data-aos='fade-up')
          li началось все с открытия Колумбом Америки
          li размачивали, прикладывая к ранам, и нюхали, и заваривали
          li первым же «официально зарегистрированным» европейским
          li началось все с открытия Колумбом Америки

  section.section--top
    -
      const articleTtl = 'Читайте также';
      const articleTxt = 'Возможно, вам будет интересно';
    include ../components/sections/articles-section

  -
    const smallTitle = 'Онлайн-каталог сигар'
    const nobtn = true;
    const newBtn = 'Смотреть все товары'; 
  include ../components/sections/shop-section

  include ../components/sections/subscribe-section

block modals
  include ../components/popups/in-cart-popup
  include ../components/popups/subscribe-success-popup
