extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--first.section--grey-extra.section--pb120
    .container
      +breadcrumbs(items = ['О клубе'] page = 'Кабинет Фрейда')

      .about-block
        .section-bg-photo.lounge-main-section.cabinet-main-bg
          +big-titles.white-ttl(subttl='приватность и сервис' ttl='Кабинет Фрейда' h1)

          +brown-button(data-popup-button='1')
            |Забронировать стол

  section.section--top
    .container
      .benefits-block.before-interior-block
        .benefits-cell
          +big-titles(subttl='мы гарантируем' ttl='Комфорт' ttl2='и приватность')

        -
          const benefits = [
            {ttl: 'Закрытое пространство', txt: 'Здесь вас ничто не потревожит. Персональное обслуживание, отдельный гардероб'},
            {ttl: 'Для небольших', ttl2: 'компаний', txt: 'Здесь можно уединиться для проведения переговоров, деловых встреч или отдыха'},
            {ttl: 'Современное', ttl2: 'оборудование', txt: 'Кабинет оборудован виниловым проигрывателем, телевизором и Apple TV'},
            {ttl: 'Мощная', ttl2: 'вентиляция', txt: 'Уникальная система вентиляции позволяет быстро очищать воздух от сигарного дыма'},
          ]

        each item, index in benefits
          .benefits-cell.cell-list
            +cabinet-benefit-ico(`${index}`)

            .benefits-cell__info
              .benefits-cell__ttl.h3 #{item.ttl}
                if (item.ttl2)
                  br
                  | #{item.ttl2}

              .benefits-cell__txt #{item.txt}

  section.section--bottom.section--grey.interior-block
    .container
      .restaurant-slider
        .restaurant-slider__col
          +control-left#restaurant-slider-prev

        .restaurant-slider__container
          .swiper-container#restaurant-slider
            .swiper-wrapper
              - for (i=0;i<3;i++)
                .swiper-slide
                  +picture(file='cabinet-slide')

          .sliders-pagination#restaurant-slider-pagination

        .restaurant-slider__col
          +control-right#restaurant-slider-next

      .interior-block__col
        +big-titles(subttl='профессора фрейда' ttl='Кабинет' txt='Кабинет предназначен для гостей, ценящих время, комфорт и индивидуальный подход к обслуживанию. Здесь вы можете уединиться для проведения переговоров, деловых встреч или отдыха.' txtp='Стоимость бронирования кабинета — 7 000 ₽/час. Для владельцев клубной карты «Профессор Фрейд» — 2 часа в день бесплатно')


  section.section.lounge-section
    .container
      .two-cols-block
        .two-cols-block__col

          .cabinet-col

            +big-titles(ttl='Специальное' ttl2='предложение' subttl='для джентльменов')

            .two-cols-block__txt Каждый может почувствовать себя членом закрытого клуба и провести вечер в окружении друзей, роскоши и спокойствия

            +read-more-btn
              |узнать больше

          +picture(file='cabinet-1')


        .two-cols-block__col
          +picture(file='cabinet-2')

          div
            .two-cols-block__txt Индивидуальный подход, интересный рассказ витолье, таинство сервировки и курения сигар из разных уголков мира в сочетании с уникальным авторским коктейлем «Сон о воине», крепким алкоголем и специальным меню закусок от нашего шеф-повара оставят самые теплые и яркие воспоминания об этом вечере

            +read-more-btn
              |Смотреть барную карту

  section.section-bg-photo.cabinet-section-bg
    +big-titles.white-ttl(ttl='место для деловых встреч' subttl='место для деловых встреч')

    .two-cols-block__txt.txt-white Приватное пространство для проведения деловых встреч, #[br] мероприятий и праздников

    +brown-button(data-popup-button='1')
      |Забронировать стол

  section.section
    .container
      .club-card-block
        .club-card-block__col
          +big-titles(subttl='специальные условия' ttl='Клубная' ttl2='карта' txt='Первоклассное обслуживание с дополнительными привилегиями: скидки, подарки, приглашениена закрытые мероприятия')
          +read-more-btn
            |узнать больше

        a.club-card-block__col(href='')
          +infinity
          .club-card-block__col__ttl Привилегии #[br] клубной карты

  include ../components/sections/rules-section

  section.section--top
    include ../components/sections/articles-section

  -
    const titles = [
      {ttl: 'Онлайн-каталог сигар', subttl: 'полный ассортимент'},
      {ttl: 'Подарочные наборы', subttl: 'выбор покупателей'}
    ]
    let newTitle = titles[0];
  include ../components/sections/shop-section

  include ../components/sections/subscribe-section