extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block variables
  - var shopNav = true

block content
  section.section--first
    .container
      .cart-empty.cart-section
        h1.cart-empty__ttl.h2--big(data-aos='fade-up') Оформление заказа

        .cart-empty-block(data-aos='fade-up')
          .cart-empty-block__ttl(data-aos='fade-up') В вашей корзине нет товаров
          .cart-empty-block__txt(data-aos='fade-up') Перейдите в каталог, чтобы добавить товары
          +brown-border-link.cart-empty-block__btn(data-aos='fade-up')
            |Перейти в каталог