extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content
  section.section--first
    .container
      .cart-section

        .cart-section__top
          h1.title-font.h2 Оформление заказа
          a.cart-section__back-link(href="") Вернуться к покупкам

        .cart-section__body

          .cart-section__col

            .cart-stage.open
              .cart-stage__row
                .cart-stage__row-col
                  .cart-stage__count 1/3
                  .cart-stage__ttl.h4.title-font Ваши товары
                  .cart-stage__products 3 товара

                button.button--clean.cart-stage__edit Изменить

              .cart-products-notactive
                - for (a=0;a<3;a++)
                  .cart-products-item
                    +picture.cart-products-item__img(file='shop-img-1')
                    .cart-products-item__row
                      .cart-products-item__ttl Сигара Nicaragua Primeros Mad
                      div &nbsp;—&nbsp;
                      .cart-products-item__price 13 820 ₽
                
            .cart-stage.open
              .cart-stage__row
                .cart-stage__row-col
                  .cart-stage__count 2/3
                  .cart-stage__ttl.h4.title-font Контактные данные

                button.button--clean.cart-stage__edit Изменить

              .cart-stage-form--result
                p Алексей Иванов
                p +7 (900) 454-56-56
                p pochta@mail.ru
                .note «Домофон не работает, позвоните»‎

            .cart-stage
              .cart-stage__row
                .cart-stage__row-col
                  .cart-stage__count 3/3
                  .cart-stage__ttl.h4.title-font Получение заказа

              .cart-receiving
                .cart-receiving-options(data-tabs)
                  .cart-receiving-options__item.active(data-tabs-item)
                    +pickup-ico.cart-receiving-options__svg

                    .cart-receiving-options__col
                      .cart-receiving-options__ttl Самовывоз из магазина
                      .cart-receiving-options__txt Бесплатно, сегодня

                  .cart-receiving-options__item(data-tabs-item)
                    +delivery-ico.cart-receiving-options__svg

                    .cart-receiving-options__col
                      .cart-receiving-options__ttl Доставка курьером
                      .cart-receiving-options__txt
                        span От 200 ₽
                        |, дату доставки уточнит менеджер

                .cart-receiving-types(data-tabs-content)

                  .cart-receiving-types__item.active(data-content-item)

                    .cart-pickup
                      .cart-pickup__info
                        .cart-pickup__ttl Самовывоз из клуба «Профессор Фрейд»

                        .cart-pickup__info-item
                          +place-ico.cart-pickup__svg
                          div
                            .cart-pickup__info-ttl Адрес
                            .cart-pickup__info-txt г. Санкт-Петербург, ул. Малая Морская, дом 18

                        .cart-pickup__info-item
                          +clock-ico.cart-pickup__svg
                          div
                            .cart-pickup__info-ttl Часы работы
                            .cart-pickup__info-txt ПН – ЧТ, 12:00 – 00:00 #[br] ПТ – СБ, 12:00 – 01:00 #[br] ВС, 13:00 – 23:00

                        .cart-pickup__info-item
                          +attention-ico.cart-pickup__svg
                          div
                            .cart-pickup__info-ttl Алкоголь можно забрать до 22:00

                      .cart-pickup__map
                        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A828b2df1c3e646ed9bf707043c5321cb8a73706508a8ea107668fd10d7a284aa&source=constructor", width="100%", height="100%", frameborder="0")

                    .cart-receiving__txt Менеджер свяжется с вами для уточнения деталей в ближайшее время

                    +brown-button.cart-pickup__btn
                      |Оформить заказ
                  
                  .cart-receiving-types__item(data-content-item)
                    .cart-receiving-form__ttl Укажите адрес доставки
                    .cart-receiving-form__note 
                      sup *
                      |— поля обязательные для заполнения

                    form.cart-receiving-form__form(novalidate)
                      label.form__label
                        .form__field-name Адрес
                          sup *
                        input.form__input(type='text' placeholder='Введите город, улицу, дом, корпус' required)

                      .cart-receiving-form__row
                        label.form__label
                          .form__field-name Номер квартиры/офиса
                            sup *
                          input.form__input(type='number' placeholder='Введите номер' required)

                        .checkbox
                          label.checkbox__label
                            input.checkbox__input(type="checkbox")
                            .checkbox__box
                              +checkbox-white-svg.checkbox__svg

                          .checkbox__caption
                            |Частный дом

                      label.form__label
                        .form__field-name Комментарии к заказу
                        textarea.form__textarea( placeholder='Введите текст')
                      
                      .cart-receiving-form__txt Доставка разрешена не для всех товаров из нашего каталога. #[br] Менеджер перезвонит вам в ближайшее время и проконсультирует вас

                      +brown-button.cart-receiving-form__btn
                        |Оформить заказ

                      a.cart-receiving-form__link(href="") Федеральный закон №15-ФЗ от 23 февраля 2013 года 


          .cart-section__col

            .cart-result
              .cart-result__ttl Итого
              .cart-result__row
                .cart-result__name 3 товара на сумму
                .cart-result__value 135 820 ₽
              .cart-result__row
                .cart-result__name Скидка
                .cart-result__value −11 000 ₽
              .cart-result__row
                .cart-result__name Промокод «Фрейд»
                .cart-result__value −1 000 ₽

              .cart-result__total
                .cart-result__name К оплате
                .cart-result__value 120 000 ₽

            .cart-promocode
              input.cart-promocode__input(type='text' placeholder='Ввести промокод')
              +arrow-right.cart-promocode__arrow