extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--first
    .container
      +breadcrumbs(page = 'Подарочные сертификаты')

      .contacts-block
        .contacts-block__top
          +big-titles.only-desktop(subttl='профессор фрейд' ttl='Подарочные сертификаты' txt='Элегантный дизайн сертификата создаст наилучшие' txt2='впечатления о подарке' h1)
          +big-titles.only-mobile(subttl='профессор фрейд' ttl='Подарочные сертификаты' txt='Элегантный дизайн сертификата создаст' txt2='наилучшие впечатления о подарке' h1)

          .scroll-down.only-desktop(data-aos='fade-up')
            .scroll-down__line

  section.section--bottom.lounge-section
    .container

      .certificates-block

        .certificates-block__row

          .certificates-block__info

            +small-titles.only-desktop(ttl='Сертификат' ttl2='на ужин в ресторане')
            +small-titles.only-mobile(ttl='Сертификат на' ttl2='ужин в ресторане')

            .certificates-block__txt(data-aos='fade-up')
              |Особенный подарок для любого случая. Камерная атмосфера, изысканное меню и обширная винная карта позволят в полной мере насладиться временем проведенным в нашем клубе

            +brown-button.certificates-block__btn(data-popup-button='15' data-aos='fade-up')
              |Заказать сертификат

            .certificates-block__note(data-aos='fade-up') Закажите сертификат заранее и мы подготовим #[br] его к вашему приезду. Cертификат может быть любого номинала

          div(data-aos='fade-up')
            +picture.certificates-block__img(file='certificates-col-2')
            

        .certificates-block__row

          div(data-aos='fade-up')
            +picture.certificates-block__img(file='certificates-col-1')

          .certificates-block__info

            +small-titles.only-desktop(ttl='Сертификат' ttl2='на сигары и алкоголь')
            +small-titles.only-mobile(ttl='Сертификат на' ttl2='сигары и алкоголь')

            .certificates-block__txt(data-aos='fade-up')
              |В нашем хьюминдоре вы найдете широкий ассортимент сигар Кубы и Карибского бассейна, а винотека порадует большой коллекцией вин Старого Света и уникальными позициями крепкого алкоголя

            +brown-button.certificates-block__btn(data-popup-button='7' data-aos='fade-up')
              |Заказать сертификат

            .certificates-block__note(data-aos='fade-up') Закажите сертификат заранее и мы подготовим #[br] его к вашему приезду. Cертификат может быть любого номинала
          

  include ../components/sections/rules-section
  .mob-section-border
  include ../components/sections/subscribe-section

block modals
  include ../components/popups/certificate-popup
  include ../components/popups/certificate2-popup
  include ../components/popups/subscribe-success-popup
