extends ../layouts/master

include ../components/buttons
include ../components/cards

block content

  section.section.section--first
    .container

  include ../components/sections/reviews-section

  include ../components/sections/shop-section

  include ../components/sections/subscribe-section