extends ../layouts/master



block header
block footer

block grid-test



block content
  .container
    ul.mb60
      each route in data.routes
        li.mt10
          a.button.button--brown.width-fit(href=route.href)= route.title
