extends ../layouts/master

include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section.section--first.relative
    .container
      .first-screen
        +picture.first-screen__img.first-screen__img--big(file='first-screen-img-1')

        .first-screen__txt Для ценителей комфорта, #[br] приватности и высокого сервиса

        +picture.first-screen__img.first-screen__img--small(file='first-screen-img-2')

        .first-screen__ttl
          span.first-screen__ttl--big Профессор Фрейд
          span.first-screen__ttl--small частный клуб

      .first-screen__bottom
        
        a.icon-circle(href="")
          +vk-icon

        .scroll-down
          .scroll-down__txt узнать больше

          .scroll-down__line

        div

      +message-icon.message-icon

  section.section.section--black
    .container

      .main-page-block__subttl профессор фрейд
      h1.main-page-block__ttl.txt-white О клубе

      .main-page-block__cols
        .main-page-block__col
          |Частный клуб «Профессор Фрейд» — это концептуальный проект с уникальным форматом. Место ориентировано на людей, для которых важны камерная атмосфера, приватность и высокий сервис.

        .main-page-block__col
          |Клуб идеально подойдет как для поклонников сигарной культуры, так и знатоков вина, ценителей крепкого алкоголя или гастрономии

      .main-page-block__bottom

        each item in ['Хьюмидорная комната', 'Сигарный лаунж', 'Кабинет Фрейда', 'Ресторан с баром', 'Винотека в формате bar&shop']

          a.main-page-block__bottom-links(href="") #{item}

  section.section.lounge-section
    .container
      .two-cols-block
        .two-cols-block__col

          div
            .main-page-block__subttl стиль Gentlman’s Club
            h1.main-page-block__ttl Сигарный #[br] лаунж
            .two-cols-block__txt
              |Атмосфера лаунжа выдержана в стиле Gentlman’s Club. Каждая деталь продумана и выполнена с любовью

          +picture(file='main-lounge-1')


        .two-cols-block__col
          +picture(file='main-lounge-2')

          div
            .two-cols-block__txt
              |Лаунж с камином и коллекцией винила располагает как для деловых встреч, так и для интеллектуальных бесед

            a.two-cols-block__link(href="") узнать больше

  section.section-bg-photo
    .main-page-block__subttl место для деловых встреч
    h1.main-page-block__ttl.txt-white Деловая обстановка
    .two-cols-block__txt.txt-white Профессионализм и компетентность сотрудников гарантируют #[br] гостям комфортное времяпрепровождение

    +brown-button
      |Забронировать стол

  section.section
    .container
      .restaurant-block
        .two-cols-block
          .two-cols-block__col
          .two-cols-block__col
            div
              .main-page-block__subttl строгость и элегантность
              h1.main-page-block__ttl Ресторан
              .two-cols-block__txt
                |Неповторимая эстетика «ревущих двадцатых», строгость и элегантность ушедшей эпохи. Строгий контроль качества продуктов и внимание наших сотрудников позволят в полной мере насладиться временем, проведенным в наших стенах

        .restaurant-slider
          .restaurant-slider__col
            +control-left#restaurant-slider-prev

          .restaurant-slider__container
            .swiper-container#slider1
              .swiper-wrapper
                - for (i=0;i<3;i++)
                  .swiper-slide
                    +picture(file='main-slide')

            .restaurant-slider__pagination#restaurant-slider-pagination

          .restaurant-slider__col
            +control-right#restaurant-slider-next

  include ../components/sections/subscribe-section
          
  include ../components/sections/reviews-section

  include ../components/sections/shop-section