extends ../layouts/master

include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--bottom.section--main-page.section--grey.relative
    .container
      .first-screen-container
        .first-screen__video-container
          video.first-screen__video(autoplay='true' loop='true' muted='true' poster="assets/images/main-vid-poster.png")
            //- source(type="video/mp4" src="assets/videos/main-video-bg.mp4")
            source(type="video/webm" src="assets/videos/main-video-comp.webm")
            source(type="video/mp4" src="assets/videos/main-video-comp.mp4")
            //- source(type="video/mp4" src="assets/videos/freud-main.mp4")

          video.first-screen__video.left.only-desktop(autoplay='true' loop='true' muted='true' poster="assets/images/main-vid-poster.png")
            //- source(type="video/mp4" src="assets/videos/main-video-bg.mp4")
            source(type="video/webm" src="assets/videos/main-video-comp.webm")
            source(type="video/mp4" src="assets/videos/main-video-comp.mp4")
            //- source(type="video/mp4" src="assets/videos/freud-main.mp4")

        .first-screen

          .first-screen__col1(data-video-show)

          .first-screen__col2

            .first-screen__txt(data-aos='fade-up') Для ценителей комфорта, #[br] приватности и высокого сервиса

          .first-screen__col3.only-desktop
            .first-screen__col3-bg
            .first-screen__col3-transp(data-video-show)

          .first-screen__ttl
            h1.first-screen__ttl--big 
              span.from-right Профессор
              br
              span.from-left Фрейд
            span.first-screen__ttl--small(data-aos='fade-up') частный клуб

          +brown-button.only-mobile.first-screen__mob-btn(data-aos='fade-up' data-popup-button='1')
            |Забронировать
        

      .first-screen__bottom(data-aos='fade-up')
        
        .first-screen__bottom-col
          //- a.icon-circle(href="")
          //-   +vk-icon.vk-circle-ico

        .scroll-down
          button.button--clean.scroll-down__txt(data-anchor-btn='1') узнать больше

          .scroll-down__line

        .first-screen__bottom-col

      //- +message-icon.message-icon

  section.section.section--black
    .container

      div(data-anchor-target='1')
      +big-titles.white-ttl(ttl='О клубе' subttl='профессор фрейд')

      .main-page-block__cols(data-aos='fade-up')
        .main-page-block__col
          |Частный клуб «Профессор Фрейд» — это концептуальный проект с уникальным форматом. Место ориентировано на людей, для которых важны камерная атмосфера, приватность и высокий сервис.

        .main-page-block__col.only-desktop
          |Клуб идеально подойдет как для поклонников сигарной культуры, так и знатоков вина, ценителей крепкого алкоголя или гастрономии

      .main-page-block__bottom(data-aos='fade-up')

        each item in ['Хьюмидорная комната', 'Сигарный лаунж', 'Кабинет Фрейда', 'Ресторан с баром', 'Винотека в формате bar&shop']

          a.main-page-block__bottom-links(href="")
            |#{item}
            .arrow.only-mobile
              +arrow-right

  section.section.lounge-section
    .container
      .two-cols-block
        .two-cols-block__col

          div

            +big-titles.only-desktop(ttl='Сигарный' ttl2='лаунж' subttl='стиль Gentlman’s Club')
            +big-titles.only-mobile(ttl='Сигарный лаунж' subttl='стиль Gentlman’s Club')

            .two-cols-block__txt(data-aos='fade-up')
              |Атмосфера лаунжа выдержана в стиле #[br] Gentlman’s Club. Каждая деталь продумана и выполнена с любовью

          div(data-aos='fade-up')
            +picture(file='main-lounge-1')


        .two-cols-block__col

          div(data-aos='fade-up')
            +picture(file='main-lounge-2')

          .txt-block
            .two-cols-block__txt(data-aos='fade-up')
              |Лаунж с камином и коллекцией винила располагает как для деловых встреч, так и для интеллектуальных бесед

            +read-more-btn 
              |узнать больше

  section.section-bg-photo.relative

    .section-bg-vid
      video.section-bg-vid__video(autoplay='true' loop='true' muted='true' poster="assets/images/main-vid-poster.png")
        source(type="video/webm" src="assets/videos/interior-bg-vid.webm")
        source(type="video/mp4" src="assets/videos/interior-bg-vid.mp4")

    +big-titles.white-ttl.relative(ttl='Деловая обстановка' subttl='место для деловых встреч')

    .two-cols-block__txt.txt-white.relative.only-desktop(data-aos='fade-up') Профессионализм и компетентность сотрудников гарантируют #[br] гостям комфортное времяпрепровождение
    .two-cols-block__txt.txt-white.relative.only-mobile(data-aos='fade-up') Для комфортного времяпрепровождения

    +brown-button.relative(data-popup-button='1' data-aos='fade-up')
      |Забронировать стол

  section.section
    .container
      .restaurant-block
        .restaurant-block__col
          +big-titles(ttl='Ресторан' subttl='строгость и элегантность' txt='Неповторимая эстетика «ревущих двадцатых», строгость и элегантность ушедшей эпохи. Строгий контроль качества продуктов и внимание наших сотрудников позволят в полной мере насладиться временем, проведенным в наших стенах')

        .restaurant-slider(data-aos='fade-up')
          .restaurant-slider__col.only-desktop
            +control-left#restaurant-slider-prev

          .restaurant-slider__container
            .swiper-container#restaurant-slider
              .swiper-wrapper
                - for (i=0;i<3;i++)
                  .swiper-slide
                    +picture(file='main-slide')

            .sliders-pagination#restaurant-slider-pagination

          .restaurant-slider__col.only-desktop
            +control-right#restaurant-slider-next

  include ../components/sections/subscribe-section
          
  include ../components/sections/reviews-section

  include ../components/sections/shop-section

block modals
  include ../components/popups/review-popup
  include ../components/popups/in-cart-popup
  include ../components/popups/subscribe-success-popup
  