extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--first.section--bottom
    .container
      +breadcrumbs(items = ['Магазин', 'Сигары'] page = 'Сигара Nicaragua Primeros Mad')

      .product-top

        .product-top-mob.only-mobile(data-aos='fade-up')

          h1.product-top-ttl Сигара Nicaragua Primeros Mad

          .product-top-availability В наличии
          .product-top-code Артикул 
            span 022234

        .product-top-picture(data-aos='fade-up')
          .product-top-gallery
            .swiper-container#gallery-slider
              .swiper-wrapper
                - for (c=0;c<5;c++)
                  .swiper-slide
                    +picture(file='product-1')

            button.button--clean.product-top-gallery__control.only-mobile#gallery-slider-next
              +arrow-right

          .product-top-img
            .swiper-container#product-slider
              .swiper-wrapper

                .swiper-slide
                  .product-top-img__cigar
                    //- +picture(file='product-1')
                    img(src="assets/images/product-1-no-bg.png", alt="")

                    .product-top-img__cigar-size(data-cigar-height='130 мм' data-cigar-diameter='21 мм')
                      .top(data-show-height) привет
                      +cigar-size
                      .bottom(data-show-diameter) пока

                - for (c=0;c<4;c++)
                  .swiper-slide
                    //- +picture(file='product-1')

                    .product-top-img__cigar
                      img(src="assets/images/product-1-no-bg.png", alt="")

            .product-top-labels.only-mobile
              .catalog-card__labels-item.label-black NEW
              .catalog-card__labels-item.label-brown limited

        .product-top-info(data-aos='fade-up')

          .product-top-labels.only-desktop
            .catalog-card__labels-item.label-black NEW
            .catalog-card__labels-item.label-brown limited

          .product-top-code.only-desktop Артикул 
            span 022234

          h1.product-top-ttl.only-desktop Сигара Nicaragua Primeros Mad

          .product-top-availability.only-desktop В наличии

          dl.product-top-table

            .product-top-table__row
              dt.product-top-table__name Производитель
              .product-top-table__line
              dd.product-top-table__value Gurkha

            .product-top-table__row
              dt.product-top-table__name Страна
              .product-top-table__line
              dd.product-top-table__value
                +italy-flag.flag-ico
                |Италия

            .product-top-table__row
              .product-top-table__name Крепость
              .product-top-table__line
              .product-top-table__value
                .catalog-card__strong
                  - for (i=0;i<4;i++)
                    .point.active
                  .point

            .product-top-table__row
              dt.product-top-table__name Формат

                .tooltip
                  +tooltipIco
                  .tooltip__txt Формат — это определенное сочетание формы, длины и диаметра сигары

              .product-top-table__line
              dd.product-top-table__value Double Toro

            .product-top-table__row
              dt.product-top-table__name Время курения
              .product-top-table__line
              dd.product-top-table__value 15 минут

            .product-top-table__row
              dt.product-top-table__name Размер сигары
              .product-top-table__line
              dd.product-top-table__value 127 мм × 50 RG

            .product-top-table__row
              dt.product-top-table__name Диаметр
              .product-top-table__line
              dd.product-top-table__value 20 мм

          button.button--clean.product-more-btn(data-anchor-btn='1') Все характеристики

          .product-top-price.catalog-card__price
            div
              span.current 13 820 ₽
              span.old 13 820 ₽

          .product-top-buttons
            +brown-button.product-button-cart(data-popup-button='5')
              |Добавить в корзину

            button.button--clean.product-button-fav
              +favorites-icon

          .product-info-bottom
            .product-info-bottom__col
              .product-info-bottom__ttl.only-desktop Самовывоз из магазина
              .product-info-bottom__txt.only-desktop Бесплатно, сегодня

              span.product-info-bottom__ttl.only-mobile Самовывоз из магазина — 
              span.product-info-bottom__txt.only-mobile бесплатно, сегодня

            .product-info-bottom__col
              .product-info-bottom__ttl.only-desktop Доставка
              .product-info-bottom__txt.only-desktop от 200 ₽, сегодня

              span.product-info-bottom__ttl.only-mobile Доставка — 
              span.product-info-bottom__txt.only-mobile от 200 ₽, сегодня


      .product-body

        article.product-body__block(data-aos='fade-up' data-anchor-target='1')

          h2.h4.title-font.product-body__ttl Описание

          .product-body__txt Davidoff Oro Blanco выпущены в формате Toro (6” с диаметром RG 54) и представляют собой доминиканские пурос из винтажного табака 2002 года, каждый лист которого был отобран лично Эладио Диасом, мастером-блендером компании «Davidoff». После отбора табак вновь выдерживался, скручивался в сигары и выдерживался вновь уже в готовом виде до тех пор, пока конечный продукт не достиг того уровня, которого от него ожидал Диас... После отбора табак вновь выдерживался, скручивался в сигарыи выдерживался вновь уже в готовом виде до тех пор, пока конечный продукт не достиг того уровня.

          //- button.button--clean.product-more-btn Показать полностью

        
        .product-body__block(data-aos='fade-up')
          h2.h4.title-font.product-body__ttl Характеристики

          dl.product-body-info

            .product-body-info__col
              .product-body-info__col-ttl Основные

              .product-top-table__row
                dt.product-top-table__name Производитель
                .product-top-table__line
                dd.product-top-table__value Gurkha

              .product-top-table__row
                dt.product-top-table__name Страна
                .product-top-table__line
                dd.product-top-table__value
                  +italy-flag.flag-ico
                  |Италия

              .product-top-table__row
                .product-top-table__name Крепость
                .product-top-table__line
                .product-top-table__value
                  .catalog-card__strong
                    - for (i=0;i<4;i++)
                      .point.active
                    .point

              .product-top-table__row
                dt.product-top-table__name Формат

                  .tooltip
                    +tooltipIco
                    .tooltip__txt Формат — это определенное сочетание формы, длины и диаметра сигары

                .product-top-table__line
                dd.product-top-table__value Double Toro

              .product-top-table__row
                dt.product-top-table__name Время курения
                .product-top-table__line
                dd.product-top-table__value 15 минут

              .product-top-table__row
                dt.product-top-table__name Размер сигары
                .product-top-table__line
                dd.product-top-table__value 127 мм × 50 RG

              .product-top-table__row
                dt.product-top-table__name Диаметр
                .product-top-table__line
                dd.product-top-table__value 20 мм

            .product-body-info__col
              .product-body-info__col-ttl Состав

              .product-top-table__row
                dt.product-top-table__name Покровный лист
                .product-top-table__line
                dd.product-top-table__value Куба

              .product-top-table__row
                dt.product-top-table__name Связующий лист
                .product-top-table__line
                dd.product-top-table__value Куба

              .product-top-table__row
                dt.product-top-table__name Начинка
                .product-top-table__line
                dd.product-top-table__value Куба

              .product-top-table__row
                dt.product-top-table__name Скрутка
                .product-top-table__line
                dd.product-top-table__value Ручная

        .product-body__block(data-aos='fade-up')
          h2.h4.title-font.product-body__ttl Способы оплаты и получения заказа

          .product-body__payment

            .product-body__payment-col
              .product-body__payment-ttl
                +paroduct-pay-1
                |Получение заказа
              .product-body__payment-txt Самовывоз из клуба «Профессор Фрейд» по адресу г. Санкт-Петербург, ул. Малая Морская, дом 18
              +read-more-btn(data-popup-button='10' btn)
                |Показать на карте

            .product-body__payment-col
              .product-body__payment-ttl
                +paroduct-pay-2
                |Оплата
              .product-body__payment-txt Банковской картой через мобильный терминал или наличными при самовывозе
              +read-more-btn(data-popup-button='18' btn)
                |Доставка и оплата

        .product-body__block(data-aos='fade-up')
          form.product-body-consult(novalidate)
            h2.h4.title-font.product-body__ttl Получите консультацию специалиста

            .product-body-consult__row
              label.form__label
                .form__field-name Ваше имя
                input.form__input(type='text' data-input-title='name' placeholder='Введите ваше имя' required)

              label.form__label
                .form__field-name Телефон
                input.form__input(type='tel' placeholder='Введите номер телефона' required)

            +brown-border-button(type='')
              |Получить консультацию

            .checkbox
              label.checkbox__label
                input.checkbox__input(type="checkbox" checked required)
                .checkbox__box
                  +checkbox-svg.checkbox__svg

              .checkbox__caption.only-desktop
                |Нажимая на кнопку «Продолжить», вы соглашаетесь #[br]
                a(href="") с политикой конфиденциальности

              .checkbox__caption.only-mobile
                |Нажимая на кнопку «Продолжить», вы соглашаетесь 
                a(href="") с политикой конфиденциальности

  -
    let smallTitle = 'Другие товары Gurkha';
    let nobtn = true;
    sectionBottom = true;
  include ../components/sections/shop-section

  -
    smallTitle = 'Вы смотрели ранее';
    nobtn = true;
    sectionBottom = true;
  include ../components/sections/shop-section

  section.section--bottom
    include ../components/sections/articles-section

block modals
  include ../components/popups/in-cart-popup
  //- include ../components/popups/brand-popup
  include ../components/popups/pickup-popup
  include ../components/popups/delivery-popup
  include ../components/popups/consult-success-popup

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?apikey=9eaf2d45-34a5-4620-bac6-0482e9335845&lang=ru_RU" type="text/javascript")
