extends ../layouts/master

include ../components/buttons
include ../components/cards
include ../components/breadcrumbs
include ../components/block-titles
include ../components/picture

block content

  section.section--first
    .container
      +breadcrumbs(page = "Магазин")

      .shop-page-head

        +big-titles.shop-page-head__titles(subttl=`более 1000 товаров  в наличии` ttl='Магазин' shop='true')

        .shop-page-head__categories

          -
            const cards = [
              {file: 'shop-category-1', ttl: 'Сигары'},
              {file: 'shop-category-2', ttl: 'Сигариллы'},
              {file: 'shop-category-1', ttl: 'Хьюмидоры'},
              {file: 'shop-category-4', ttl: 'Крепкие напитки'},
              {file: 'shop-category-5', ttl: 'Наборы'},
              {file: 'shop-category-6', ttl: 'Вина'},
              {file: 'shop-category-7', ttl: 'Аксессуары'}
            ]

          each item in cards
            a.shop-page-head__card(href="")
              +picture(file=`${item.file}`)
              .shop-page-head__card-ttl #{item.ttl}

  -
    const smallTitle = true;
    const nobtn = true;
  include ../components/sections/shop-section

  section.section--bottom
    .container
      +small-titles.small-titles--mb45(ttl='Справочная информация' txt='Расскажем подробно обо всех тонкостях и нюансах')

      .articles-row
        
        -
          const articles = [
            {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
            {ttl: 'Какую сигару выбрать к вину', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...'},
            {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'}
          ] 

        each item in articles
          +article-card(ttl=`${item.ttl}` txt=`${item.txt}`)

      +brown-border-button.articles-more-btn
        |Смотреть все статьи