extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content
  .qweqweqwe
  .qwe
    .qwe__block
      .qwe__slider
        - for (let i = 0; i < 10; i++)
          .qwe__slide
            |slide #{i}
  .qweqweqwe 
  