extends ../layouts/master

include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--bottom.section--main-page.section--first.section--grey.relative
    .container
      .first-screen-container
        .first-screen

          .first-screen__col1

          .first-screen__col2

            .first-screen__txt Для ценителей комфорта, #[br] приватности и высокого сервиса

          .first-screen__col3
            .first-screen__col3-bg
            .first-screen__col3-transp

          .first-screen__ttl
            h1.first-screen__ttl--big Профессор #[br] Фрейд
            span.first-screen__ttl--small частный клуб

        .first-screen__video-container
          video.first-screen__video(autoplay='true' loop='true')
            source(type="video/mp4" src="assets/videos/main-video-bg.mp4") 

      .first-screen__bottom
        
        .first-screen__bottom-col
          a.icon-circle(href="")
            +vk-icon.vk-circle-ico

        .scroll-down
          .scroll-down__txt узнать больше

          .scroll-down__line

        .first-screen__bottom-col

      +message-icon.message-icon
