.error-section {
  padding: getRem(210px) 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__ttl {
    font-family: 'Berlingske Serif';
    @include fsl(180px, 100%);
    color: var(--color-grey);
  }

  &__subttl {
    @include fsl(13px, 130%);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }

  &__btn-row {
    display: flex;
    margin: getRem(40px) auto 0;
  }

  &__btn {
    width: fit-content;

    &:not(:last-child) {
      margin-right: getRem(20px);
    }
  }
}