.error-section {
  padding: getRem(90px) 0 getRem(80px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  @media (min-width: $breakpoint) {
    padding: getRem(210px) 0;
  }

  &__ttl {
    font-family: 'Berlingske Serif';
    @include fsl(100px, 100%);
    color: var(--color-grey);

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(20px);
    }
    @media (min-width: $breakpoint) {
      @include fsl(180px, 100%);
    }
  }

  &__subttl {
    @include fsl(13px, 130%);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }

  &__btn-row {
    display: flex;
    margin-top: getRem(26px);

    @media (min-width: $breakpoint) {
      margin: getRem(40px) auto 0;
    }
  }

  &__btn {
    width: getRem(102px);
    @media (min-width: $breakpoint) {
      width: fit-content;
    }

    &:not(:last-child) {
      margin-right: getRem(20px);
    }
  }
}