.about-block {
  padding-top: getRem(60px);

  .section-bg-photo {
    padding: getRem(177px) 0 getRem(60px);
  }

  .big-titles__ttl {
    @include fsl(100px, 130%);
  }

  .scroll-down {
    margin-top: getRem(66px);

    &__line {
      background: var(--color-white);
    }
  }

  &-bottom {
    padding: getRem(90px) 0 getRem(120px);
    display: flex;
    justify-content: space-between;

    &__item {
      @include fsl(18px, 150%);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}

.about-main-bg {
  background: url(assets/images/section-bg.jpg) no-repeat center;
}

.benefits-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .benefits-cell {
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    height: auto;

    &:nth-child(1) {
      margin-top: getRem(60px);
      padding-left: calc(#{$col-width-d});
    }
    &:nth-child(1), &:nth-child(2) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap});
    }
    &:nth-child(1n + 3) {
      margin-top: getRem(30px);
    }
    &:nth-child(2) {
      .benefits-cell__ttl {
        margin-top: getRem(118px);
      }
    }

    &__ttl {
      font-family: $ff-titles;
      margin: getRem(25px) 0 getRem(12px);
    }
    &__txt {
      @include fsl(18px, 170%);
    }
  }

  .cell-list {
    background: var(--background-grey-extra-2);
    padding: getRem(40px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.before-interior-block {
  padding-bottom: getRem(310px);
}

.interior-block {

  &__col {
    margin: getRem(-70px) 0 0 auto;
    width: calc(#{$col-part-d} * 6 - #{$col-gap});
    padding-right: calc(#{$col-part-d});

    .big-titles__txt {
      margin-top: getRem(15px)
    }
  }

  .restaurant-slider {
    margin-top: 0;
  }

  &__slider {
    transform: translateY(-160px);
  }
}

.rent-section-bg {
  background: url(assets/images/section-rent-bg.jpg) no-repeat center;
}

.club-card-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__col {
    &:nth-child(1) {
      padding: getRem(98px) 0;
      width: calc(#{$col-part-d} * 4);

      .big-titles__txt {
        margin: getRem(15px) 0 getRem(30px);
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap});
      height: auto;
      background: var(--color-black);
      padding: getRem(40px);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__ttl {
      font-family: $ff-titles;
      @include fsl(30px, 160%);
      color: var(--color-white);
    }
  }
}