.about-block {
  padding-top: getRem(30px);

  @media (min-width: $breakpoint) {
    padding-top: getRem(60px);
  }

  .section-bg-photo {
    padding: getRem(172px) 0 getRem(45px);

    @media (max-width: ($breakpoint-m - 1px)) {
      height: getRem(400px);
    }
    @media (min-width: $breakpoint-m) {
      padding: getRem(100px) 0 getRem(45px);
    }
    @media (min-width: $breakpoint) {
      padding: getRem(177px) 0 getRem(60px);
    }
  }

  .big-titles__ttl {
    @include fsl(40px, 100%);

    @media (min-width: $breakpoint) {
      @include fsl(100px, 130%);
    }
  }

  .scroll-down {
    margin-top: getRem(97px);

    &__line {
      margin-top: 0;
    }

    @media (min-width: $breakpoint-m) {
      margin-top: getRem(24px);
    }
    @media (min-width: $breakpoint) {
      margin-top: getRem(66px);
    }

    &__line {
      background: var(--color-white);
    }
  }

  &-bottom {
    padding: getRem(60px) 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
    @media (min-width: $breakpoint) {
      padding: getRem(90px) 0 getRem(120px);
    }

    &__item {
      @include fsl(18px, 150%);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(16px, 150%);
        border-top: 1px solid #DADADA;
        padding: getRem(20px) 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          border: .5px solid #DADADA;
          border-radius: 50%;
          width: getRem(28px);
          height: getRem(28px);
          margin-left: getRem(10px);
          flex: none;

          svg {
            width: getRem(4px);
            height: getRem(8px);

            path {
              stroke: var(--color-grey);
            }
          }
        }

        &:last-child {
          border-bottom: 1px solid #DADADA;
        }
      }
    }
  }
}

.about-main-bg {
  background: url(assets/images/section-bg-mob.jpeg) no-repeat center;
  background-size: cover;

  @media (min-width: $breakpoint-m) {
    background: url(assets/images/section-bg.jpg) no-repeat center;
  }
}

.benefits-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column;
  }

  .benefits-cell {
    width: 100%;
    height: auto;

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap});
    }

    &:not(:first-child) {
      @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
        width: calc(#{$col-part-t} * 4 - #{$col-gap-m});
        margin-top: $col-gap-m;
      }
    }
    &:nth-child(1) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: getRem(20px);
      }
      @media (min-width: $breakpoint) {
        margin-top: getRem(60px);
        padding-left: calc(#{$col-width-d});
      }
    }
    &:nth-child(1), &:nth-child(2) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 6 - #{$col-gap});
      }
    }
    &:nth-child(1n + 3) {
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-top: getRem(20px);
      }
      @media (min-width: $breakpoint) {
        margin-top: getRem(30px);
      }
    }
    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        .benefits-cell__ttl {
          margin-top: getRem(118px);
        }
      }
    }

    &__ttl {
      font-family: $ff-titles;
      margin: getRem(100px) 0 getRem(8px);

      @media (min-width: $breakpoint) {
        margin: getRem(25px) 0 getRem(12px);
      }
    }
    &__txt {
      @include fsl(16px, 160%);

      @media (min-width: $breakpoint) {
        @include fsl(18px, 170%);
      }
    }
  }

  .cell-list {
    background: var(--background-grey-extra-2);
    padding: getRem(20px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint) {
      padding: getRem(40px);
    }
  }

  .mob-and-desk {
    @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
}

.before-interior-block {
  padding-bottom: getRem(60px);

  @media (min-width: $breakpoint) {
    padding-bottom: getRem(310px);
  }
}

.interior-block {

  @media (max-width: ($breakpoint - 1px)) {
    padding-top: getRem(60px);
  }

  &__col {
    margin: getRem(45px) 0 0;

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap});
      margin: getRem(-70px) 0 0 auto;
      padding-right: calc(#{$col-part-d});
    }

    .big-titles__txt {
      margin-top: getRem(15px)
    }
  }

  .restaurant-slider {
    margin-top: 0;
  }

  &__slider {
    @media (min-width: $breakpoint) {
      transform: translateY(-160px);
    }
  }
}

.rent-section-bg {
  background: url(assets/images/section-rent-bg.jpg) no-repeat center;
}

.club-card-block {
  display: flex;

  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column;
  }
  @media (min-width: $breakpoint-m) {
    justify-content: space-between;
    align-items: center;
  }

  &__col {
    &:nth-child(1) {
      padding-bottom: getRem(45px);

      @media (min-width: $breakpoint-m) {
        width: calc(#{$col-part-t} * 4 - #{$col-gap-m});
        padding-bottom: 0;
      }
      @media (min-width: $breakpoint) {
        padding: getRem(98px) 0;
        width: calc(#{$col-part-d} * 4);
      }

      .big-titles__txt {
        margin: getRem(8px) 0 getRem(20px);

        @media (min-width: $breakpoint) {
          margin: getRem(15px) 0 getRem(30px);
        }
      }

      .two-cols-block__link {
        @media (max-width: ($breakpoint - 1px)) {
          @include fsl(16px, 150%);
          padding-bottom: getRem(4px);
        }
      }

      .mob-and-desk {
        @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
          display: none;
        }
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap});
      height: auto;
      background: var(--color-black);
      padding: getRem(40px);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__ttl {
      font-family: $ff-titles;
      @include fsl(30px, 160%);
      color: var(--color-white);
    }
  }
}
