.articles-body {
  padding-top: getRem(90px);

  @media (max-width: ($breakpoint - 1px)) {
    padding-top: getRem(30px);
  }

  &-row {
    margin: getRem(90px) 0;

    @media (max-width: ($breakpoint - 1px)) {
      margin: getRem(30px) 0;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    .articles-card:not(:last-child) {
      @media (min-width: $breakpoint) {
        margin-right: #{$col-gap};
      }
    }
  }
}

.articles-top {
  padding: getRem(60px) 0 getRem(30px);
  border-bottom: 1px solid var(--color-border-grey);

  display: flex;

  @media (max-width: ($breakpoint - 1px)) {
    padding: getRem(30px) 0 getRem(20px);
  }

  &__item {
    @include fsl(18px, 120%);
    font-weight: 600;
    padding: getRem(12px) getRem(20px);
    border: 1px solid var(--color-border-grey);
    cursor: pointer;

    transition: $transition;

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 120%);
      padding: getRem(9px) getRem(12px);
    }

    &:not(:last-child) {
      margin-right: getRem(20px);

      @media (max-width: ($breakpoint - 1px)) {
        margin-right: getRem(12px);
      }
    }

    &:hover {
      border-color: var(--color-black);
    }
    &.active {
      border-color: var(--color-brown);
    }
  }
}

.articles-row {
  display: flex;

  @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column;
  }

  .swiper-container {
    overflow: hidden;
  }

  .swiper-slide {
    width: auto;
  }

  &.only-mobile .articles-card__info {
    display: none;
  }
}

.articles-detail {
  padding-top: getRem(45px);

  @media (min-width: $breakpoint) {
    padding: getRem(90px) calc(#{$col-part-d} * 2) 0;
  }

  &__top {
    margin-bottom: getRem(30px);
  }
  &__info {
    justify-content: center;

    .articles-card__info-col {
      @include fsl(16px, 150%);

      @media (min-width: $breakpoint) {
        @include fsl(18px, 150%);
      }
    }
    .articles-card__info-col:nth-child(1)::after {
      top: 25%;
    }
  }
  &__ttl {
    text-align: center;

    @media (max-width: ($breakpoint - 1px)) {
      line-height: 100%;
    }
  }

  &__img-inner {
    padding: getRem(30px) 0;

    @media (min-width: $breakpoint) {
      padding: getRem(60px) 0;
    }
  }

  p {
    margin: getRem(15px) 0;
    @include fsl(16px, 160%);

    @media (min-width: $breakpoint) {
      @include fsl(20px, 160%);
      margin: getRem(30px) 0;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    margin: getRem(30px) 0 getRem(8px);

    font-family: $ff-titles;
    @include fsl(24px, 130%);

    @media (min-width: $breakpoint) {
      @include fsl(30px, 130%);
      margin: getRem(90px) 0 getRem(30px);
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin: getRem(30px) 0;
    counter-reset: list1;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin: getRem(8px) 0;
      @include fsl(16px, 160%);

      position: relative;
      padding-left: getRem(20px);

      @media (min-width: $breakpoint) {
        @include fsl(20px, 160%);
        padding-left: getRem(50px);
      }
  
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  blockquote {
    margin: getRem(30px) 0;
    padding: getRem(20px);
    text-align: center;
    background: var(--background-grey-extra-2);

    @include fsl(24px, 130%);
    font-family: $ff-titles;

    @media (min-width: $breakpoint) {
      padding: getRem(60px);
      margin: getRem(90px) 0;
      @include fsl(30px, 130%);
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .articles-detail__img + p {
    margin-top: 0;
  }
  .articles-detail__img + h2 {
    margin-top: 0;
  }
  .articles-detail__img + ul {
    margin-top: 0;
  }
  .articles-detail__img + blockquote {
    margin-top: 0;
  }

  p + .articles-detail__img {
    margin-top: getRem(60px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(30px);
    }

    .articles-detail__img-inner {
      padding-top: 0;
    }
  }
  h2 + .articles-detail__img {
    margin-top: getRem(60px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(30px);
    }

    .articles-detail__img-inner {
      padding-top: 0;
    }
  }
  h2 + ul {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(8px);
    }
  }
  ul + .articles-detail__img {
    margin-top: getRem(60px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(30px);
    }

    .articles-detail__img-inner {
      padding-top: 0;
    }
  }
  blockquote + .articles-detail__img {
    margin-top: getRem(60px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(30px);
    }

    .articles-detail__img-inner {
      padding-top: 0;
    }
  }
}

.list-style li::before {
  content: '';
  position: absolute;
  top: getRem(16px);
  left: 0;
  width: getRem(20px);
  height: 1px;
  background: var(--color-brown);

  @media (max-width: ($breakpoint - 1px)) {
    top: getRem(12px);
    width: getRem(14px);
  }
}

.list-num li::before {
  counter-increment: list1;
  content: counter(list1) '';
  color: var(--color-brown);
  @include fsl(20px, 160%);
  font-weight: 600;

  position: absolute;
  top: getRem(3px);
  left: 0;

  @media (max-width: ($breakpoint - 1px)) {
    @include fsl(16px, 160%);
    top: 0;
  }
}
