.cart-section {
  padding: getRem(15px) 0 getRem(60px);

  @media (min-width: $breakpoint) {
    padding: getRem(90px) 0 getRem(150px);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: getRem(60px);

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column-reverse;
      align-items: flex-start;

      margin-bottom: getRem(30px);
    }
  }

  &__back-link {
    color: var(--color-grey);
    @include fsl(16px, 140%);

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: getRem(30px);

      display: flex;
      align-items: center;

      svg {
        margin-right: getRem(12px);
        height: getRem(12px);
        width: getRem(8px);

        path {
          stroke: var(--color-grey);
        }
      }
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    transition: .8s;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }

    &.hide {
      height: 0 !important;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      z-index: -1;
      overflow: hidden;
    }

    &.show {
      height: auto;
      opacity: 1;
      pointer-events: all;
      position: relative;
    }

  }

  &__col {

    &:nth-child(1) {
      // overflow: visible;
      width: 100%;
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 8 - #{$col-gap});
      }
    }
    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 4 - #{$col-gap});
      }
    }
  }
}

.cart-stage {

  background: var(--color-white);
  // position: relative;

  &__row {
    display: flex;
    justify-content: space-between;

    &-col {
      display: flex;
      align-items: center;

      @media (max-width: ($breakpoint - 1px)) {
        flex-wrap: wrap;
      }
    }

    .cart-stage__edit {
      opacity: 0;
      pointer-events: none;
      transition: .8s;
    }
  }
  &__count {
    @include fsl(24px, 130%);
    font-family: $ff-titles;
    margin-right: getRem(10px);

    @media (min-width: $breakpoint) {
      @include fsl(30px, 130%);
      width: calc(#{$col-width-d});
      margin-right: 0;
    }
  }
  &__products {
    @include fsl(16px, 100%);
    color: var(--color-grey);

    display: flex;
    align-items: center;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      margin-top: getRem(5px);
    }
    @media (min-width: $breakpoint) {
      height: getRem(28px);
      margin-left: getRem(16px);
      padding-left: getRem(16px);
      border-left: 1px solid var(--color-grey);
    }
  }
  &__product-list {
    margin-top: getRem(30px);

    .card-product:nth-child(1n + 3) {
      @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(6px);
       }
    }
    .card-product:not(:first-child) {
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-top: getRem(8px);
      }
    }
    .card-product:not(:first-child) {
      @media (min-width: $breakpoint) {
        margin-top: getRem(10px);
      }
    }

    @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      margin-left: -$col-pad-m;
      margin-right: -$col-pad-m;
      padding: 0 getRem(6px);
    }

    &-btn {
      margin: getRem(30px) auto 0;

      @media (max-width: ($breakpoint - 1px)) {
        margin: getRem(20px) 0 0;
        width: 100%;
      }
    }
  }

  &__recommend {
    margin-top: getRem(90px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(45px);
    }

    &-ttl {
      margin-bottom: getRem(30px);

      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: getRem(20px);
      }
    }

    &-row {

      @media (max-width: ($breakpoint - 1px)) {
        display: flex;
        justify-content: space-between;

        overflow-x: auto;
        @include scrollbar-hidden;

        margin: 0 -$col-pad-m;
        padding: 0 $col-pad-m;
      }

      @media (min-width: $breakpoint) {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: getRem(20px);
      }
    }
  }

  &__edit {
    @include fsl(16px, 130%);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
      width: 100%;
    }
    @media (min-width: $breakpoint) {
      color: var(--color-brown);
      font-weight: 600;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid var(--color-black-rgba-1);
    padding: getRem(45px) 0;

    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(30px) 0;
    }
  }
  &.collapsed {
    color: var(--color-grey);

    [data-cart-content] {
      // height: 0 !important;
      opacity: 0;
      pointer-events: none;

      margin-top: 0;
      margin-bottom: 0;

      position: absolute;
      top: 0;
      z-index: -1;

      @media (max-width: ($breakpoint - 1px)) {
        max-width: calc(100vw - #{$col-pad-m} * 2);
      }
    }
    .hide-content {
      height: 0 !important;
    }
    .previous-show {
      display: none;
      // margin: 0;
      // z-index: -1;
    }
  }
  &.open {
    padding-bottom: getRem(90px);
    z-index: 1;

    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: getRem(45px);
    }

    [data-cart-content] {
      opacity: 1;
      pointer-events: all;
      height: auto;
      position: relative;

      @media (max-width: ($breakpoint - 1px)) {
        max-width: calc(100vw - #{$col-pad-m} * 2);
      }
    }

    .previous-show {
      display: none;
      // margin: 0;
      // z-index: -1;
    }
  }
  &.previous {

    .cart-stage__row .cart-stage__edit {
      opacity: 1;
      pointer-events: all;
    }

    [data-cart-content] {
      height: 0 !important;
      opacity: 0;
      pointer-events: none;
      margin-top: 0;
      margin-bottom: 0;

      position: absolute;
      top: 0;
      z-index: -1;

      @media (max-width: ($breakpoint - 1px)) {
        max-width: calc(100vw - #{$col-pad-m} * 2);
      }
    }

    .previous-show {
      height: auto;
      // opacity: 1;
      pointer-events: all;
      position: relative;
    }
  }

  .previous-show {
    height: 0;
    // opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;

    // transition: .8s;

    @media (max-width: ($breakpoint - 1px)) {
      max-width: calc(100vw - #{$col-pad-m} * 2);
    }
  }

  [data-cart-content] {
    opacity: 1;
    pointer-events: all;
    // transition: .8s;
    // position: absolute;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.add-transition [data-cart-content] {
  transition: .8s;
}

.card-product {
  background: var(--background-grey-extra-2);

  display: flex;

  @media (max-width: ($breakpoint - 1px)) {
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: getRem(357px);
    padding: getRem(20px) $col-pad-m;
  }
  @media (max-width: ($breakpoint-m - 1px)) {
    margin-left: -$col-pad-m;
    margin-right: -$col-pad-m;
  }
  @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
    width: calc(50% - #{getRem(3px)});
  }

  &__img {
    width: calc(#{$col-part-d} + #{$col-width-d});
    position: relative;

    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(80px);
      height: getRem(80px);
    }

    .catalog-card__labels {
      top: 15px;
      left: 15px;
    }
  }
  &__info {
    width: calc(#{$col-part-d} * 3);
    padding: getRem(30px) 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-t} * 2 + #{$col-width-t} / 2);
      padding: 0;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
    }
  }
  &__brand {
    @include fsl(16px, 130%);
    margin-bottom: getRem(4px);

    @media (max-width: ($breakpoint - 1px)) {
      color: var(--color-brown);
      @include fsl(14px, 130%);
    }
  }
  &__ttl {
    @include fsl(20px, 140%);
    margin-bottom: getRem(6px);

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(18px, 140%);
    }
  }
  &__txt {
    @include fsl(16px, 140%);

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 140%);
    }
  }
  &__btn {
    @include fsl(16px, 140%);
    color: var(--color-grey);
    text-align: left;
    width: fit-content;
  }
  &__nums {
    width: calc(#{$col-part-d} * 2 + #{$col-gap});
    padding: getRem(30px) 0;

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-t} * 2 + #{$col-width-t} / 2);
      margin: 0 0 0 auto;
      padding: getRem(18px) 0;

      .catalog-card__price {
        margin-top: getRem(18px);

        .current {
          @include fsl(20px, 140%);
        }
        .old {
          @include fsl(16px, 140%);
        }
      }
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
      margin-left: calc(#{$col-part-m});
    }
  }
  &__add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include fsl(16px, 140%);

    width: getRem(120px);

    button {
      position: relative;
      width: getRem(37px);
      height: getRem(37px);
      // width: 37px;
      // height: 37px;
      border: 1px solid var(--color-grey);
      border-radius: 50%;
      color: var(--color-grey);
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;

      user-select: none;

      // &:nth-child(1) {
      //   margin-right: getRem(16px);
      // }
      // &:nth-child(3) {
      //   margin-left: getRem(16px);
      // }

      &::before {
        content: '';
        position: absolute;
        width: getRem(9px);
        // width: 9px;
        height: 1px;
        background: var(--color-grey);
      }
      &.plus::after {
        content: '';
        position: absolute;
        width: 1px;
        height: getRem(9px);
        // height: 9px;
        background: var(--color-grey);
      }
    }
  }
  &__amount {
    @include fsl(14px, 140%);
    margin-top: getRem(6px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(2px);
    }
  }
  &__last-col {
    display: flex;
    align-items: flex-end;
    padding-bottom: getRem(30px);

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      align-items: flex-start;
      justify-content: space-between;
      padding: getRem(16px) 0 0;
      border-top: 1px solid var(--color-black-rgba-1);
    }
  }
}

.cart-price-mob {
  margin-top: getRem(45px);
}
.cart-result-container {
  position: sticky;
  top: getRem(240px);
  width: calc(#{$col-part-d} * 4 - #{$col-gap});

  &__top {
    text-align: right;
    margin-bottom: getRem(70px);
  }
}

.cart-result {
  $comp: &;

  padding: getRem(40px) getRem(30px);
  background: var(--background-grey-extra-2);

  @media (max-width: ($breakpoint - 1px)) {
    margin: getRem(8px) 0 0;
  }

  &__ttl {
    @include fsl(20px, 140%);
    font-weight: 600;
    margin-bottom: getRem(16px);
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: getRem(10px);

    @include fsl(16px, 140%);

    #{$comp}__value {
      font-weight: 600;
    }
  }
  &__total {
    margin-top: getRem(16px);
    display: flex;
    justify-content: space-between;

    @include fsl(18px, 140%);
    font-weight: 600;
  }

  &-final {
    @media (max-width: ($breakpoint - 1px)) {
      margin: getRem(30px) 0;
    }
  }
}

.cart-promocode {
  margin-top: getRem(10px);
  padding: getRem(20px) getRem(30px);
  background: var(--background-grey-extra-2);
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  transition: $transition;

  @media (max-width: ($breakpoint - 1px)) {
    margin: 0 0 getRem(8px);
    padding: getRem(14px) getRem(20px);
  }

  &.active {
    border: 1px solid var(--color-brown);
  }
  &.send-active {
    .cart-promocode-send {
      opacity: 1;
      pointer-events: all;
    }
  }
  &.delete-active {
    .cart-promocode-delete {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__input {
    width: 100%;
    border: none;
    background: transparent;
    @include fsl(16px, 140%);
    @include placeholder {
      color: var(--color-grey);
    }
  }
  &-send {
    position: absolute;
    right: getRem(30px);
    opacity: 0;
    pointer-events: none;
    transition: $transition;

    @media (max-width: ($breakpoint - 1px)) {
      right: getRem(20px);
    }
  }
  &__arrow {
    width: getRem(7px);
    height: getRem(12px);

    &:hover {
      path {
        stroke: var(--color-brown);
      }
    }

    path {
      stroke: var(--color-black);
      transition: $transition;
    }
  }

  &-delete {
    width: getRem(8px);
    height: getRem(8px);

    position: absolute;
    right: getRem(30px);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: $transition;

    &::after, &::before {
      content: '';
      position: absolute;
      width: getRem(10px);
      height: getRem(1px);
      background: var(--color-black);
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }

  &-error {
    margin-top: getRem(12px);
    @include fsl(16px, 160%);
    color: var(--color-brown);
    transition: $transition;
    opacity: 0;
    position: absolute;
    pointer-events: none;

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(6px);
    }

    &.active {
      opacity: 1;
      position: relative;
      pointer-events: all;
    }
  }
}

.cart-products-notactive {
  margin-top: getRem(30px);

  .cart-products-item {
    &:not(:last-child) {
      margin-bottom: getRem(10px);
    }
  }
}

.cart-products-item {

  display: flex;
  align-items: center;

  &__img {
    height: getRem(80px);
    width: getRem(80px);
    object-fit: cover;
    flex: none;
  }
  &__row {
    display: flex;
    padding-left: getRem(12px);
    @include fsl(16px, 160%);

    @media (max-width: ($breakpoint - 1px)) {
      flex-wrap: wrap;
      padding-left: getRem(10px);
    }
  }
}

.cart-empty {

  @media (max-width: ($breakpoint - 1px)) {
    padding: getRem(40px) 0 getRem(100px);
  }

  &__ttl {
    font-family: $ff-titles;
    margin-bottom: getRem(30px);

    @media (min-width: $breakpoint) {
      argin-bottom: getRem(60px);
    }
  }

  &-block {
    background: var(--background-grey-extra-2);
    padding: getRem(68px) getRem(20px);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint) {
      padding: getRem(80px);
    }

    &__ttl {
      @include fsl(18px, 130%);
      font-weight: 600;

      @media (min-width: $breakpoint) {
        @include fsl(24px, 130%);
      }
    }
    &__txt {
      @include fsl(16px, 130%);
      margin-top: getRem(12px);

      @media (min-width: $breakpoint) {
        margin-top: getRem(17px);
      }
    }
    &__btn {
      
      margin-top: getRem(30px);

      @media (max-width: ($breakpoint-m - 1px)) {
        width: 100%;
      }
      @media (min-width: $breakpoint) {
        width: getRem(320px);
        margin-top: getRem(40px);
      }
    }
  }
}

.cart-stage-form {

  @media (min-width: $breakpoint) {
    margin: getRem(12px) 0 0 calc(#{$col-width-d});
    width: calc(#{$col-part-d} * 4);
  }

  sup {
    display: inline-block;
    color: var(--color-brown);
    top: -0.1em;
  }

  &__note {
    margin-bottom: getRem(30px);

    @media (max-width: ($breakpoint - 1px)) {
      margin: getRem(8px) 0 getRem(15px);
    }
  }

  &__checkbox {
    margin-top: getRem(28px);
    display: flex;

    .checkbox__label {
      padding-top: getRem(7px);
      align-items: flex-start;
    }

    .checkbox__box {
      border: 1px solid var(--color-black);
    }

    .checkbox__caption {
      color: var(--color-grey);
      @include fsl(16px, 160%);

      @media (max-width: ($breakpoint - 1px)) {
        width: 80%;
      }

      a {
        color: var(--color-grey);
        border-bottom: 1px solid var(--color-grey-rgba-4);
      }
    }
  }

  &--result {
    margin-top: getRem(8px);
    @include fsl(16px, 160%);

    @media (min-width: $breakpoint) {
      margin: getRem(12px) 0 0 calc(#{$col-width-d});
    }

    .note {
      color: var(--color-grey);
    }
  }
}

.cart-receiving {

  margin-top: getRem(20px);

  @media (min-width: $breakpoint) {
    margin: getRem(30px) 0 0 calc(#{$col-width-d});
  }
}

.cart-receiving-options {

  @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
    justify-content: space-between;
  }
  @media (min-width: $breakpoint-m) {
    display: flex;
  }

  &__item {
    border: 1px solid var(--color-black-rgba-1);
    padding: getRem(20px);
    display: flex;

    cursor: pointer;
    transition: $transition;

    width: 100%;

    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-t} * 4 - #{$col-gap-m});
    }
    @media (min-width: $breakpoint) {
      width: getRem(300px);
      padding: getRem(20px) getRem(30px) getRem(30px) getRem(20px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      min-height: getRem(128px);
    }

    &:not(:last-child) {
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-bottom: getRem(12px);
      }

      @media (min-width: $breakpoint) {
        margin-right: getRem(15px);
        margin-bottom: 0;
      }
    }
    &.active, &:hover {
      border: 1px solid var(--color-brown);
    }
  }

  &__svg {
    width: getRem(35px);
    height: getRem(35px);
    flex-shrink: 0;
  }
  &__col {
    margin-left: getRem(15px);
  }
  &__ttl {
    @include fsl(16px, 120%);
    font-weight: 600;
    margin-bottom: getRem(8px);
  }
  &__txt {
    @include fsl(16px, 150%);
    color: var(--color-grey);

    span {
      font-weight: 600;
    }
  }
}

.cart-receiving-types {

  display: grid;
  grid-template-areas: 'a';

  position: relative;

  margin-top: getRem(30px);

  &:first-child {
    margin-top: 0;
  }

  &__item {
    grid-area: a;

    opacity: 0;
    pointer-events: none;

    position: absolute;

    transition: .5s;

    &.active {
      opacity: 1;
      pointer-events: all;
      position: relative;
    }
  }
}

.cart-pickup {
  margin-bottom: getRem(30px);
  display: flex;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;

    margin: 0 -$col-pad-m getRem(20px);
  }

  &__info {
    padding: getRem(30px) $col-pad-m;
    background: var(--background-grey-extra-2);

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 4);
      padding: getRem(30px);
    }

    &-item {
      display: flex;

      &:not(:last-child) {
        margin-bottom: getRem(12px);

        @media (min-width: $breakpoint) {
          margin-bottom: getRem(16px);
        }
      }
    }

    &-ttl {
      @include fsl(16px, 140%);
      font-weight: 600;

      @media (min-width: $breakpoint) {
        margin-bottom: getRem(6px);
      }
    }
    &-txt {
      @include fsl(16px, 150%);
    }
  }
  &__ttl {
    @include fsl(18px, 140%);
    font-weight: 600;

    margin-bottom: getRem(14px);
    @media (min-width: $breakpoint) {
      margin-bottom: getRem(20px);
    }
  }
  &__svg {
    width: getRem(18px);
    height: getRem(18px);
    margin-right: getRem(8px);
    margin-top: getRem(3px);
    flex: none;
  }
  &__map {
    
    height: getRem(375px);

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 3);
      height: auto;
    }
  }

  &__btn {
    margin-top: getRem(20px);
    width: 100%;

    @media (min-width: $breakpoint) {
      margin-top: getRem(30px);
      width: getRem(337px);
    }
  }
}

.cart-receiving-form {

  &__ttl {
    @include fsl(18px, 140%);
    font-weight: 600;
    margin-bottom: getRem(12px);
  }
  &__note {
    @include fsl(16px, 160%);
    margin-bottom: getRem(20px);

    sup {
      color: var(--color-brown);
      height: 50%;
    }
  }
  
  &__form {
    margin-top: getRem(15px);

    @media (min-width: $breakpoint) {
      margin-top: getRem(20px);
      width: calc(#{$col-part-d} * 4);
    }

    .form__field-name sup {
      color: var(--color-brown);
      height: 50%;
    }
  }
  &__row {
    display: flex;

    .form__label {
      width: 100%;
    }
    .checkbox {
      padding: getRem(10px) 0 0 getRem(20px);
      display: flex;
      flex: none;
      align-items: center;

      @media (min-width: $breakpoint) {
        padding: getRem(10px) 0 0 getRem(30px);
        // align-items: flex-end;
      }
    }
    .checkbox__box {
      border: 1px solid var(--color-border-grey);
    }
    .checkbox__caption {
      white-space: nowrap;
    }
  }
  &__txt {
    @include fsl(16px, 160%);
    margin: getRem(20px) 0;

    @media (min-width: $breakpoint) {
      margin: getRem(30px) getRem(-100px) getRem(30px) 0;
    }
  }
  &__btn {
    width: 100%;
    margin: getRem(20px) 0 getRem(30px);

    @media (min-width: $breakpoint) {
      margin: getRem(30px) 0 getRem(44px);
    }
  }
  &__link {
    @include fsl(16px, 160%);
    color: var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
  }
}

.cart-final {

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 7 - (#{$col-gap / 2})) !important;
  }

  &__top {
    border-bottom: 1px solid var(--color-black-rgba-1);
    margin-bottom: getRem(20px);
    padding-bottom: getRem(20px);

    @media (min-width: $breakpoint) {
      margin-bottom: getRem(30px);
      padding-bottom: getRem(30px);
    }
  }
  &__ttl {
    margin-bottom: getRem(15px);
  }
  &__txt {
    @include fsl(16px, 160%);
  }

  &__info {
    margin: getRem(30px) 0 getRem(20px);

    @media (min-width: $breakpoint) {
      margin: getRem(60px) 0 getRem(30px);
    }
  }

  &-delivery {
    padding: getRem(35px) getRem(40px);
    background: var(--background-grey-extra-2);

    .cart-pickup__svg circle, .cart-pickup__svg path {
      stroke: var(--color-black);
    }
  }
}
