.cart-section {
  padding: getRem(90px) 0 getRem(150px);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: getRem(60px);
  }

  &__back-link {
    color: var(--color-grey);
    @include fsl(16px, 140%);
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__col {

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 8 - #{$col-gap});
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap});
    }
  }
}

.cart-stage {

  &__row {
    display: flex;
    justify-content: space-between;

    &-col {
      display: flex;
      align-items: center;
    }
  }
  &__count {
    @include fsl(30px, 130%);
    font-family: $ff-titles;

    width: calc(#{$col-width-d});
  }
  &__products {
    height: getRem(28px);
    @include fsl(16px, 100%);
    display: flex;
    align-items: center;
    margin-left: getRem(16px);
    padding-left: getRem(16px);
    border-left: 1px solid var(--color-grey);
    color: var(--color-grey);
  }
  &__product-list {
    margin-top: getRem(30px);

    .card-product:not(:first-child) {
      margin-top: getRem(10px);
    }

    &-btn {
      margin: getRem(30px) auto 0;
    }
  }

  &__recommend {
    margin-top: getRem(90px);

    &-ttl {
      margin-bottom: getRem(30px);
    }

    &-row {
      display: flex;
      justify-content: space-between;

      .catalog-card {
        width: calc(#{$col-part-d} + #{$col-width-d});
      }
    }
  }

  &__edit {
    @include fsl(16px, 130%);
    font-weight: 600;
    color: var(--color-brown);
  }

  &:not(:first-child) {
    border-top: 1px solid var(--color-black-rgba-1);
    padding: getRem(45px) 0;
  }
  &.collapsed {
    color: var(--color-grey);
  }
  &.open {
    padding-bottom: getRem(90px);
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.card-product {
  background: var(--background-grey-extra-2);

  display: flex;

  &__img {
    width: calc(#{$col-part-d} + #{$col-width-d});
    position: relative;

    .catalog-card__labels {
      top: 15px;
      left: 15px;
    }
  }
  &__info {
    width: calc(#{$col-part-d} * 3);
    padding: getRem(30px) 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__brand {
    @include fsl(16px, 130%);
    margin-bottom: getRem(4px);
  }
  &__ttl {
    @include fsl(20px, 140%);
    margin-bottom: getRem(6px);
  }
  &__txt {
    @include fsl(16px, 140%);
  }
  &__btn {
    @include fsl(16px, 140%);
    color: var(--color-grey);
    text-align: left;
    width: fit-content;
  }
  &__nums {
    width: calc(#{$col-part-d} * 2 + #{$col-gap});
    padding: getRem(30px) 0;
  }
  &__add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include fsl(16px, 140%);

    width: getRem(120px);

    button {
      position: relative;
      width: getRem(36px);
      height: getRem(36px);
      border: .5px solid var(--color-grey);
      border-radius: 50%;
      color: var(--color-grey);
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      // &:nth-child(1) {
      //   margin-right: getRem(16px);
      // }
      // &:nth-child(3) {
      //   margin-left: getRem(16px);
      // }

      &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 1px;
        background: var(--color-grey);
      }
      &.plus::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 9px;
        background: var(--color-grey);
      }
    }
  }
  &__amount {
    @include fsl(14px, 140%);
    margin-top: getRem(6px);
  }
  &__last-col {
    display: flex;
    align-items: flex-end;
    padding-bottom: getRem(30px);
  }
}

.cart-result {
  $comp: &;

  padding: getRem(40px) getRem(30px);
  background: var(--background-grey-extra-2);

  &__ttl {
    @include fsl(20px, 140%);
    font-weight: 600;
    margin-bottom: getRem(16px);
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: getRem(10px);

    @include fsl(16px, 140%);

    #{$comp}__value {
      font-weight: 600;
    }
  }
  &__total {
    margin-top: getRem(16px);
    display: flex;
    justify-content: space-between;

    @include fsl(18px, 140%);
    font-weight: 600;
  }
}

.cart-promocode {
  margin-top: getRem(10px);
  padding: getRem(20px) getRem(30px);
  background: var(--background-grey-extra-2);
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  transition: $transition;

  &.active {
    border: 1px solid var(--color-brown);
  }
  &.send-active {
    .cart-promocode-send {
      opacity: 1;
      pointer-events: all;
    }
  }
  &.delete-active {
    .cart-promocode-delete {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__input {
    width: 100%;
    border: none;
    background: transparent;
    @include fsl(16px, 140%);
    @include placeholder {
      color: var(--color-black);
    }
  }
  &-send {
    position: absolute;
    right: getRem(30px);
    opacity: 0;
    pointer-events: none;
    transition: $transition;
  }
  &__arrow {
    width: getRem(7px);
    height: getRem(12px);

    &:hover {
      path {
        stroke: var(--color-brown);
      }
    }

    path {
      stroke: var(--color-black);
      transition: $transition;
    }
  }

  &-delete {
    width: getRem(8px);
    height: getRem(8px);

    position: absolute;
    right: getRem(30px);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: $transition;

    &::after, &::before {
      content: '';
      position: absolute;
      width: getRem(10px);
      height: getRem(1px);
      background: var(--color-black);
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }

  &-error {
    margin-top: getRem(12px);
    @include fsl(16px, 160%);
    color: var(--color-brown);
    transition: $transition;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
}

.cart-products-notactive {
  margin-top: getRem(30px);

  .cart-products-item {
    &:not(:last-child) {
      margin-bottom: getRem(10px);
    }
  }
}

.cart-products-item {

  display: flex;
  align-items: center;

  &__img {
    height: getRem(77px);
    object-fit: cover;
  }
  &__row {
    display: flex;
    padding-left: getRem(12px);
    @include fsl(16px, 160%);
  }
}

.cart-empty {

  &__ttl {
    font-family: $ff-titles;
    margin-bottom: getRem(60px);
  }

  &-block {
    background: var(--background-grey-extra-2);
    padding: getRem(80px);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__ttl {
      @include fsl(24px, 130%);
      font-weight: 600;
    }
    &__txt {
      @include fsl(16px, 130%);
      margin-top: getRem(17px);
    }
    &__btn {
      width: getRem(320px);
      margin-top: getRem(40px);
    }
  }
}

.cart-stage-form {
  margin: getRem(12px) 0 0 calc(#{$col-width-d});
  width: calc(#{$col-part-d} * 4);

  sup {
    color: var(--color-brown);
    height: 50%;
  }

  &__note {
    margin-bottom: getRem(30px);
  }

  &__checkbox {
    margin-top: getRem(28px);
    display: flex;

    .checkbox__label {
      padding-top: getRem(7px);
      align-items: flex-start;
    }

    .checkbox__box {
      border: 1px solid var(--color-black);
    }

    .checkbox__caption {
      color: var(--color-grey);
      @include fsl(16px, 160%);

      a {
        color: var(--color-grey);
        border-bottom: 1px solid var(--color-grey-rgba-4);
      }
    }
  }

  &--result {
    margin: getRem(12px) 0 0 calc(#{$col-width-d});
    @include fsl(16px, 160%);

    .note {
      color: var(--color-grey);
    }
  }
}

.cart-receiving {
  margin: getRem(30px) 0 0 calc(#{$col-width-d});
}

.cart-receiving-options {

  display: flex;

  &__item {
    border: 1px solid var(--color-black-rgba-1);
    padding: getRem(20px) getRem(30px) getRem(30px) getRem(20px);
    display: flex;
    width: getRem(300px);

    cursor: pointer;
    transition: $transition;

    &:not(:last-child) {
      margin-right: getRem(15px);
    }
    &.active, &:hover {
      border: 1px solid var(--color-brown);
    }
  }

  &__svg {
    width: getRem(35px);
    height: getRem(35px);
    flex-shrink: 0;
  }
  &__col {
    margin-left: getRem(15px);
  }
  &__ttl {
    @include fsl(16px, 120%);
    font-weight: 600;
    margin-bottom: getRem(8px);
  }
  &__txt {
    @include fsl(16px, 150%);
    color: var(--color-grey);

    span {
      font-weight: 600;
    }
  }
}

.cart-receiving-types {

  display: grid;
  grid-template-areas: 'a';

  position: relative;

  margin-top: getRem(30px);

  &:first-child {
    margin-top: 0;
  }

  &__item {
    grid-area: a;

    opacity: 0;
    pointer-events: none;

    position: absolute;

    transition: .5s;

    &.active {
      opacity: 1;
      pointer-events: all;
      position: relative;
    }
  }
}

.cart-pickup {
  margin-bottom: getRem(30px);
  display: flex;

  &__info {
    width: calc(#{$col-part-d} * 4);
    padding: getRem(30px);
    background: var(--background-grey-extra-2);

    &-item {
      display: flex;

      &:not(:last-child) {
        margin-bottom: getRem(16px);
      }
    }

    &-ttl {
      @include fsl(16px, 140%);
      font-weight: 600;
      margin-bottom: getRem(6px);
    }
    &-txt {
      @include fsl(16px, 150%);
    }
  }
  &__ttl {
    @include fsl(18px, 140%);
    font-weight: 600;
    margin-bottom: getRem(20px);
  }
  &__svg {
    width: getRem(18px);
    height: getRem(18px);
    margin-right: getRem(8px);
    margin-top: getRem(3px);
  }
  &__map {
    width: calc(#{$col-part-d} * 3);
    height: auto;
  }

  &__btn {
    margin-top: getRem(30px);
    width: getRem(337px);
  }
}

.cart-receiving-form {

  &__ttl {
    @include fsl(18px, 140%);
    font-weight: 600;
    margin-bottom: getRem(12px);
  }
  &__note {
    @include fsl(16px, 160%);
    margin-bottom: getRem(20px);

    sup {
      color: var(--color-brown);
      height: 50%;
    }
  }
  
  &__form {
    margin-top: getRem(20px);
    width: calc(#{$col-part-d} * 4);

    .form__field-name sup {
      color: var(--color-brown);
      height: 50%;
    }
  }
  &__row {
    display: flex;

    .form__label {
      width: 100%;
    }
    .checkbox {
      padding-left: getRem(30px);
      display: flex;
      flex: none;
      align-items: flex-end;
    }
    .checkbox__box {
      border: 1px solid var(--color-border-grey);
    }
    .checkbox__caption {
      white-space: nowrap;
    }
  }
  &__txt {
    @include fsl(16px, 160%);
    margin: getRem(30px) getRem(-100px) getRem(30px) 0;
  }
  &__btn {
    width: 100%;
    margin: getRem(30px) 0 getRem(44px);
  }
  &__link {
    @include fsl(16px, 160%);
    color: var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
  }
}

.cart-final {
  width: calc(#{$col-part-d} * 7 - (#{$col-gap / 2})) !important;

  &__top {
    border-bottom: 1px solid var(--color-black-rgba-1);
    margin-bottom: getRem(30px);
    padding-bottom: getRem(30px);
  }
  &__ttl {
    margin-bottom: getRem(15px);
  }
  &__txt {
    @include fsl(16px, 160%);
  }

  &__info {
    margin: getRem(60px) 0 getRem(30px);
  }

  &-delivery {
    padding: getRem(35px) getRem(40px);
    background: var(--background-grey-extra-2);

    .cart-pickup__svg circle, .cart-pickup__svg path {
      stroke: var(--color-black);
    }
  }
}
