.humidor-top-bg {
  background: url(assets/images/humidor-block-bg-mob.jpeg) no-repeat center;
  background-size: cover;

  @media (min-width: $breakpoint-m) {
    background: url(assets/images/humidor-block-bg.jpeg) no-repeat center;
  }
}

.nums-block-bottom {
  display: flex;
  justify-content: space-between;

  padding: getRem(65px) 0;

  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column;
  }
  @media (max-width: ($breakpoint - 1px)) {
    padding: getRem(30px) 0;
  }

  &__col {
    text-align: center;

    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(30px) 0;
    }
    @media (min-width: $breakpoint-m) {
      width: calc(100% / 3);
    }

    &:nth-child(2) {
      border: 1px solid var(--color-border-extra);

      @media (max-width: ($breakpoint-m - 1px)) {
        border-left: none;
        border-right: none;
      }
      @media (min-width: $breakpoint-m) {
        border-top: none;
        border-bottom: none;
      }
    }
  }
  &__big {
  }
  &__txt {
    @include fsl(18px, 160%);
    color: var(--color-grey);

    @media (min-width: $breakpoint) {
      @include fsl(20px, 160%);
    }
  }
}

.blockquote {
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: getRem(50px);
    height: getRem(1px);
    background: var(--color-brown);

    @media (min-width: $breakpoint) {
      width: getRem(60px);
    }
  }

  &__txt {
    font-family: $ff-titles;
    @include fsl(30px, 140%);

    margin: getRem(20px) 0 getRem(30px);

    @media (min-width: $breakpoint) {
      @include fsl(60px, 140%);
      margin: getRem(30px) 0;
    }
  }

  &__name {
    @include fsl(11px, 150%);
    font-weight: 700;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: var(--color-brown);

    @media (min-width: $breakpoint) {
      @include fsl(13px, 130%);
    }
  }
}

.humidor-slider {

  overflow: hidden;

  .swiper-slide {

    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(300px);
      height: auto;
    }
    @media (min-width: $breakpoint) {
      width: fit-content;
    }

    picture, img {
      @media (max-width: ($breakpoint - 1px)) {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.certificate-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column-reverse;
  }
  @media (min-width: $breakpoint) {
    padding: 0 calc(#{$col-width-d});
  }

  &__col {
    @media (max-width: ($breakpoint-m - 1px)) {
      margin-top: getRem(43px);
    }
    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-t} * 4 - #{$col-gap-m});
    }
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 4 + #{$col-gap});
      margin-right: calc(#{$col-part-d});
    }
  }

  &__img {
    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-t} * 4 - #{$col-gap-m} * 2);
    }
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 5);
    }
  }

  .big-titles__txt {
    margin-top: getRem(8px);
    @media (min-width: $breakpoint) {
      margin-top: getRem(15px);
    }
  }

  &__btn {
    margin-top: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-t} * 3 - #{$col-gap-m});
      margin-top: getRem(30px);
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      width: 100%;
    }
  }
}

.humidor-section {
  @media (max-width: ($breakpoint - 1px)) {
    padding-top: getRem(45px);
  }
}

.humidor-block {
  display: flex;
  align-items: center;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
    padding: 0 $col-gap-m getRem(60px);
    margin: 0 -$col-gap-m;
  }
  @media (min-width: $breakpoint) {
    padding: getRem(130px) 0;
  }

  &__img {
    
    flex-shrink: 0;

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(-45px);
    }

    @media (min-width: $breakpoint) {
      width: calc((#{$col-part-d} * 5 - #{$col-gap}) + 240px);
      margin-left: calc(#{$col-pad-d} * -1);
    }

    img {
      width: 100%;
    }
  }

  &__col {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(45px);
    }
    @media (min-width: $breakpoint) {
      padding: 0 calc(#{$col-part-d} + #{$col-width-d}) 0 calc(#{$col-part-d} + #{$col-gap});
    }

    .big-titles__txt {
      margin-top: getRem(8px);

      @media (min-width: $breakpoint) {
        margin-top: getRem(15px);
      }
    }
  }
}