.humidor-top-bg {
  background: url(assets/images/humidor-block-bg.jpeg) no-repeat center;
}

.nums-block-bottom {
  display: flex;
  justify-content: space-between;

  padding: getRem(65px) 0;

  &__col {
    width: calc(100% / 3);
    text-align: center;

    &:nth-child(2) {
      border-left: 1px solid var(--color-border-extra);
      border-right: 1px solid var(--color-border-extra);
    }
  }
  &__big {
    font-family: $ff-titles;
    @include fsl(72px, 130%);
  }
  &__txt {
    @include fsl(20px, 160%);
    color: var(--color-grey);
  }
}

.blockquote {
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: getRem(60px);
    height: getRem(1px);
    background: var(--color-brown);
  }

  &__txt {
    font-family: $ff-titles;
    @include fsl(60px, 140%);

    margin: getRem(30px) 0;
  }

  &__name {
    @include fsl(13px, 130%);
    font-weight: 700;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: var(--color-brown);
  }
}

.humidor-slider {

  overflow: hidden;

  .swiper-slide {
    width: fit-content;
  }
}

.certificate-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 calc(#{$col-width-d});

  &__col {
    width: calc(#{$col-part-d} * 4 + #{$col-gap});
    margin-right: calc(#{$col-part-d});
  }

  &__img {
    width: calc(#{$col-part-d} * 5);
  }

  .big-titles__txt {
    margin-top: getRem(15px);
  }

  .button {
    margin-top: getRem(60px);
  }
}

.humidor-block {
  padding: getRem(130px) 0;

  display: flex;
  align-items: center;

  &__img {
    width: calc((#{$col-part-d} * 5 - #{$col-gap}) + 240px);
    margin-left: calc(#{$col-pad-d} * -1);
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }

  &__col {
    padding: 0 calc(#{$col-part-d} + #{$col-width-d}) 0 calc(#{$col-part-d} + #{$col-gap});

    .big-titles__txt {
      margin-top: getRem(15px);
    }
  }
}