.lounge-main-section {
  text-align: center;

  @media  (max-width: ($breakpoint-m - 1px)) {
    padding: getRem(105px) 0 !important;
    height: getRem(400px);
  }
  @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
    padding: getRem(40px) 0 !important;
  }
  @media (min-width: $breakpoint) {
    padding: getRem(140px) 0 !important;
  }

  .button {
    @media (max-width: ($breakpoint-m - 1px)) {
      margin: getRem(45px) auto 0 !important;
    }
    @media (min-width: $breakpoint-m) {
      margin: getRem(30px) auto 0 !important;
    }
  }
}

.lounge-main-bg {
  background: url(assets/images/lounge-bg-mob.jpeg) no-repeat center;

  @media (min-width: $breakpoint) {
    background: url(assets/images/lounge-bg.jpeg) no-repeat center;
  }

  background-size: cover;
}

.fumelier-block {
  display: flex;
  justify-content: space-between;

  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column-reverse;
  }
  @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
    align-items: center;
  }
  @media (min-width: $breakpoint) {
    padding: 0 calc(#{$col-width-d});
  }

  .big-titles {
    margin-top: getRem(45px);

    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-t} * 4 - #{$col-gap-m});
      margin-top: 0;
    }
    @media (min-width: $breakpoint) {
      margin-top: getRem(90px);
      width: calc(#{$col-part-d} * 4);
    }
  }

  .big-titles__txt {
    margin-top: getRem(15px);
  }

  &__img {
    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-t} * 4 - #{$col-gap-m} * 2);
    }
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 5);
    }
  }
}

.cabinet-main-bg {
  background: url(assets/images/cabinet-main-bg-mob.jpeg) no-repeat center;

  @media (min-width: $breakpoint-m) {
    background: url(assets/images/cabinet-main-bg.jpeg) no-repeat center;
  }
  background-size: cover;
}

.cabinet-section-bg {
  background: url(assets/images/cabinet-section-bg.jpeg) no-repeat center;

  @media (max-width: ($breakpoint-m - 1px)) {
    background-image: url(assets/images/cabinet-section-bg-mob.jpeg);
  }
  background-size: cover;
}
