.lounge-main-section {
  padding: getRem(140px) 0 !important;

  .button {
    margin-top: getRem(30px) !important;
  }
}

.lounge-main-bg {
  background: url(assets/images/lounge-bg.jpeg) no-repeat center !important;
}

.fumelier-block {
  display: flex;
  justify-content: space-between;

  padding: 0 calc(#{$col-width-d});

  .big-titles {
    margin-top: getRem(90px);
    width: calc(#{$col-part-d} * 4);
  }

  .big-titles__txt {
    margin-top: getRem(15px);
  }

  &__img {
    width: calc(#{$col-part-d} * 5);
  }
}

.cabinet-main-bg {
  background: url(assets/images/cabinet-main-bg.jpeg) no-repeat center !important;
}

.cabinet-section-bg {
  background: url(assets/images/cabinet-section-bg.jpeg) no-repeat center !important;
}

.cabinet-col {
  .two-cols-block__link {
    display: inline-block;
    margin-top: getRem(30px);
  }
}