.first-screen {

  display: flex;
  align-items: flex-end;
  height: getRem(670px);

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  @media (max-width: ($breakpoint - 1px)) {
    height: 100%;
  }

  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column-reverse;
    align-items: center;
  }

  &.loaded {
    [data-video-show] {
      transform: translateY(-100%);
      transition: transform 1.2s $transition-func;
    }
    .first-screen__ttl {
      .from-right {
        transform: none;
        transition: 1.2s $transition-func;
      }

      .from-left {
        transform: translateX(-10px);
        transition: 1.2s $transition-func;

        @media (min-width: $breakpoint-m) {
          transform: none;
        }
      }
    }
    [data-fade-up] {
      transform: none;
      opacity: 1;
      transition: 1.2s $transition-func;
    }
  }

  [data-fade-up] {
    transform: translateY(200%);
    opacity: 0;
    transition: 1.2s $transition-func;
  }

  &-container {
    position: relative;

    @media (min-width: $breakpoint) {
      height: getRem(670px);
      margin-bottom: getRem(25px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      // height: getRem(327px);
      height: 327px;
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      width: getRem(335px);
      height: getRem(500px);
      margin: 0 auto;
    }
  }

  &__col1 {
    width: getRem(535px);
    height: getRem(670px);
    flex-shrink: 0;
    overflow: hidden;
    position: relative;

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-t} * 3 - #{$col-gap-m});
      height: 100%;
    }

    @media (max-width: ($breakpoint-m - 1px)) {
      position: absolute;
      // width: auto;
      width: getRem(235px);
      margin: 0 auto;

      // left: calc(#{$col-width-m});
      // right: calc(#{$col-width-m});

      // left: getRem(50px);
      // right: getRem(50px);

      top: 0;
      bottom: unset;

      height: getRem(410px);
    }

    // &.loaded::after {
    //   transform: translateY(-100%);
    //   transition: transform 1.2s $transition-func;
    // }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: var(--color-light-grey);
      transition: transform 1.2s $transition-func;
    }
  }
  &__col2 {
    display: flex;
    align-items: flex-end;
    width: 100%;

    position: relative;

    @media (min-width: $breakpoint-m) {
      background: var(--color-light-grey);
      height: 100%;
    }

    @media (min-width: $breakpoint) {
      height: getRem(670px);
    }
  }
  &__col3 {
    width: getRem(253px);
    margin-left: -1px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    position: relative;

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-t});
    }

    @media (max-width: ($breakpoint-m - 1px)) {
      display: none;
    }

    &-bg {
      width: 100%;
      height: getRem(370px);
      flex-shrink: 0;
      background: var(--color-light-grey);

      @media (max-width: ($breakpoint - 1px)) {
        // height: getRem(215px);
        height: 215px;
      }
    }
    &-transp {
      width: 100%;
      height: getRem(300px);
      flex-shrink: 0;
      overflow: hidden;
      position: relative;

      @media (max-width: ($breakpoint - 1px)) {
        // height: getRem(112px);
        height: 112px;
      }

      // &.loaded::after {
      //   transform: translateY(-100%);
      //   transition: transform 1.2s $transition-func;
      // }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--color-light-grey);
        transition: transform 1.2s $transition-func;
      }
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: grayscale(100%);

    &.left {
      left: -33%;

      @media (max-width: ($breakpoint-m - 1px)) {
        display: none;
      }
    }

    &-container {
      position: absolute;
      top: 1px;
      right: 1px;
      left: 1px;
      bottom: 2px;
      overflow: hidden;

      @media (max-width: ($breakpoint-m - 1px)) {
        // left: calc(#{$col-width-m});
        // right: calc(#{$col-width-m});

        // left: getRem(50px);
        // right: getRem(50px);

        width: getRem(235px);
        margin: 0 auto;

        top: 0;
        bottom: unset;

        height: getRem(410px);
      }

      img.only-mobile {
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
      }
    }
  }

  &__img {

    &--big {
      width: getRem(535px);
      height: getRem(670px);
      flex-shrink: 0;
    }
    &--small {
      width: getRem(253px);
      height: getRem(300px);
      flex-shrink: 0;
    }
  }

  &__txt {
    @include fsl(18px, 160%);
    text-align: center;
    width: 100%;
    padding-top: getRem(30px);
    cursor: default;

    @media (min-width: $breakpoint-m) {
      text-align: right;
      padding: 0 getRem(20px) getRem(27px) 0;
    }
    @media (min-width: $breakpoint) {
      @include fsl(26px, 130%);
      text-align: right;
      padding: 0 getRem(84px) getRem(110px) calc(#{$col-part-d});
    }
  }

  &__ttl {
    position: absolute;
    top: getRem(51px);
    left: getRem(257px);
    // mix-blend-mode: exclusion;

    cursor: default;
    
    // text-indent: getRem(110px);
    // max-width: getRem(600px);

    @media (max-width: ($breakpoint - 1px)) {
      top: getRem(45px);
      // left: getRem(154px);
      left: calc(#{$col-part-t} * 2 + #{$col-width-t} - #{getRem(110px)});
    }

    @media (max-width: ($breakpoint-m - 1px)) {
      width: 100%;
      top: getRem(90px);
      left: 0;
      padding-top: getRem(25px);
    }

    // &.loaded {
    //   .from-right {
    //     transform: none;
    //     transition: 1.2s $transition-func;
    //   }

    //   .from-left {
    //     transform: translateX(-10px);
    //     transition: 1.2s $transition-func;

    //     @media (min-width: $breakpoint-m) {
    //       transform: none;
    //     }
    //   }
    // }

    &--big {
      font-family: 'Berlingske Serif';
      color: var(--color-white);
  
      @include fsl(144px, 125%);

      @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
        margin-top: getRem(20px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(56px, 130%);
      }

      .from-right {
        display: inline-block;
        margin-left: getRem(110px);
        transform: translateX(200%);
        mix-blend-mode: exclusion;
        // transition: 1.2s $transition-func;
        transition: none;

        @media (max-width: ($breakpoint - 1px)) {
          margin-left: getRem(42px);
        }
        @media (max-width: ($breakpoint-m - 1px)) {
          margin-left: getRem(30px);
        }

        @media (min-width: 800px) and (max-width: ($breakpoint - 1px)) {
          transform: translateX(400%);
        }
      }
      .from-left {
        display: inline-block;
        mix-blend-mode: exclusion;
        transform: translateX(-250%);
        // transition: 1.2s $transition-func;
        transition: none;

        @media (min-width: 800px) and (max-width: ($breakpoint - 1px)) {
          transform: translateX(-400%);
        }
      }
    }

    &--small {
      font-family: $ff-main;
      color: var(--color-brown);
      @include fsl(11px, 130%);
      font-weight: 700;
      letter-spacing: 0.17em;
      text-transform: uppercase;

      position: absolute;
      white-space: nowrap;
      z-index: 5;
      mix-blend-mode: unset;

      @media (min-width: $breakpoint-m) {
        top: getRem(40px);
        // left: getRem(280px);
        left: calc(#{$col-part-t} * 3);
      }
      @media (min-width: $breakpoint) {
        @include fsl(13px, 130%);
        top: getRem(83px);
        left: getRem(560px);
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        top: getRem(90px);
        right: getRem(70px);
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 0 #{$col-pad-d} getRem(30px);

    @media (max-width: ($breakpoint - 1px)) {
      padding: 0 #{$col-pad-m} getRem(30px);
    }

    &-col {
      width: calc(#{$col-part-d});
    }

    .scroll-down__line {
      background: linear-gradient(rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 1) 100%);
      animation: loop 3s infinite;
    } 
  }

  &__mob-btn {
    margin: 0 auto getRem(50px);

    @media (min-width: $breakpoint-m) {
      display: none;
    }
  }
}

.vk-circle-ico {
  width: getRem(15px);
  height: getRem(9px);

  @media (min-width: $breakpoint) {
    width: getRem(22px);
    height: getRem(13px);
  }
}
.tg-circle-ico, .wa-circle-ico {
  width: getRem(16px);
  height: getRem(16px);
}

.scroll-down {
  // cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__txt {
    @include fsl(11px, 150%);
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    transition: .3s;

    &:hover {
      color: var(--color-brown);
    }

    @media (min-width: $breakpoint) {
      @include fsl(13px, 140%);
    }
  }

  &__line {
    margin-top: getRem(10px);

    width: 1px;
    height: getRem(30px);
    background: var(--color-black);

    @media (min-width: $breakpoint) {
      height: getRem(50px);
    }
  }
}

.message-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;

  cursor: pointer;
}

.main-page-block {

  $comp: &;

  &__cols {
    display: flex;
    justify-content: space-between;

    padding: getRem(8px) 0 getRem(45px);

    @media (min-width: $breakpoint) {
      padding: getRem(48px) 0 getRem(150px) calc(#{$col-part-d} * 3);
    }
    @media (max-width: ($breakpoint-m - 1px)) {
      flex-direction: column;
    }

    #{$comp}__col {
      @include fsl(16px, 160%);
      color: var(--color-border-grey);

      @media (min-width: $breakpoint-m) {
        width: calc(#{$col-part-t} * 4 - #{$col-gap-m});
      }
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 4 - #{$col-gap});
        @include fsl(20px, 160%);
      }

      &:nth-child(2) {
        @media (max-width: ($breakpoint-m - 1px)) {
          margin-top: getRem(10px);
        }
      }
    }
  }

  &__bottom {

    display: flex;
    justify-content: space-between;

    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: getRem(30px);

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
      padding-top: 0;
    }

    &-links {
      @include fsl(18px, 150%);
      color: var(--color-white);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      transition: .3s;

      @media (max-width: ($breakpoint - 1px)) {
        display: flex;
        justify-content: space-between;

        @include fsl(16px, 150%);
        padding: getRem(20px) 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      &:hover {
        color: var(--color-brown);
      }

      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-white);
        border-radius: 50%;

        width: getRem(28px);
        height: getRem(28px);
        margin-left: getRem(50px);

        svg {
          width: getRem(48px);
          height: getRem(8px);

          path {
            stroke: var(--color-white);
          }
        }
      }
    }
  }
}

.two-cols-block {

  $comp: &;
  
  display: flex;
  justify-content: space-between;

  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column;
  }

  &__col {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-t} * 4 - #{$col-gap-m});
    }
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap});
    }

    &:nth-child(1) {
      margin-bottom: getRem(20px);

      @media (min-width: $breakpoint-m) {
        padding-top: getRem(30px);
        margin-bottom: 0;
      }
      @media (min-width: $breakpoint) {
        padding-top: getRem(60px);
        // margin-bottom: 0;
      }

      img {
        margin-top: getRem(30px);

        @media (min-width: $breakpoint-m) {
          margin-top: getRem(188px);
        }
        @media (min-width: $breakpoint) {
          margin-top: getRem(213px);
        }
      }

      #{$comp}__txt {
        margin-top: getRem(8px);

        @media (min-width: $breakpoint) {
          margin-top: getRem(20px);
          width: calc(#{$col-part-d} * 4 - #{$col-gap});
        }
      }
    }
    
    &:nth-child(2) {

      @media (min-width: $breakpoint-m) {
        padding-bottom: getRem(30px);
      }
      @media (min-width: $breakpoint) {
        padding-bottom: getRem(65px);
      }

      .txt-block {
        margin-top: getRem(30px);
        
        @media (min-width: $breakpoint) {
          margin-top: 0;
          padding-left: calc(#{$col-part-d});
        }
      }

      // #{$comp}__txt {
      //   margin-bottom: getRem(30px);
      // }
    }
  }

  &__txt {
    @include fsl(16px, 160%);

    @media (min-width: $breakpoint) {
      @include fsl(20px, 160%);
    }
  }

  &__link {
    display: inline-block;
    @include fsl(16px, 150%);
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    padding-bottom: getRem(5px);
    border-bottom: 1px solid rgba(27, 27, 27, 0.5);

    transition: $transition;

    &:hover {
      color: var(--color-brown);
      border-color: var(--color-brown);
    }

    @media (min-width: $breakpoint) {
      @include fsl(18px, 150%);
    }
  }

  &__pl {
    padding-left: calc(#{$col-width-d});
  }
}

.lounge-section {
  .two-cols-block__col:nth-child(2) {
    .two-cols-block__txt {
      margin-bottom: getRem(15px);

      @media (min-width: $breakpoint) {
        margin-bottom: getRem(30px);
      }
    }
  }
}

.section-bg-photo {
  padding: getRem(185px) 0;
  text-align: center;

  @media (min-width: $breakpoint) {
    padding: getRem(250px) 0;
  }

  .two-cols-block__txt {
    margin-top: getRem(8px);
  }

  .button {
    margin: getRem(60px) auto 0;
  }
}

.restaurant-block {
  &__col {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap});
      padding-right: calc(#{$col-part-d});
      margin: 0 0 0 auto;
    }
  }
  &__btn {
    margin-top: getRem(20px);

    @media (min-width: $breakpoint) {
      margin-top: getRem(30px);
    }

    .two-cols-block__link {
      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(16px, 150%);
      }
    }
  }
  .big-titles__txt {
    margin-top: getRem(8px);

    @media (min-width: $breakpoint) {
      margin-top: getRem(15px);
    }
  }
}

.subscription-section {
  .two-cols-block__txt {
    margin-top: getRem(15px);
  }
}

.reviews-section {

  &__row {
    margin-top: getRem(45px);
    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
      flex-direction: column;
    }
  }

  &__col {
    width: calc(#{$col-part-d} + #{$col-gap});
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &:nth-child(1) {
      margin-left: calc((#{$col-part-d} + #{$col-gap}) * -1);
      justify-content: flex-end;
    }

    button {
      margin: 0 #{$col-gap};
    }
  }

  &__grade {

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap});
      padding-bottom: getRem(40px);
    }

    @media (max-width: ($breakpoint - 1px)) {
      text-align: center;
      margin-top: getRem(44px);
    }

    &-big {
      font-family: 'Berlingske Serif';
      @include fsl(60px, 130%);

      @media (min-width: $breakpoint) {
        @include fsl(144px, 130%);
      }
    }

    &-txt {
      @include fsl(20px, 160%);

      @media (min-width: $breakpoint) {
        @include fsl(18px, 160%);
      }
    }
  }
}

.section-bg-vid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @media (max-width: ($breakpoint - 1px)) {
    background: url(assets/images/section-bg-mob.jpeg) no-repeat center;
    background-size: cover;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-black-rgba-6);
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
