.first-screen {
  display: flex;
  align-items: flex-end;

  position: relative;

  padding-bottom: getRem(35px);

  &__img {

    &--big {
      width: getRem(535px);
      height: getRem(670px);
      flex-shrink: 0;
    }
    &--small {
      width: getRem(253px);
      height: getRem(300px);
      flex-shrink: 0;
    }
  }

  &__txt {
    @include fsl(26px, 140%);

    width: 100%;
    text-align: right;

    padding: 0 getRem(84px) getRem(100px) calc(#{$col-part-d});
  }

  &__ttl {
    position: absolute;
    top: getRem(51px);
    left: getRem(257px);
    
    text-indent: getRem(110px);
    max-width: getRem(600px);

    &--big {
      font-family: 'Berlingske Serif';

      mix-blend-mode: exclusion;
      color: var(--color-white);
  
      @include fsl(144px, 130%);
    }

    &--small {
      font-family: $ff-main;
      color: var(--color-brown);
      @include fsl(13px, 130%);
      font-weight: 700;
      letter-spacing: 0.13em;
      text-transform: uppercase;

      position: absolute;
      top: getRem(50px);
      left: getRem(190px);
      white-space: nowrap;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;

    padding: 0 #{$col-pad-d} getRem(30px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0 #{$col-pad-m} getRem(30px);
    }
  }
}

.scroll-down {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__txt {
    @include fsl(13px, 140%);
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__line {
    margin-top: getRem(10px);

    width: 1px;
    height: getRem(50px);
    background: var(--color-black);
  }
}

.message-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;

  cursor: pointer;
}

.main-page-block {

  $comp: &;

  &__cols {
    display: flex;
    justify-content: space-between;

    padding: getRem(48px) 0 getRem(150px) calc(#{$col-part-d} * 3);

    #{$comp}__col {
      width: calc(#{$col-part-d} * 4 - #{$col-gap});

      @include fsl(20px, 160%);
      color: var(--color-border-grey);
    }
  }

  &__bottom {

    display: flex;
    justify-content: space-between;

    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: getRem(30px);

    &-links {
      @include fsl(18px, 150%);
      color: var(--color-white);
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}

.two-cols-block {

  $comp: &;
  
  display: flex;
  justify-content: space-between;

  &__col {
    width: calc(#{$col-part-d} * 6 - #{$col-gap});

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(1) {
      img {
        margin-top: getRem(213px);
      }

      #{$comp}__txt {
        margin-top: getRem(20px);
        width: calc(#{$col-part-d} * 4 - #{$col-gap});
      }
    }
    
    &:nth-child(2) {

      & > div {
        padding-left: calc(#{$col-part-d});
      }

      // #{$comp}__txt {
      //   margin-bottom: getRem(30px);
      // }
    }
  }

  &__txt {
    @include fsl(20px, 160%);
    
  }

  &__link {
    @include fsl(18px, 150%);
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    padding-bottom: getRem(5px);
    border-bottom: 1px solid rgba(27, 27, 27, 0.5);;
  }
}

.lounge-section {
  .two-cols-block__col:nth-child(2) {
    .two-cols-block__txt {
      margin-bottom: getRem(30px);
    }
  }
}

.section-bg-photo {
  padding: getRem(250px) 0;
  text-align: center;
  background: url(assets/images/section-bg.jpg) no-repeat center;

  .two-cols-block__txt {
    margin-top: getRem(8px);
  }

  .button {
    margin: getRem(60px) auto 0;
  }
}

.restaurant-block {
  .two-cols-block__txt {
    margin-top: getRem(15px);
  }
}

.restaurant-slider {
  display: flex;
  margin-top: getRem(150px);

  &__col {
    width: calc(#{$col-part-d});

    display: flex;
    align-items: center;

    &:nth-child(3) {
      justify-content: flex-end;
    }
  }

  &__control {
    width: getRem(44px);
    height: getRem(44px);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-brown);
    border-radius: 50%;
  }

  &__container {
    width: calc(#{$col-part-d} * 10 - #{$col-gap});
    overflow: hidden;
  }

  &__pagination {
    margin-top: getRem(20px);

    .swiper-pagination-bullet {
      width: getRem(30px);
      height: getRem(2px);
      background: #CECECE;
      border-radius: 5px;

      &.swiper-pagination-bullet-active {
        background: var(--color-brown);
      }
    }
  }
}

.subscription-section {
  .two-cols-block__txt {
    margin-top: getRem(15px);
  }
}

.reviews-section {

  &__row {
    margin-top: getRem(45px);
    display: flex;
  }

  &__col {
    width: calc(#{$col-part-d} + #{$col-gap});
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &:nth-child(1) {
      margin-left: calc((#{$col-part-d} + #{$col-gap}) * -1);
      justify-content: flex-end;
    }

    button {
      margin: 0 #{$col-gap};
    }
  }

  &__slider {
    display: flex;

    .swiper-container {
      width: calc(#{$col-part-d} * 8 - #{$col-gap});
      overflow: hidden;
      height: fit-content;
    }

    &-slide {
      width: auto;
    }
  }

  &__grade {
    width: calc(#{$col-part-d} * 3 - #{$col-gap});

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-bottom: getRem(40px);

    &-big {
      font-family: 'Berlingske Serif';
      @include fsl(144px, 130%);
    }

    &-txt {
      @include fsl(20px, 160%);
    }
  }
}

.shop-slider {
  margin-top: getRem(45px);
  // position: relative;
  // padding-bottom: getRem(108px);

  &__row {
    display: flex;
  }

  .swiper-container {
    overflow: hidden;
  }
  .swiper-slide {
    width: fit-content;
  }

  &__col {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      margin-left: getRem(-74px);
      button {
        margin-right: getRem(30px);
      }
    }
    &:nth-child(3) {
      margin-right: getRem(-74px);
      button {
        margin-left: getRem(30px);
      }
    }
  }

  &__btn {
    margin: getRem(58px) auto 0;
    // position: absolute;
    // bottom: 0;
  }
}