.favorites-top {
  margin-bottom: getRem(60px);
}

.search-top {
  margin-bottom: getRem(45px);

  @media (max-width: ($breakpoint - 1px)) {
    margin-bottom: getRem(30px);
  }

  &__count {
    margin-top: getRem(15px);
    @include fsl(20px, 130%);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(8px);
      @include fsl(16px, 130%);
    }
  }
}

.delivery-row {
  display: flex;
  justify-content: space-between;

  margin-top: getRem(60px);

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: getRem(45px);
    flex-direction: column;
  }

  &__item {
    width: 100%;
    padding: getRem(30px) getRem(20px);
    border: 1px solid var(--color-border-grey);

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap});
      padding: getRem(50px);
    }

    &:not(:last-child) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: getRem(20px);
      }
    }

    &-ttl {
      font-family: $ff-titles;
      @include fsl(24px, 130%);
      margin-bottom: getRem(12px);

      @media (min-width: $breakpoint) {
        @include fsl(36px, 130%);
        margin-bottom: getRem(20px);
      }
    }
  }

  &__txt {
    @include fsl(16px, 160%);
    margin: getRem(12px) 0;

    @media (min-width: $breakpoint) {
      @include fsl(18px, 160%);
      margin: getRem(15px) 0;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__map-link {
    margin-top: getRem(8px);
    @include fsl(16px, 130%);
    font-weight: 600;
    color: var(--color-brown);

    @media (min-width: $breakpoint) {
      @include fsl(18px, 130%);
    }
  }

  &-icons {
    display: flex;
    align-items: center;

    img {
      flex-shrink: 0;
    }

    img:not(:last-child) {
      margin-right: getRem(24px);
    }
  }
}

.certificates-block {
  
  $comp: &;

  padding: getRem(60px) calc(#{$col-width-d}) 0;

  @media (max-width: ($breakpoint - 1px)) {
    padding-right: 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint-m - 1px)) {
      flex-direction: column-reverse;

      &:nth-child(2n + 2) {
        flex-direction: column;
      }
    }

    &:not(:last-child) {
      margin-bottom: getRem(60px);

      @media (min-width: $breakpoint) {
        margin-bottom: getRem(120px);
      }
    }
  }

  &__img, picture {
    width: 100%;

    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-t} * 4 - #{$col-gap-m});
    }
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 5 - (#{$col-gap} * 2));
    }
  }

  &__info {
    margin-top: getRem(45px);
    
    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-t} * 4 - #{$col-gap-m});
      margin-top: 0;
    }
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 5);
      margin-top: getRem(60px);
    }
  }

  .small-titles {
    margin-bottom: getRem(8px);

    @media (min-width: $breakpoint) {
      margin-bottom: getRem(15px);
    }
  }

  &__txt {
    @include fsl(16px, 160%);

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 4);
      @include fsl(18px, 170%);
    }
  }

  &__btn {
    margin-top: getRem(45px);

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      margin-top: getRem(30px);
    }
  }

  &__note {
    margin-top: getRem(15px);
    @include fsl(14px, 160%);
    color: var(--color-grey);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(20px);
    }
  }
}

.restaurant-page-block {
  padding-top: 0;

  .big-titles__txt {
    margin-top: getRem(8px);

    @media (min-width: $breakpoint) {
      margin-top: getRem(15px);
      width: calc(#{$col-part-d} * 4);
    }
  }

  .certificates-block__btn {
    margin-top: getRem(40px);
  }
}

.restaurant-main-bg {
  background: url(assets/images/restaurant-main-bg.jpg) no-repeat center;

  @media (max-width: ($breakpoint-m - 1px)) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: $breakpoint-m) {
    background-image: url(assets/images/restaurant-main-bg.jpg);
  }
  background-size: cover;
}

.menu-main-bg {
  background: url(assets/images/menu-main-bg-mob.jpg) no-repeat center;

  @media (max-width: ($breakpoint-m - 1px)) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: $breakpoint-m) {
    background-image: url(assets/images/menu-main-bg.jpeg);
  }
  background-size: cover;
}

.menu-list {
  margin-top: getRem(20px);
  padding: getRem(30px) getRem(20px);
  background: var(--background-grey-extra-2);

  @media (min-width: $breakpoint) {
    margin-top: getRem(45px);
    padding: getRem(50px) getRem(40px);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: getRem(14px);

      @media (min-width: $breakpoint) {
        margin-bottom: getRem(10px);
      }
    }
  }

  &__name {
    @include fsl(16px, 150%);
    max-width: 70%;
  }
  &__price {
    @include fsl(16px, 170%);
    font-weight: 600;
    max-width: 20%;
    white-space: nowrap;
    margin-left: getRem(10px);

    @media (min-width: $breakpoint) {
      @include fsl(18px, 170%);
    }
  }
  &__weight {
    width: 100%;
    @include fsl(14px, 120%);
    font-family: $ff-titles;
    color: var(--color-grey);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(8px);
    }
  }
}

.menu-tabs {
  justify-content: center;
  padding: getRem(80px) 0;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: row;
    justify-content: flex-start;

    padding: getRem(45px) $col-pad-m getRem(60px);
    margin: 0 -$col-pad-m;

    overflow-x: auto;

    @include scrollbar-hidden;
  }
}

.menu-tab {
  display: flex;
  align-items: center;

  border: 1px solid var(--menu-tab-border);
  padding: getRem(20px);

  text-transform: none;
  cursor: pointer;

  transition: $transition;

  @media (max-width: ($breakpoint - 1px)) {
    padding: getRem(8px) getRem(15px);
    white-space: nowrap;
  }

  &.active {
    border: 1px solid var(--color-brown);
  }

  @media (min-width: $breakpoint) {
    &:hover {
      border: 1px solid var(--color-black);
    }
  }

  svg {
    margin-right: getRem(14px);
    width: getRem(35px);
    height: getRem(35px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-right: getRem(8px);
      width: getRem(24px);
      height: getRem(24px);
    }
  }

  &:not(:last-child) {
    margin-right: getRem(30px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-right: getRem(12px);
    }
  }
}

.menu-wine-top {
  text-align: center;
}

.menu-wine-body {
  padding: getRem(60px) calc(#{$col-part-d}) 0;

  display: flex;
  justify-content: space-between;

  @media (max-width: ($breakpoint - 1px)) {
    padding: getRem(30px) 0 0;
    flex-direction: column;
  }
}

.menu-wine-col {
  width: calc(#{$col-part-d} * 5 - #{$col-gap} - 20px);
  border-bottom: 1px solid var(--color-black-rgba-1);
  height: fit-content;

  @media (max-width: ($breakpoint - 1px)) {
    width: 100%;

    &:first-child {
      border-bottom: none;
    }
  }

  .rules-spoiler__button {
    background: transparent;
    border-top: 1px solid var(--color-black-rgba-1);
    width: 100%;    
  }
  .rules-spoiler__ttl {
    color: var(--color-black);
  }
  .rules-spoiler__arrow path {
    stroke: var(--color-black);
  }
  .rules-spoiler__drop-inner {
    padding: 0 0 getRem(15px);
    color: inherit;
  }
  .menu-list__weight {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(6px);
    }
  }
}

.menu-wine-inner {
  max-height: 500px;
  overflow-y: auto;

  padding-right: getRem(40px);

  @include styled-scrollbar;
}

.benefits-top {
  display: flex;
  justify-content: space-between;

  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column;
  }

  &__item {
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    padding: getRem(40px);
    text-align: center;
    background: var(--background-grey-extra-2);

    font-family: $ff-titles;
    @include fsl(24px, 130%);

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    @media (max-width: ($breakpoint - 1px)) {
      width: 32%;
      min-height: getRem(177px);
      padding: getRem(20px);
      justify-content: flex-start;
      @include fsl(20px, 160%);
    }

    @media (max-width: ($breakpoint-m - 1px)) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: getRem(20px);
      }
    }

    .card-benefit-ico-1 {
      width: getRem(54px);

      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(40px);
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-bottom: getRem(30px);
      }
    }
    .card-benefit-ico-2 {
      width: getRem(64px);

      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(47px);
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-bottom: getRem(45px);
      }
    }
    .card-benefit-ico-3 {
      width: getRem(60px);

      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(44px);
      }
      @media (max-width: ($breakpoint-m - 1px)) {
        margin-bottom: getRem(25px);
      }
    }
  }

  &__ico {
    display: flex;
    
    @media (min-width: $breakpoint-m) {
      height: getRem(50px);
      margin-bottom: getRem(20px);
      
      align-items: center;
    }
    @media (min-width: $breakpoint) {
      height: getRem(66px);
      margin-bottom: getRem(34px);
    }

  }

  &__btn {
    margin: getRem(30px) auto;

    position: relative;
    z-index: 1;

    @media (max-width: ($breakpoint-m - 1px)) {
      width: 100%;
    }
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap});
    }
  }

  &__line {
    width: 1px;
    height: getRem(120px);
    background: var(--color-brown);
    margin: getRem(-60px) auto 0;

    transform: translateY(50%);

    @media (max-width: ($breakpoint - 1px)) {
      height: getRem(60px);
      margin: getRem(-30px) auto 0;
    }
  }
}

.benefit-cards {
  padding: getRem(120px) 0 getRem(80px);
  border-bottom: 1px solid var(--color-black-rgba-1);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: ($breakpoint - 1px)) {
    padding: getRem(60px) 0;
    justify-content: space-between;
  }
  @media (max-width: ($breakpoint-m - 1px)) {
    flex-direction: column;
  }
}

.benefit-card {
  width: 100%;
  padding: getRem(20px);
  background: var(--background-grey-extra-2);
  @include fsl(16px, 160%);

  @media (max-width: ($breakpoint-m - 1px)) {
    &:not(:last-child) {
      margin-bottom: getRem(8px);
    }
  }

  @media (min-width: $breakpoint-m) and (max-width: ($breakpoint - 1px)) {
    width: calc(#{$col-part-t} * 4 - #{$col-gap-m});

    &:nth-child(1n + 3) {
      margin-top: $col-gap-m;
    }
  }

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 3 - #{$col-gap});
    min-height: getRem(190px);
    margin-right: $col-gap;
    padding: getRem(30px);

    &:nth-child(1n + 5) {
      margin-top: $col-gap;
    }
    &:nth-child(4n + 4), &:last-child {
      margin-right: 0;
    }
  }  
}

.club-card {
  width: getRem(335px);
  height: getRem(211px);
  border-radius: getRem(12.5px);
  background: var(--color-black);
  filter: drop-shadow(0px 17.5546px 35.1092px rgba(64, 60, 52, 0.4));

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $breakpoint) {
    width: getRem(458px);
    height: getRem(289px);
    border-radius: getRem(17px);
    filter: drop-shadow(0px 24px 48px rgba(64, 60, 52, 0.4));
  }

  img {
    width: getRem(175px);

    @media (min-width: $breakpoint) {
      width: getRem(240px);
    }
  }

  &.on-page {
    margin: 0 auto;
    transform: translateY(-60px);
  }
}

.partners-block {

  .certificates-block__row {
    @media (max-width: ($breakpoint - 1px)) {
      &:not(:last-child) {
        margin-bottom: getRem(45px);
      }
    }
  }
  .certificates-block__info {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(30px);
    }
  }
  
  .big-titles {

    margin: getRem(60px) 0 getRem(45px);

    @media (min-width: $breakpoint) {
      text-align: center;
      margin: getRem(80px) 0 getRem(100px);
    }
  }

  .small-titles {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 4 + #{$col-gap});

      &:not(:last-child) {
        margin-bottom: getRem(12px);
      }
    }
  }

  .small-titles__txt {
    margin-top: getRem(20px);

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(8px);
    }
  }

  ul li {
    @include fsl (16px, 160%);
    margin-top: getRem(8px);

    padding-left: 30px;
    position: relative;

    @media (min-width: $breakpoint) {
      @include fsl (20px, 170%);
      margin-top: getRem(10px);
    }

    &::before {
      content: '—';
      position: absolute;
      left: 0;
    }
  }
}

.policy {
  margin-top: getRem(30px);

  @media (max-width: ($breakpoint - 1px)) {
    border-bottom: 1px solid var(--color-black-rgba-1);
  }

  @media (min-width: $breakpoint) {
    margin-top: getRem(60px);
    display: flex;
    justify-content: space-between;
  }

  &__col {

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 9);

      padding-right: calc(#{$col-part-d});
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap});
    }
  }

  h1 {
    margin-bottom: getRem(30px);
  }
  h2 {
    margin: getRem(45px) 0 getRem(15px);
  }
  p, ul {
    @include fsl (18px, 170%);
    margin: getRem(10px) 0;

    @media (max-width: ($breakpoint - 1px)) {
      @include fsl (16px, 160%);
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: underline;
      color: var(--color-brown);
    }
  }

  ul {
    
  }

  li {
    margin-left: getRem(20px);
  }

  .rules-spoiler {
    &__button {
      border-color: var(--color-black-rgba-1);
      padding: getRem(22px) 0;
      align-items: flex-start;
    }
    &__num {
      color: var(--color-black);
      @include fsl(20px, 130%);
      font-family: $ff-titles;
      padding-right: getRem(10px);
    }
    &__ttl {
      color: var(--color-black);
      @include fsl(20px, 130%);
      font-family: $ff-titles;
    }
    &__arrow {
      path {
        stroke: var(--color-black);
      }
    }
    &__drop-inner {
      color: var(--color-black);
      @include fsl(20px, 130%);
    }
  }

  .rules-spoiler__arrow svg {
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(14px);
      height: auto;

      margin: getRem(8px) getRem(8px) 0 0;
    }
  }
}

.policy-links {
  // position: sticky;
  // top: getRem(150px);

  padding: getRem(30px);
  background: var(--background-grey-extra-2);

  // max-height: 100vh;
  // overflow-y: scroll;
  // @include styled-scrollbar;

  &__item {
    padding: getRem(18px) getRem(30px);
    @include fsl (16px, 130%);
    cursor: pointer;

    &.active {
      color: var(--color-brown);
    }
  }
}

.pickup-popup-map {
  margin-top: getRem(30px);
  height: getRem(385px);
  width: 100%;
}

.about-benefit-ico, .humidor-benefit-ico, .lounge-benefit-ico, .vine-benefit-ico, .cabinet-benefit-ico, .restaurant-benefit-ico {
  width: getRem(40px);
  height: getRem(40px);

  @media (min-width: $breakpoint) {
    width: getRem(60px);
  height: getRem(60px);
  }
}

.gastronomy-ico-svg {
  width: getRem(20px);
  height: getRem(20px);
}

#map, #map2 {
  width: 100%;
  height: 100%;
}

.cabinet-col {
  .two-cols-block__link {
    display: inline-block;
    margin-top: getRem(30px);
  }
}

.cabinet-col2 {
  @media (min-width: $breakpoint) {
    margin-left: calc(#{$col-gap} * -1);
    width: calc(#{$col-part-d} * 6 - (#{$col-width-d} / 2) - 10px);
  }

  @media (max-width: ($breakpoint-m - 1px)) {
    .two-cols-block__txt {
      padding-right: $col-gap-m;
    }
    .button {
        width: 100%;
        margin-top: getRem(20px);
      }
  }
}

.anchor {
  color: var(--color-brown);
  cursor: pointer;
}

.restaurant-top-links {
  padding-left: calc(#{$col-part-d});
  padding-right: calc(#{$col-part-d});
  justify-content: space-around;
}

.restaurant-benefit-fix {
  .benefits-cell:nth-child(3) .benefits-cell__info {
    margin-right: getRem(-10px);
  }
}

[data-anchor-target] {
  position: relative;

  .anchor {
    position: absolute;
    display: block;
    pointer-events: none;
    top: getRem(-150px);
    height: getRem(150px);
  }
}

.favorites-emty-txt {
  display: flex;
  align-items: center;

  svg {
    margin-left: getRem(10px);
  }
}

.mobile-nav {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: getRem(10px) $col-pad-m;
  background: var(--color-white);
  border-top: 1px solid var(--color-border-grey);

  @media (min-width: $breakpoint-m) {
    justify-content: center;
  }
  @media (min-width: $breakpoint) {
    display: none;
  }

  &.index-raise {
    z-index: 150;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include fsl(11px, 130%);

    @media (min-width: $breakpoint-m) {
      &:not(:last-child) {
        margin-right: getRem(40px);
      }
    }

    svg {
      width: getRem(22px);
      height: getRem(22px);
      margin-bottom: getRem(5px);
    }

    svg.search-icon {
      width: getRem(16.06px);
      height: getRem(17px);
    }

    &:nth-child(1) {
      svg path {
        &:nth-child(1), &:nth-child(2) {
          fill: var(--color-black);
        }
        &:nth-child(3) {
          stroke: var(--color-black);
        }
      }
    }

    &.active {
      color: var(--color-brown);

      &:nth-child(1) {
        svg path {
          &:nth-child(1), &:nth-child(2) {
            fill: var(--color-brown);
          }
          &:nth-child(3) {
            stroke: var(--color-brown);
          }
        }
      }

      &:not(:nth-child(1)) {
        svg path {
          stroke: var(--color-brown);
        }
      }

      .count-num {
        background: var(--color-brown);
      }
    }

    &-count {

      position: relative;
      display: flex;
      margin-bottom: getRem(3px);

      svg {
        margin-bottom: 0;
        width: getRem(24px);
        height: getRem(24px);
      }

      .count-num {
        position: absolute;
        top: -20%;
        right: -35%;

        display: flex;
        align-items: center;
        justify-content: center;

        @include fsl(11px);
        font-weight: 600;
        color: var(--color-white);

        background: var(--color-black);
        border-radius: 50%;

        width: getRem(19px);
        height: getRem(19px);

        transition: $transition;
      }

      &:hover .count-num, &:focus .count-num {
        background: var(--color-brown);
      }
    }
  }
}

.card-page-top {
  @media (max-width: ($breakpoint - 1px)) {
    .scroll-down {
      margin: getRem(45px) 0;

      &__line {
        margin: 0;
        height: getRem(50px);
      }
    }
  }
}

.offer-popup-body {
  .review-card__name {
    margin: getRem(20px) 0 getRem(8px);

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .review-popup__body-txt {
    li {
      position: relative;
      display: flex;
      margin: getRem(6px) 0;

      &::before {
        content: '—';
        margin-right: getRem(14px);

        @media (max-width: ($breakpoint - 1px)) {
          margin-right: getRem(11px);
          color: var(--color-brown);
        }
      }

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.articles-section {
  .container {
    padding: 0;
  }

  @media (min-width: $breakpoint) {
    width: calc(100vw - #{$col-pad-d} * 2);
  }
}

.mob-section-border {
  @media (max-width: ($breakpoint - 1px)) {
    width: 100%;
    height: 1px;
    background: #434343;
  }
}
