.favorites-top {
  margin-bottom: getRem(60px);
}

.search-top {
  margin-bottom: getRem(45px);

  &__count {
    margin-top: getRem(15px);
    @include fsl(20px, 130%);
  }
}

.delivery-row {
  display: flex;
  justify-content: space-between;

  margin-top: getRem(60px);

  &__item {
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    padding: getRem(50px);
    border: 1px solid var(--color-border-grey);

    &-ttl {
      font-family: $ff-titles;
      @include fsl(36px, 130%);
      margin-bottom: getRem(20px);
    }
  }

  &__txt {
    @include fsl(18px, 160%);
    margin: getRem(15px) 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__map-link {
    margin-top: getRem(8px);
    @include fsl(18px, 130%);
    font-weight: 600;
    color: var(--color-brown);
  }

  &-icons {
    display: flex;
    align-items: center;

    img {
      flex-shrink: 0;
    }

    img:not(:last-child) {
      margin-right: getRem(24px);
    }
  }
}

.certificates-block {
  
  $comp: &;

  padding: getRem(60px) calc(#{$col-width-d}) 0;

  // .two-cols-block__col:nth-child(2) {
  //   justify-content: flex-end;
  // }

  &__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: getRem(120px);
    }
  }

  &__img {
    width: calc(#{$col-part-d} * 5 - (#{$col-gap} * 2));
  }

  &__info {
    margin-top: getRem(60px);
    // width: getRem(500px);
    width: calc(#{$col-part-d} * 5);
  }

  .small-titles {
    margin-bottom: getRem(15px);
  }

  &__txt {
    @include fsl(18px, 170%);
    width: calc(#{$col-part-d} * 4);
  }

  &__btn {
    margin-top: getRem(45px);
  }

  &__note {
    margin-top: getRem(15px);
    @include fsl(14px, 160%);
    color: var(--color-grey);
  }
}

.restaurant-page-block {
  padding-top: 0;

  .big-titles__txt {
    margin-top: getRem(15px);
    width: calc(#{$col-part-d} * 4);
  }

  .certificates-block__btn {
    margin-top: getRem(40px);
  }
}

.restaurant-main-bg {
  background: url(assets/images/restaurant-main-bg.jpg) no-repeat center;
}

.menu-main-bg {
  background: url(assets/images/menu-main-bg.jpeg) no-repeat center;
}

.menu-list {
  margin-top: getRem(45px);
  padding: getRem(50px) getRem(40px);
  background: var(--background-grey-extra-2);

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: getRem(10px);
    }
  }

  &__name {
    @include fsl(16px, 150%);
    max-width: 80%;
  }
  &__price {
    @include fsl(18px, 170%);
    font-weight: 600;
  }
  &__weight {
    width: 100%;
    // margin-top: getRem(10px);
    @include fsl(14px, 120%);
    font-family: $ff-titles;
    color: var(--color-grey);
  }
}

.menu-tabs {
  justify-content: center;
  padding: getRem(80px) 0;
}

.menu-tab {
  display: flex;
  align-items: center;

  border: 1px solid var(--menu-tab-border);
  padding: getRem(20px);

  text-transform: none;
  cursor: pointer;

  &.active {
    border: 1px solid var(--color-brown);
  }
  &:hover {
    border: 1px solid var(--color-black);
  }

  svg {
    margin-right: getRem(14px);
    width: getRem(35px);
    height: getRem(35px);
  }

  &:not(:last-child) {
    margin-right: getRem(30px);
  }
}

.menu-wine-top {
  text-align: center;
}

.menu-wine-body {
  padding: getRem(60px) calc(#{$col-part-d}) 0;

  display: flex;
  justify-content: space-between;
}

.menu-wine-col {
  width: calc(#{$col-part-d} * 5 - #{$col-gap} - 20px);
  border-bottom: 1px solid var(--color-black-rgba-1);
  height: fit-content;

  .rules-spoiler__button {
    background: transparent;
    border-top: 1px solid var(--color-black-rgba-1);
    width: 100%;    
  }
  .rules-spoiler__ttl {
    color: var(--color-black);
  }
  .rules-spoiler__arrow path {
    stroke: var(--color-black);
  }
  .rules-spoiler__drop-inner {
    padding: 0 0 getRem(15px);
    color: inherit;
  }
}

.menu-wine-inner {
  max-height: 500px;
  overflow-y: auto;

  padding-right: getRem(40px);

  @include styled-scrollbar;
}

.benefits-top {
  display: flex;
  justify-content: space-between;

  &__item {
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
    padding: getRem(40px);
    text-align: center;
    background: var(--background-grey-extra-2);

    font-family: $ff-titles;
    @include fsl(24px, 130%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      margin-bottom: getRem(40px);
    }

    .card-benefit-ico-1 {
      width: getRem(54px);
    }
    .card-benefit-ico-2 {
      width: getRem(64px);
    }
    .card-benefit-ico-3 {
      width: getRem(60px);
    }
  }

  &__btn {
    margin: getRem(30px) auto;
    width: calc(#{$col-part-d} * 4 - #{$col-gap});
  }

  &__line {
    width: 1px;
    height: getRem(120px);
    background: var(--color-brown);
    margin: getRem(-60px) auto 0;

    transform: translateY(50%);
  }
}

.benefit-cards {
  padding: getRem(120px) 0 getRem(80px);
  border-bottom: 1px solid var(--color-black-rgba-1);

  display: grid;
  grid-template-columns: repeat(4, calc(#{$col-part-d} * 3 - #{$col-gap}));
  gap: 30px;
}

.benefit-card {
  width: 100%;
  padding: getRem(30px);
  background: var(--background-grey-extra-2);
  @include fsl(16px, 160%);
}

.club-card {
  width: getRem(458px);
  height: getRem(289px);
  border-radius: getRem(17px);
  background: var(--color-black);
  filter: drop-shadow(0px 24px 48px rgba(64, 60, 52, 0.4));

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(-60px);

  img {
    width: getRem(240px);
  }
}

.partners-block {
  .big-titles {
    text-align: center;
    margin: getRem(80px) 0 getRem(100px);
  }

  .small-titles {
    width: calc(#{$col-part-d} * 4 + #{$col-gap});
  }

  .small-titles__txt {
    margin-top: getRem(20px);
  }

  ul li {
    @include fsl (20px, 170%);
    margin-top: getRem(10px);

    padding-left: 30px;
    position: relative;

    &::before {
      content: '—';
      position: absolute;
      left: 0;
    }
  }
}

.policy {
  margin-top: getRem(60px);

  display: flex;
  justify-content: space-between;

  &__col {

    &:nth-child(1) {
      width: calc(#{$col-part-d} * 9);

      padding-right: calc(#{$col-part-d});
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap});
    }
  }

  h1 {
    margin-bottom: getRem(30px);
  }
  h2 {
    margin: getRem(45px) 0 getRem(15px);
  }
  p {
    @include fsl (18px, 170%);
    margin: getRem(10px) 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: underline;
      color: var(--color-brown);
    }
  }
}

.policy-links {
  padding: getRem(30px);
  background: var(--background-grey-extra-2);

  &__item {
    padding: getRem(18px) getRem(30px);
    @include fsl (16px, 130%);
    cursor: pointer;

    &.active {
      color: var(--color-brown);
    }
  }
}

.pickup-popup-map {
  margin-top: getRem(30px);
  height: getRem(385px);
}
