.product-top {
  display: flex;
  margin-top: getRem(60px);

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: getRem(30px);
    flex-direction: column;
  }

  &-mob {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: getRem(20px);

    .product-top-ttl {
      width: 100%;
    }

    .product-top-availability, .product-top-code {
      width: 50%;
    }
  }
}

.product-top-picture {
  display: flex;
  align-items: flex-start;
  height: getRem(700px);

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column-reverse;
    height: getRem(425px);
    margin-bottom: getRem(30px);
  }
}

.product-top-gallery {
  width: 100%;
  overflow: hidden;
  position: relative;

  
  @media (max-width: ($breakpoint - 1px)) {
    width: calc(100% + #{$col-pad-m});
    height: getRem(80px);
    margin-top: getRem(8px);

    padding-left: $col-pad-m;
    margin-left: -$col-pad-m;
  }
  @media (max-width: ($breakpoint-m - 1px)) {
    padding-left: calc(#{$col-pad-m} + #{getRem(45px)});
    margin-left: -$col-pad-m;
  }

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d});
    padding-right: getRem(20px);
  }

  .swiper-container {
    height: 100%;
  }

  .swiper-slide {
    height: auto;
    background: var(--background-grey-extra-2);

    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(80px);
      margin-right: getRem(2px);
      padding: getRem(5px);
      background-clip: content-box;
    }
    @media (min-width: $breakpoint) {
      margin-bottom: getRem(10px);
    }
  }

  .swiper-slide-thumb-active {
    border: 1px solid var(--color-brown);
  }

  &__control {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    width: getRem(50px);
    height: 100%;
    background: var(--color-white);
  }
}

.product-top-img {
  width: 100%;
  height: getRem(335px);
  overflow: hidden;
  background: var(--background-grey-extra-2);

  position: relative;

  .swiper-container, picture, img {
    height: 100%;
  }

  @media (max-width: ($breakpoint - 1px)) {
    
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 6 - #{$col-gap});
    height: getRem(670px);

    // cursor: url(assets/images/zoom-cursor.png), default;
  }

  &__cigar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: getRem(30px);

    @media (min-width: $breakpoint) {
      padding: getRem(80px);
      height: 100%;
    }

    img {
      @media (max-width: ($breakpoint - 1px)) {
        height: getRem(230px);
      }
    }

    &-size {
      position: absolute;
      // top: 50px;
      top: getRem(30px);
      right: 20px;

      @media (min-width: $breakpoint) {
        top: 80px;
        left: 40px;
      }

      svg {
        width: getRem(32px);
        height: getRem(257px);

        @media (max-width: ($breakpoint - 1px)) {
          transform: scaleX(-1);
        }

        @media (min-width: $breakpoint) {
          width: getRem(63px);
          height: getRem(490px);
        }
      }

      .top {
        @include fsl(13px);
        color: var(--color-grey);
        white-space: nowrap;

        position: absolute;
        top: getRem(-8px);

        @media (max-width: ($breakpoint - 1px)) {
          right: getRem(5px);
        }

        @media (min-width: $breakpoint) {
          @include fsl(14px);
          left: getRem(12px);
          top: getRem(-12px);
        }
      }
      .bottom {
        @include fsl(13px);
        color: var(--color-grey);
        white-space: nowrap;

        position: absolute;
        bottom: getRem(8px);

        @media (max-width: ($breakpoint - 1px)) {
          left: -110%;
        }

        @media (min-width: $breakpoint) {
          @include fsl(14px);
          bottom: 0;
          right: -50%;
        }
      }
    }
  }
}

.product-top-info {
  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 5);
    padding-left: getRem(60px);
  }
}

.product-top-labels {
  display: flex;
  margin-bottom: getRem(15px);

  @media (max-width: ($breakpoint - 1px)) {
    position: absolute;
    z-index: 1;
    top: getRem(20px);
    left: getRem(20px);

    flex-direction: column;
  }

  .catalog-card__labels-item:not(:first-child) {
    margin: 0 0 0 getRem(8px);

    @media (max-width: ($breakpoint - 1px)) {
      margin: getRem(6px) 0 0 0;
    }
  }
}

.product-top-code {
  @include fsl(13px, 130%);
  color: var(--color-grey);

  @media (max-width: ($breakpoint - 1px)) {
    text-align: right;
  }

  @media (min-width: $breakpoint) {
    margin: getRem(15px) 0;
  }
}

.product-top-ttl {
  @include fsl(22px, 140%);
  font-weight: 600;
  margin-bottom: getRem(8px);

  @media (min-width: $breakpoint) {
    @include fsl(24px, 140%);
    margin: getRem(15px) 0;
  }
}

.product-top-availability {
  display: flex;
  align-items: center;

  @include fsl(14px, 130%);

  position: relative;

  padding-left: getRem(18px);

  @media (min-width: $breakpoint) {
    margin: getRem(15px) 0;
  }

  &::before {
    content: '';
    width: getRem(10px);
    height: getRem(10px);
    border-radius: 50%;
    position: absolute;
    left: 0;

    background: #1FAA35;
  }

  &.out-of-stock::before {
    background: var(--color-black-rgba-2);
  }
}

.product-top-table {

  &__row {
    display: flex;

    &:not(:last-child) {
      margin-bottom: getRem(12px);
    }
  }

  &__name, &__value {
    @include fsl(16px, 130%);

    display: flex;
    align-items: center;
  }

  &__name {
    flex-shrink: 0;
    // white-space: nowrap;

    @media (max-width: ($breakpoint - 1px)) {
      .tooltip__txt {
        max-width: 50vw;
        right: getRem(-100px);
      }
    }
  }
  &__line {
    width: 100%;
    border-bottom: 1px dashed var(--color-border-grey);
  }
  &__value {

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 2);
    }

    flex-shrink: 0;

    display: flex;

    &.brand {
      color: var(--color-brown);
      cursor: pointer;
      transition: $transition;

      &:hover {
        color: var(--color-black);
      }
    }
  }
}

.flag-ico {
  margin-right: getRem(8px);
  width: getRem(16px);
  height: getRem(16px);
}

.product-more-btn {
  display: block;
  @include fsl(16px, 130%);
  font-weight: 600;
  color: var(--color-brown);
  margin: getRem(20px) 0;

  @media (min-width: $breakpoint) {
    margin: getRem(15px) 0 getRem(30px);
    padding-bottom: getRem(4px);
    border-bottom: 1px dashed var(--color-brown);
  }
}

.product-top-price {

  .current {
    @include fsl(22px, 130%);
    font-weight: 600;

    @media (min-width: $breakpoint) {
      @include fsl(30px, 130%);
    }
  }
  .old {
    @include fsl(16px, 130%);

    @media (max-width: ($breakpoint - 1px)) {
      margin-left: getRem(16px);
    }

    @media (min-width: $breakpoint) {
      @include fsl(20px, 130%);
    }
  }
  span {
    font-family: 'Montserrat';
  }
}

.product-top-buttons {
  display: flex;

  margin: getRem(20px) 0 getRem(30px);

  @media (min-width: $breakpoint) {
    margin: getRem(30px) 0;
  }
}

.product-button-cart {
  width: calc(100% - #{getRem(55px)});

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 3);
  }
}

.product-button-fav {
  width: getRem(44px);
  height: getRem(44px);
  margin-left: getRem(10px);

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-border-grey);
  transition: $transition;

  @media (min-width: $breakpoint) {
    width: getRem(50px);
    height: getRem(50px);
    margin-left: getRem(12px);

    &:hover {
      background: var(--color-border-grey);
    }
  }

  svg {
    width: getRem(24px);
    height: getRem(24px);
  }

  &.active svg path {
    fill: var(--color-black);
  }
}

.product-info-bottom {
  display: flex;
  margin-top: getRem(30px);

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
  }

  &__col {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(10px);
    }
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 2);
    }
  }
  &__ttl {
  }
  &__txt {
    color: var(--color-grey);
    @media (min-width: $breakpoint) {
      margin-top: getRem(4px);
    }
  }
}

.product-body {
  margin-top: getRem(45px);

  @media (min-width: $breakpoint) {
    margin-top: getRem(90px);
    width: calc(#{$col-part-d} * 7 - #{$col-gap});
  }

  &__block {

    &:not(:first-child) {
      margin-top: getRem(45px);

      @media (min-width: $breakpoint) {
        margin-top: getRem(90px);
      }
    }

    @media (min-width: $breakpoint) {
      &:nth-child(2) {
        margin-top: getRem(75px);
      }
    }
  }

  &__ttl {
    margin-bottom: getRem(12px);

    @media (min-width: $breakpoint) {
      margin-bottom: getRem(30px);
    }
  }

  &__subttl {
    @include fsl(18px, 130%);
    font-weight: 600;

    margin: getRem(30px) 0 getRem(10px);

    &:first-child {
      margin-top: 0;
    }
  }

  &__txt {
    @include fsl(16px, 160%);
  }

  &-info {
    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }

    &__col {
      @media (min-width: $breakpoint) {
        width: calc(50% - 25px);
      }

      @media (max-width: ($breakpoint - 1px)) {
        &:not(:last-child) {
          margin-bottom: getRem(20px);
        }
      }

      &-ttl {
        @include fsl(18px, 130%);
        font-weight: 600;
        margin-bottom: getRem(12px);

        @media (min-width: $breakpoint) {
          margin-bottom: getRem(14px);
        }
      }
    }

    .product-top-table__value {
      width: auto;
    }
  }

  &__payment {
    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
      margin-top: getRem(20px);
    }
    
    &-col {
      @media (max-width: ($breakpoint - 1px)) {
        &:not(:first-child) {
          margin-top: getRem(20px);
        }
        
        .two-cols-block__link {
          @include fsl(16px, 130%);
          color: var(--color-brown);
          text-transform: none;
          letter-spacing: normal;
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      @media (min-width: $breakpoint) {
        width: calc(50% - 25px);
      }
    }

    &-ttl {
      @include fsl(18px, 130%);
      font-weight: 600;

      display: flex;
      align-items: center;

      margin-bottom: getRem(12px);
      @media (min-width: $breakpoint) {
        margin-bottom: getRem(15px);
      }

      svg {
        margin-right: getRem(14px);
      }
    }
    &-txt {
      @include fsl(16px, 160%);
      margin-bottom: getRem(8px);

      @media (min-width: $breakpoint) {
        margin-bottom: getRem(30px);
      }
    }
  }

  .product-more-btn {
    @media (max-width: ($breakpoint - 1px)) {
      margin: getRem(8px) 0 0 0;
    }
  }
}

.gastronomy-block {
  margin-top: getRem(30px);

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: getRem(20px);
    padding: getRem(20px) 0;

    border-top: 1px solid var(--color-black-rgba-1);
    border-bottom: 1px solid var(--color-black-rgba-1);

    & + .product-body__subttl {
      margin-top: getRem(20px);
    }
  }
}

.product-gastronomy {
  display: flex;
  margin-top: getRem(15px);

  @media (max-width: ($breakpoint - 1px)) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {

    display: flex;
    align-items: center;

    font-weight: 600;

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      @include fsl(14px, 130%);
    }
    @media (min-width: $breakpoint) {
      &:not(:last-child) {
        margin-right: getRem(30px);
      }
    }
  }

  &__ico {
    display: flex;
    justify-content: center;
    align-items: center;

    width: getRem(34px);
    height: getRem(34px);
    border-radius: 50%;
    background: var(--background-grey-extra-2);

    margin-right: getRem(12px);

    svg {
      width: getRem(20px);
      height: getRem(20px);
    }
  }
}