.modal.modal--right.booking-popup(data-popup='1' data-select-context)

  .review-popup__top.only-mobile
    .review-popup__ttl.h4.title-font Бронирование
    button.button--clean.modal__close(data-modal-close)

  .booking-popup__wrapper.booking-popup-form

    

    h2.h4.title-font.booking-popup-form__ttl.only-desktop Бронирование

    .cart-stage-form__note
      sup *
      |— поля обязательные для заполнения

    form(novalidate id='booking-form')
      label.form__label
        .form__field-name Имя
          sup *
        input.form__input(type='text' placeholder='Введите ваше имя' data-focus-input required)

      label.form__label
        .form__field-name Телефон
          sup *
        input.form__input(type='tel' placeholder='Введите номер телефона' required)


      .select-label(data-select-label)
        .select-input
          .form__field-name Место
            sup *

          .select-input__row(data-select-input)
            input(type='text' value='Ресторан' placeholder='Ресторан' data-readonly readonly required)
            +arrow-down

        .select(data-select)
          ul.select__wrapper
            li.select__option(data-select-option='Ресторан') Ресторан
            li.select__option(data-select-option='Сигарный лаунж') Сигарный лаунж
            li.select__option(data-select-option='Кабинет Фрейда') Кабинет Фрейда
            

      .booking-popup-form__row
        label.form__label
          .form__field-name Дата
            sup *
          .booking-popup-form__datepicker
            input(type='text' placeholder='__/__/____' readonly data-readonly data-datepicker required)
            +calendar

        label.form__label
          .form__field-name Время
            sup *

            .tooltip
              +tooltipIco
              .tooltip__txt Пн-Чт, 12:00 – 00:00 #[br] Пн-Сб, 12:00 – 01:00 #[br] Вс, 13:00 – 23:00

          input.form__input(type='text' data-time-input='' data-place='' data-weekday='' data-mask='##:##' required)

      label.form__label
        .form__field-name Количество гостей
          sup *
        input.form__input(type='number' placeholder='Введите число гостей' required)

      +brown-button.booking-popup-form__btn.only-desktop
        |Забронировать

      .booking-popup-form__note Нажимая на кнопку «Забронировать», вы соглашаетесь с 
        a(href='') политикой конфиденциальности

  .review-popup__bottom.only-mobile

    +brown-button(form='booking-form')
      |Забронировать

    +brown-border-button(data-modal-close='')
      |Закрыть

  button.button--clean.modal__close.only-desktop(data-modal-close)