.modal.modal--right.review-popup.filters-popup(data-popup='9')
  .review-popup__top
    .review-popup__ttl.h4.title-font Производитель
    button.button--clean.modal__close(data-modal-close)

  .review-popup__body
    .review-card__top
      .review-card__name Gurkha

    .review-popup__body-txt
      | Этот бренд хорошо знаком истинным ценителям сигар. Выпускаются они флоридской компанией Beach Cigar Group. Свое название эти сигары получили в честь гуркхов — британских колониальных войск, набиравшихся из непальских добровольцев с конца 19 века и по сей день.

      //- | Исторически сигары Gurkha изготавливаются исключительно вручную, в основном из доминиканского табака, хотя используются и другие сорта. Используются также исключительно дорогие сорта виски и коньяка. Эффектная упаковка сразу же дает понять, что вы имеете деле с действительно хорошей продукцией. #[br] #[br]

      //- | Выпускается множество видов, большинство из которых носит характерные названия — Evil, Red Dragon, Assassin, Warlord… Некоторые из них выпускаются очень ограниченными партиями (например, 75 коробок) и являются настоящим эксклюзивом – стоимость одной упаковки достигает подчас 20 000 долларов США
  
  .review-popup__bottom

    +brown-button
      |Все товары этого производителя

    +brown-border-button(data-modal-close)
      |Закрыть
