.modal.modal--right.booking-popup(data-popup='8')

  .review-popup__top.only-mobile
    .review-popup__ttl.h4.title-font Получите консультацию специалиста
    button.button--clean.modal__close(data-modal-close)

  .booking-popup__wrapper.booking-popup-form
    h2.h4.title-font.booking-popup-form__ttl.only-desktop Получите консультацию #[br] специалиста

    .certificate-popup-txt.only-desktop Мы ответим на все ваши вопросы

    .cart-stage-form__note
      sup *
      |— поля обязательные для заполнения

    form(novalidate id='consult-form')
      label.form__label
        .form__field-name Ваше имя
          sup *
        input.form__input(type='text' placeholder='Введите ваше имя' data-focus-input required)

      label.form__label
        .form__field-name Телефон
          sup *
        input.form__input(type='tel' placeholder='Введите номер телефона' required)

      +brown-button.booking-popup-form__btn.only-desktop
        |Узнать стоимость

      .booking-popup-form__note Нажимая на кнопку «Узнать стоимость», вы соглашаетесь с 
        a(href='') политикой конфиденциальности

  .review-popup__bottom.only-mobile

    +brown-button(form='consult-form')
      |Узнать стоимость

  button.button--clean.modal__close.only-desktop(data-modal-close)