.modal.modal--right.review-popup.success-popup(data-popup='13')

  .review-popup__body

    +form-success.success-popup__icon
    .success-popup__ttl.title-font.h4 Ваша заявка принята
    .success-popup__txt Менеджер перезвонит вам в #[br] ближайшее время. Пожалуйста, #[br] ожидайте звонка
  
  .review-popup__bottom

    +brown-border-button(data-modal-close='')
      |Закрыть

  button.button--clean.modal__close(data-modal-close)