.modal.modal--right.mobile-menu(data-mobile-menu)
  
  .mobile-menu__wrapper

    a.mobile-menu__link(href="")
      |Сигарный клуб
      +arrow-right

    a.mobile-menu__link(href="")
      |Магазин
      +arrow-right

    a.mobile-menu__link(href="")
      |Ресторан
      +arrow-right

    a.mobile-menu__link(href="")
      |Контакты
      +arrow-right

    .mobile-menu__contacts

      a.footer__top-link(href="tel:+79214491818") +7 (921) 449-18-18

      a.footer__top-link(href="mailto:mgr@freud.club") mgr@freud.club

      a.footer__top-link(href="") г. Санкт-Петербург, ул. Малая Морская, #[br] дом 18
      
      .footer__socials
        a.icon-circle(href="")
          +vk-icon.vk-circle-ico

        a.icon-circle(href="")
          +tg-icon.tg-circle-ico

        a.icon-circle(href="")
          +wa-icon.wa-circle-ico 

    .footer__bottom-links-col
      a.footer__bottom-links(href="") Политика обработки персональных данных
      a.footer__bottom-links(href="") Доставка и оплата
