.modal.modal--right.mobile-menu-item(data-menu-item='3')
  
  .mobile-menu-item__wrapper

    .mobile-menu-item__back(data-menu-close)
      +back-arrow
      |Назад

    .mobile-menu-item__ttl Ресторан

    a.mobile-menu-item__link(href='') Основное меню
    a.mobile-menu-item__link(href='') Крабовое меню

    a.mobile-menu-item__link(href='') Винная карта
    a.mobile-menu-item__link(href='') Барная карта
    a.mobile-menu-item__link(href='') Б/а напитки

    .mobile-menu-item__bottom

      a.mobile-menu-item__link(href='') О ресторане
      a.mobile-menu-item__link(href='') Подарочные сертификаты
