.modal.modal--right.mobile-menu-item(data-menu-item='3')
  
  .mobile-menu-item__wrapper

    .mobile-menu-item__back(data-menu-close)
      +back-arrow
      |Назад

    a.mobile-menu-item__ttl(href='') Магазин

    a.mobile-menu-item__link(href='') Основное меню
    a.mobile-menu-item__link(href='') Крабовое меню
    a.mobile-menu-item__link(href='') Бранчи
    a.mobile-menu-item__link(href='') Сезонное

    a.mobile-menu-item__link(href='') Б/а напитки
    a.mobile-menu-item__link(href='') Винная карта
    a.mobile-menu-item__link(href='') Барная карта

    .mobile-menu-item__bottom

      a.mobile-menu-item__link(href='') О ресторане
      a.mobile-menu-item__link(href='') Подарочные сертификаты
