.modal.modal--right.mobile-menu-item(data-menu-item='1')
  
  .mobile-menu-item__wrapper

    .mobile-menu-item__back(data-menu-close)
      +back-arrow
      |Назад

    a.mobile-menu-item__ttl(href='') Сигарный клуб

    a.mobile-menu-item__link(href='') Сигарный лаунж
    a.mobile-menu-item__link(href='') Хьюмидорная комната
    a.mobile-menu-item__link(href='') Кабинет Фрейда
    a.mobile-menu-item__link(href='') Винотека

    .mobile-menu-item__bottom

      a.mobile-menu-item__link(href='') О клубе
      a.mobile-menu-item__link(href='') Система лояльности
      a.mobile-menu-item__link(href='') Подарочные сертификаты
      a.mobile-menu-item__link(href='') Справочная информация
