.modal.modal--right.mobile-menu(data-mobile-menu)
  
  .mobile-menu__wrapper

    .mobile-menu__link

      a(href="") Сигарный клуб

      .mobile-menu__link-arrow(data-menu-link='1')
        +arrow-right

    .mobile-menu__link

      a(href="") Магазин

      .mobile-menu__link-arrow(data-menu-link='2')
        +arrow-right

    .mobile-menu__link

      a(href="") Ресторан

      .mobile-menu__link-arrow(data-menu-link='3')
        +arrow-right

    a.mobile-menu__link(href='')
      |Контакты

    .mobile-menu__contacts

      a.footer__top-link(href="tel:+79214491818" data-nolink='') +7 (921) 449-18-18

      a.footer__top-link(href="mailto:mgr@freud.club" data-nolink='') mgr@freud.club

      a.footer__top-link(href="") г. Санкт-Петербург, ул. Малая Морская, #[br] дом 18
      
      .footer__socials
        a.icon-circle(href="")
          +vk-icon.vk-circle-ico

        a.icon-circle(href="")
          +wa-icon.wa-circle-ico

        a.icon-circle(href="")
          +tg-icon.tg-circle-ico 

    .footer__bottom-links-col
      a.footer__bottom-links(href="") Политика обработки персональных данных
      a.footer__bottom-links(href="") Доставка и оплата
