.modal.modal--right.review-popup.filters-popup(data-popup='12')
  .review-popup__top
    .review-popup__ttl.h4.title-font Детали предложения
    button.button--clean.modal__close(data-modal-close)

  .review-popup__body.offer-popup-body

    .review-card__name Продолжительность

    .review-popup__body-txt 2 часа

    .review-card__name Количество участников

    .review-popup__body-txt от 4 до 8

    .review-card__name Стоимость

    .review-popup__body-txt 7 000 ₽ с человека

    .review-card__name Услуга включает в себя

    ul.review-popup__body-txt
      li аренда кабинета на 2 часа
      li сигара на выбор (Куба, Доминикана или Никарагуа)
      li авторский котейль под сигару «Сон о воине»
      li горячее блюдо от шефа
      li двойная порция напитка под сигару на выбор (ром, порто, виски, херес)
      li лекция от витолье
      li сервировка сигар
      li помощь в подборе сочетания сигара+напиток
  
  .review-popup__bottom

    +brown-border-button(data-modal-close='')
      |Закрыть
