.modal.modal--right.review-popup(data-popup='10')
  .review-popup__top
    .review-popup__ttl.h4.title-font Получение заказа
    button.button--clean.modal__close(data-modal-close)

  .review-popup__body

    .cart-pickup__ttl Самовывоз из клуба «Профессор Фрейд»

    .cart-pickup__info-item
      +place-ico.cart-pickup__svg
      div
        .cart-pickup__info-ttl Адрес
        .cart-pickup__info-txt г. Санкт-Петербург, ул. Малая Морская, дом 18

    .cart-pickup__info-item
      +clock-ico.cart-pickup__svg
      div
        .cart-pickup__info-ttl Часы работы
        .cart-pickup__info-txt ПН – ЧТ, 12:00 – 00:00 #[br] ПТ – СБ, 12:00 – 01:00 #[br] ВС, 13:00 – 23:00

    .cart-pickup__info-item
      +attention-ico.cart-pickup__svg
      div
        .cart-pickup__info-ttl Можно забрать
        .cart-pickup__info-txt сегодня и в течение 5 дней, бесплатно

    .pickup-popup-map
      #map
  
  .review-popup__bottom

    +brown-border-button(data-modal-close="")
      |Закрыть
