.modal.modal--center.plug-popup.active

  .plug-popup__age.title-font 18+

  .plug-popup__ttl.h4.title-font Сайт содержит информацию для лиц совершеннолетнего возраста

  .plug-popup__txt Сведения, размещённые на сайте, не являются рекламой, носят исключительно информационный характер, и предназначены только для личного пользования.
  //- .plug-popup__txt.only-mobile Сайт содержит информацию, #[br] не рекомендованную для лиц, не достигших #[br] совершеннолетнего возраста

  +brown-button(data-plug-close='')
    |Мне исполнилось 18 лет
    