.modal.modal--right.review-popup(data-popup='14')
  .review-popup__top
    .review-popup__ttl.h4.title-font Поиск
    button.button--clean.modal__close(data-modal-close)

  .review-popup__body
    form.category-search.mob
      label.category-search__label
        input.category-search__input(type='search' placeholder='Поиск по каталогу' data-input-novalidate)

      button.category-search__button(type='submit')
        +search-icon
