.modal.modal--right.review-popup(data-popup='14')
  .review-popup__top
    .review-popup__ttl.h4.title-font Поиск
    button.button--clean.modal__close(data-modal-close)

  .review-popup__body
    .category-search.mob
      input.category-search__input(type='search' placeholder='Поиск по каталогу')
      +search-icon
