section.section.section--black
  .container
    .certificate-block
      .certificate-block__col
        +big-titles.txt-white(subttl='в сигарно-винный магазин' ttl='Подарочный сертификат' txt='Порадуйте ценителей сигарной культуры идеальным подарком. Элегантный дизайн сертификата создаст наилучшие впечатления о подарке. Cертификат может быть любого номинала')
        +brown-button(data-popup-button='7')
          |Получить консультацию

      +picture.certificate-block__img(file=`certificate`)