section.section
  .container
    .club-card-block
      .club-card-block__col
        +big-titles(subttl='специальные условия' ttl='Клубная' ttl2='карта' txt='Первоклассное обслуживание с дополнительными привилегиями: скидки, подарки, приглашениена закрытые мероприятия')
        +read-more-btn
          |узнать больше

      //- a.club-card-block__col(href='')
      //-   +infinity
      //-   .club-card-block__col__ttl Привилегии #[br] клубной карты

      .club-card(data-aos='fade-up')
        img(src="assets/images/card-logo.png", alt="")
