section.section.section--black
  .container
    .certificate-block
      .certificate-block__col


        +big-titles.txt-white(subttl='специальный формат' ttl='Выездные мероприятия' txt='Выезд сомелье и витолье (специалиста по сигарам) для персонального сопровождения и консультаций на дому #[br] #[br] Помощь в формировании винной коллекции #[br] #[br] Организация сигарного бара с услугами торседора, курение свежескрученных витол, консультация фумелье в подборе сигарного аккомпанемента')


        +brown-button.certificate-block__btn.button--on-black(data-popup-button='8' data-aos='fade-up')
          |Оставить заявку

      div(data-aos='fade-up')
        +picture.certificate-block__img(file=`service-4`)
