section.section--bottom.relative.humidor-slider2-section

  .humidor-slider2-container

    .humidor-slider2-slider
      - for (i=1;i<5;i++)
        .humidor-slider2-slide
          +picture(file=`restaurant-page-slide-${i}`)

      - for (i=1;i<3;i++)
        .humidor-slider2-slide
          +picture(file=`restaurant-page-slide-${i}`)

      .humidor-slider2-slide
          +picture(file=`restaurant-page-slide-1`)


section.section--bottom.relative.humidor-slider-section.only-mobile

  .humidor-slider-container(data-aos='fade-up')
    .swiper-container.humidor-slider#humidor-slider
      .swiper-wrapper
        .swiper-slide.first-slide
          +picture(file=`restaurant-page-slide-1`)

        - for (i=2;i<5;i++)
          .swiper-slide
            +picture(file=`restaurant-page-slide-${i}`)

        - for (i=1;i<2;i++)
          .swiper-slide
            +picture(file=`restaurant-page-slide-${i}`)

        .swiper-slide.last-slide
            +picture(file=`restaurant-page-slide-3`)
