section.section-bg-photo.rent-section-bg
    +big-titles.white-ttl(ttl='Аренда клуба' subttl='под ваше мероприятие')

    .two-cols-block__txt.txt-white(data-aos='fade-up') У нас можно арендовать определенную зону или весь клуб #[br] целиком, в зависимости от формата мероприятия

    +brown-button(data-popup-button='8' data-aos='fade-up')
      |Получить консультацию