section.section-bg-photo.rent-section-bg
    +big-titles.white-ttl(ttl='Аренда клуба' subttl='под ваше мероприятие')

    .two-cols-block__txt.txt-white У нас можно арендовать определенную зону или весь клуб #[br] целиком, в зависимости от формата мероприятия

    +brown-button
      |Получить консультацию