section.section.section--grey.reviews-section
  .container
    +big-titles(ttl='Отзывы гостей' subttl='благодарим за обратную связь')

    .reviews-section__row

      .reviews-section__slider(data-aos='fade-up')

        .reviews-section__col.only-desktop
          +control-left#reviews-slider-prev

        .swiper-container#reviews-slider
          .swiper-wrapper
            - for (a=0;a<5;a++)
              .swiper-slide.reviews-section__slider-slide
                +review-card

          .sliders-pagination#reviews-slider-pagination

        .reviews-section__col.only-desktop
          +control-right#reviews-slider-next

      .reviews-section__grade(data-aos='fade-up')
        .reviews-section__grade-big 4,9
        .reviews-section__grade-txt Средняя оценка 4,9 из 5 #[br] на основе 70 отзывов