section.section.shop-section
  .container
    .main-page-block__subttl более 1000 товаров в наличии
    h1.main-page-block__ttl Магазин

    -
      var content = [
        {img: 'assets/images/shop-img-1.webp',
        brand: 'Ornellaia',
        ttl: 'Вино St-Emilion AOC Premier Grand Cru Classe',
        txt: 'Красное, сухое, 750 мл',
        price: '165 750'},

        {img: 'assets/images/shop-img-2.webp',
        brand: 'Gurkha',
        ttl: 'Сигара Triad Platinum',
        price: '13 820 ₽'}
      ]

    .shop-slider
      .shop-slider__row
        .shop-slider__col
          +control-left#shop-slider-prev

        .swiper-container#shop-slider
          .swiper-wrapper
            each item in content
              .swiper-slide
                include ../catalog-card

        .shop-slider__col
          +control-right#shop-slider-next

      +brown-border-button.shop-slider__btn
        |Перейти в каталог