section.section.section--black.subscription-section
  .container
    +big-titles.white-ttl(ttl='Новости клуба' subttl='новые поступления и полезные материалы')

    .two-cols-block__txt.txt-white.only-desktop(data-aos='fade-up') Подпишитесь на последние обновления — только полезная #[br] информация, без спама

    .two-cols-block__txt.txt-white.only-mobile(data-aos='fade-up') Подпишитесь на последние обновления — только полезная информация, без спама


    form.subscription-form(novalidate data-aos='fade-up')

      input(type="hidden", data-type="get-field", data-uf="UF_MAIL_EVENT_TYPE", value="SUB")

      .subscription-form__row
        input.subscription-form__input(type="email" id="email" placeholder="Ваш e-mail" data-input-mail required)
        +brown-button-submit.subscription-form__button.button--on-black
      
      .checkbox.subscription-form__checkbox
        label.checkbox__label
          input.checkbox__input(type="checkbox" id="checkbox" checked required)
          .checkbox__box
            +checkbox-svg.checkbox__svg

        .checkbox__caption.only-desktop
          |Нажимая на кнопку «Подписаться», вы соглашаетесь с
          br
          a(href="") политикой обработки персональных данных

        .checkbox__caption.only-mobile
          |Нажимая на кнопку «Подписаться», вы соглашаетесь с 
          a(href="") политикой обработки персональных данных
