-
  var test = 'test';

block variables
  -
    var param = false;
    var modalsContainer = false;


include ../components/svg

include ../components/header
include ../components/footer

include ../components/grid-test

include ../components/block-titles
include ../components/buttons
include ../components/picture


doctype html

html(lang='ru')
  
  head
    meta(charset="utf-8")
    title= data.title
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
  body.body.no-transition

    .wrapper

      block header
        +header

      main.main
        block content

      block footer
        +footer

      include ../components/mobile-nav

      block grid-test
        +grid-test
    
    if (modalsContainer == 'plug')
      .modals-container.plug
        include ../components/popups/plug-popup

        block modals

    else
      .modals-container
        include ../components/popups/booking-popup

        block modals

    .mobile-menu-container
      include ../components/popups/mobile-menu
      include ../components/popups/mobile-menu-item-1
      include ../components/popups/mobile-menu-item-2
      include ../components/popups/mobile-menu-item-3
        
    script(src="https://cdn.jsdelivr.net/npm/maska@1.5.0/dist/maska.js") 
    block scripts
      
