-
  var test = 'test'

block variables
  - var param = false



include ../components/svg

include ../components/header
include ../components/footer

include ../components/grid-test

include ../components/block-titles
include ../components/buttons
include ../components/picture


doctype html

html(lang='ru')
  
  head
    meta(charset="utf-8")
    title= data.title
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
  body.body.no-transition

    .wrapper

      block header
        +header

      main.main
        block content

      block footer
        +footer

      block grid-test
        +grid-test

    .modals-container
      include ../components/popups/booking-popup

      block modals
        
    script(src="https://cdn.jsdelivr.net/npm/maska@1.5.0/dist/maska.js") 
    block scripts
      
