mixin brown-button
  button.button.button--brown&attributes(attributes)
    block

mixin control-left
  button.restaurant-slider__control.button--clean&attributes(attributes)
    +arrow-left

mixin control-right
  button.restaurant-slider__control.button--clean&attributes(attributes)
    +arrow-right