mixin brown-button
  button.button.button--brown&attributes(attributes)
    block

mixin brown-button-link
  a.button.button--brown(href="")&attributes(attributes)
    block

mixin brown-border-button
  button.button.button--brown-border&attributes(attributes)
    block

mixin read-more-btn

  if (attributes.btn)
    button.button--clean.two-cols-block__link&attributes(attributes)
      block
  else
    a.two-cols-block__link(href="")
      block

mixin control-left
  button.slider-control.button--clean&attributes(attributes)
    +arrow-left

mixin control-right
  button.slider-control.button--clean&attributes(attributes)
    +arrow-right
    