mixin review-card
  .review-card
    .review-card__top
      .review-card__name Юлия
      .review-card__grade
        - for (i=0;i<4;i++)
          +grade-star.review-card__star.active
        +grade-star

    .review-card__txt
      |Богатый ассортимент, уют, комфорт и атмосфера, интересные люди, шикарный интерьер!!! Отличная вытяжка, которую в интерьере не сразу и заметишь.

    a.two-cols-block__link(href="") Читать полностью


//- mixin catalog-card
//-   .catalog-card
//-     .catalog-card__top
//-       .catalog-card__labels
//-         .catalog-card__labels-item.label-black NEW
//-         .catalog-card__labels-item.label-brown limited

//-       +favorites-icon.catalog-card__fav

//-       img(src='assets/images/shop-img-1.webp', alt="")

//-     .catalog-card__bottom
//-       div
//-         //- .catalog-card__brand #{item.brand}
//-         .catalog-card__title Вино Masseto, Toscana IGT

//-       .catalog-card__info
//-         .catalog-card__country
//-           +italy-flag
//-           |Италия
//-         .catalog-card__txt Красное, сухое, 750 мл

//-         .catalog-card__strong
//-           |Крепость
//-           .point

//-         .catalog-card__price
//-           span.current 165 750 ₽
//-           span.old 165 750 ₽

//-       +brown-button.catalog-card__btn
//-         |Добавить в корзину