form.category-search.only-desktop
  label.category-search__label
    input.category-search__input(type='search' placeholder='Поиск по каталогу')

  button.category-search__button(type='submit')
    +search-icon