mixin footer
  footer.footer

    .container

      .footer__top

        .footer__top-col

          .footer__top-ttl Главная
          
          each item in ['Клубная карта', 'Подарочные сертификаты', 'Справочная информация']

            a.footer__top-link(href="") #{item}


        .footer__top-col

          .footer__top-ttl Сигарный клуб
          
          each item in ['Хьюмидорная комната', 'Сигарный лаунж', 'Кабинет Фрейда', 'Винотека']

            a.footer__top-link(href="") #{item}
           

        .footer__top-col

          .footer__top-ttl Магазин
          
          each item in ['Сигары', 'Сигариллы', 'Подарочные наборы', 'Вина', 'Крепкие напитки', 'Аксессуары']

            a.footer__top-link(href="") #{item}


        .footer__top-col

          .footer__top-ttl Ресторан
          
          each item in ['Меню']

            a.footer__top-link(href="") #{item}


        .footer__top-col

          .footer__top-ttl Контакты
          
          //- each item in ['Меню']

          a.footer__top-link(href="") +7 (812) 454-56-56

          a.footer__top-link(href="") spb@freud.club

          a.footer__top-link(href="") г. Санкт-Петербург, #[br] ул. Малая Морская, дом 18

          .footer__socials
            a.icon-circle(href="")
              +vk-icon.vk-circle-ico

            a.icon-circle(href="")
              +tg-icon.tg-circle-ico

            a.icon-circle(href="")
              +wa-icon.wa-circle-ico

      .footer__bottom
        .footer__bottom-col

          .plus18
            img(src="assets/images/18plus.png", alt="")
            div На сайте используются фотографии курящих людей. #[br] Курение вредит вашему здоровью минздрав предупреждает

          div.footer__bottom-links-col
            a.footer__bottom-links(href="") Политика конфиденциальности
            a.footer__bottom-links(href="") Доставка и оплата

          .footer__corp © FREUD CLUB, 2018−2021

        .footer__bottom-col
          .footer__authors
            |Дизайн 
            a(href="") Mojo
          .footer__authors
            |Разработка и поддержка 
            a(href="") CloudMill