.mobile-nav
  a.mobile-nav__item.active
    +mob-nav-logo
    |Главная
  a.mobile-nav__item
    +mob-nav-shop
    |Магазин
  a.mobile-nav__item 
    +mob-nav-cigar
    |Сигарный клуб
  a.mobile-nav__item
    +mob-nav-rest
    |Главная
