if (!shopNav)

  .mobile-nav
    a.mobile-nav__item.active
      +mob-nav-logo
      |Главная
    a.mobile-nav__item
      +mob-nav-shop
      |Магазин
    a.mobile-nav__item 
      +mob-nav-cigar
      |Сигарный клуб
    a.mobile-nav__item
      +mob-nav-rest
      |Ресторан

else
  .mobile-nav
    a.mobile-nav__item(href="")
      +mob-nav-logo
      |Главная
    a.mobile-nav__item.active(href="")
      +mob-nav-shop
      |Магазин
    a.mobile-nav__item(href="")
      .mobile-nav__item-count
        +cart-icon
        .count-num 15
      |Корзина
    a.mobile-nav__item(href="")
      .mobile-nav__item-count
        +favorites-icon
        .count-num 15
      |Избранное
    .mobile-nav__item(data-popup-button='14')
      +search-icon
      |Поиск
